Repository replicatedhq/replicated-docs, pull requests merged in 2022-06, with the labels that each got.

#383 Document kots cli --port flag
  docs/reference/kots-cli-admin-console-index.md
  docs/reference/kots-cli-install.md
Labels: type::feature

#378 Update installing-general-requirements.md
  docs/enterprise/installing-general-requirements.md
Labels: peer-review-needed, type::chore, type::docs

#385 Add back release notes
  docs/release-notes/rn-app-manager.md
  docs/release-notes/rn-kubernetes-installer.md
Labels: type::chore

#388 Update helm-installing-native-helm.md
  docs/vendor/helm-installing-native-helm.md
Labels: type::bug, peer-review-needed, type::docs

#392 Update tutorial-installing-without-existing-cluster.md
  docs/vendor/tutorial-installing-without-existing-cluster.md
Labels: type::chore

#401 Update policies-vulnerability-patch.md
  docs/vendor/policies-vulnerability-patch.md
Labels: type::docs

#405 Add manual trigger to scrape job
  .github/workflows/algolia-crawl.yml
Labels: bug::normal, type::bug

#408 kots release notes v1.72.1
  docs/release-notes/rn-app-manager.md
Labels: type::docs, team::orange

#410 kurl release notes v2022-06-17-0
  docs/release-notes/rn-kubernetes-installer.md
Labels: type::docs, team::orange

#403 Update admin-console-display-app-status.md
  docs/vendor/admin-console-display-app-status.md
Labels: type::chore, type::docs

#414 Add list of CVEs addressed in weave add-on to release notes
  docs/release-notes/rn-kubernetes-installer.md
Labels: type::docs

#418 Update policies-support-lifecycle.md
  docs/vendor/policies-support-lifecycle.md
Labels: type::chore, type::docs

#400 Update helm-installing-native-helm.md
  docs/vendor/helm-installing-native-helm.md
  docs/vendor/helm-overview.md
Labels: type::chore, type::docs

#422 50499: document the releaseName field for the HelmChart CRD
  docs/reference/custom-resource-helmchart.md
Labels: type::docs, team::orange

#424 [2022.06.22-0] kubernetes installer release notes
  docs/release-notes/rn-kubernetes-installer.md
Labels: type::docs, team::orange

#426 Miawong/sc 50446/ability to link to the create new issue page
  src/theme/EditThisPage/index.js
  static/images/feedback-icon.svg
Labels: type::feature, team::orange

#425 Tags & digests can't be used together currently
  docs/vendor/packaging-private-images.md
Labels: type::docs

#432 release notes for v2022-06-29
  docs/release-notes/rn-kubernetes-installer.md
Labels: type::docs

#430 Update create a PR and issue Github icons
  src/theme/EditThisPage/index.js
  src/theme/EditThisPage/styles.module.css
  static/images/feedback-icon.svg
  static/images/git-pull-request.svg
  static/images/report.svg
Labels: type::chore, team::orange
