Repository replicatedhq/replicated-docs, pull requests merged in 2022-09, with the labels that each got.

#616 Add back CVE-2020-27847 to Known Disclosed Vulnerabilities in our On …
  docs/vendor/policies-vulnerability-patch.md
Labels: type::chore, type::docs, type::security

#613 Update vendor-portal-creating-account.md
  docs/vendor/vendor-portal-creating-account.md
Labels: type::feature, type::docs

#533 Update team-management.md
  docs/vendor/team-management.md
Labels: type::feature, type::docs

#633 Update vendor-portal-creating-account.md
  docs/vendor/vendor-portal-creating-account.md
Labels: type::feature

#562 Update team-management-rbac-resource-names.md
  docs/vendor/team-management-rbac-resource-names.md
Labels: type::feature, type::docs

#568 Update team-management-google-auth.md
  docs/vendor/team-management-google-auth.md
Labels: type::chore, type::docs

#595 Update releases-updating.md
  docs/vendor/releases-updating.md
Labels: type::chore, type::docs

#543 Update team-management.md
  docs/vendor/team-management.md
Labels: type::docs

#670 New label to identify kurl automated pr as type feature in release notes
  .github/workflows/kubernetes-installer-release-notes.yml
Labels: type::chore
