Repository replicatedhq/replicated-docs, pull requests merged in 2022-05, with the labels that each got.

#334 46679 add ecr registry details
  docs/vendor/packaging-private-images.md
Labels: type::feature, type::docs

#331 WAIT FOR RELEASE 45383 Document YamlEscape function
  docs/reference/template-functions-static-context.md
Labels: type::feature, type::docs, team::blue

#326 HOLD ON RELEASE: 46758: Change Password in Admin Console
  docs/enterprise/auth-changing-passwords.md
  sidebars.js
Labels: type::feature, peer-review-needed, type::docs

#291 [1.70.0] Document accept-anonymous-uploads flag
  docs/reference/kots-cli-reset-tls.md
Labels: type::docs, team::orange

#316 HOLD ON RELEASE - 46064: Docs for pin-latest-deployable flag for the get-versions cli command
  docs/reference/kots-cli-get-versions.md
Labels: type::feature, type::docs, team::orange

#332 WAIT FOR RELEASE 46581 add install order docs
  docs/reference/custom-resource-helmchart.md
  docs/vendor/helm-native-helm-install-order.md
Labels: type::feature, type::docs, team::blue

#342 Add missing 1.70.0 release notes
  docs/release-notes/rn-app-manager.md
Labels: type::feature, type::docs

#341 update license-fields rbac permissions docs
  docs/vendor/team-management-rbac-resource-names.md
Labels: type::feature, peer-review-done, type::docs, team::blue

#343 Add KOTS 1.70.0
  docs/release-notes/rn-kubernetes-installer.md
Labels: team::orange

#340 Tweak wording
  docs/release-notes/rn-app-manager.md
Labels: team::orange

#348 Add periods to all lines
  docs/release-notes/rn-kubernetes-installer.md
Labels: team::orange

#349 Fix typo in supportMinimalRBACPrivileges
  docs/vendor/packaging-rbac.md
Labels: team::orange

#346 V2022.05.06 0 release notes
  docs/release-notes/rn-kubernetes-installer.md
Labels: type::docs, team::orange

#350 Fix typo in supportMinimalRBACPrivileges
  docs/enterprise/installing-existing-cluster-requirements.md
  docs/reference/custom-resource-application.md
  docs/release-notes/rn-app-manager.md
  docs/vendor/packaging-rbac.md
  docs/vendor/tutorial-installing-with-cli.md
  docs/vendor/tutorial-installing-with-existing-cluster.md
Labels: team::orange

#352 Add version auto deploy was added
  docs/enterprise/updating-apps.md
Labels: type::chore, team::orange

#353 kurl release notes for v2022.05.10-0 and v2022.05.11-0
  docs/release-notes/rn-kubernetes-installer.md
Labels: type::docs

#356 kurl v2022.05.16-0
  docs/release-notes/rn-kubernetes-installer.md
Labels: type::docs

#324 give an example of the sealedsecret certificate
  docs/enterprise/gitops-managing-secrets.md
Labels: type::docs, team::blue

#364 KOTS v1.70.1 Release Notes
  docs/release-notes/rn-app-manager.md
Labels: type::chore, type::docs, team::orange

#365 kURL v2022.05.19-0 Release Notes
  docs/release-notes/rn-kubernetes-installer.md
Labels: type::chore, type::docs, team::orange
