Repository replicatedhq/replicated-docs, pull requests merged in 2022-08, with the labels that each got.

#512 Update kubectl versions and wording
  docs/reference/custom-resource-application.md
Labels: type::feature

#520 how to use SAML log in
  docs/vendor/team-management-saml-auth.md
Labels: type::bug, type::docs

#523 [v2022.08.11-0] Kubernetes installer release notes
  docs/release-notes/rn-kubernetes-installer.md
Labels: type::docs

#524 Release v2022.08.12-0
  docs/release-notes/rn-kubernetes-installer.md
Labels: type::docs

#526 Update team-management-rbac-resource-names.md
  docs/vendor/team-management-rbac-resource-names.md
Labels: type::bug, type::docs

#525 kots v1.81.0 release notes
  docs/release-notes/rn-app-manager.md
Labels: type::chore

#517 Default to Helm v3
  docs/reference/custom-resource-helmchart.md
  docs/vendor/helm-processing.md
Labels: type::feature, type::docs

#508 HOLD FOR RELEASE update support for image tags and digests
  docs/vendor/packaging-private-images.md
Labels: type::feature, type::docs

#532 Update team-management-rbac-resource-names.md
  docs/vendor/team-management-rbac-resource-names.md
Labels: type::bug, type::docs

#531 Clarify native Helm uses v3 to deploy
  docs/reference/custom-resource-helmchart.md
Labels: type::feature

#530 Clarify purpose of two objects
  docs/reference/custom-resource-redactor.md
Labels: type::chore

#535 Kurl Release v2022.08.16-0
  docs/release-notes/rn-kubernetes-installer.md
Labels: type::docs

#537 Fix Kubernetes capitalization
  docs/vendor/preflight-host-preflights.md
Labels: type::chore

#540 update install instructions for embedded tutorial
  docs/vendor/tutorial-installing-without-existing-cluster.md
Labels: type::chore, type::docs

#521 Update team-management-google-auth.md
  docs/vendor/team-management-google-auth.md
  docs/vendor/team-management.md
Labels: type::feature, type::docs

#544 Update supported Velero versions in KOTS
  docs/vendor/snapshots-overview.md
Labels: type::chore

#548 v2022.08.22-0 release notes
  docs/release-notes/rn-kubernetes-installer.md
Labels: type::docs

#550 fix link typo
  docs/vendor/tutorial-ci-cd-integration.md
Labels: type::docs

#557 Fix link to local dev section
  README.md
Labels: type::chore

#559 Fix K8s SIG Apps refs and links
  docs/reference/custom-resource-application.md
  docs/reference/custom-resource-sig-application.md
  docs/vendor/admin-console-adding-buttons-links.md
Labels: type::chore

#565 2022-08-25-0 release notes, second try
  docs/release-notes/rn-kubernetes-installer.md
Labels: type::docs

#577 Kubernetes installer release notes generator github action dispatch
  .github/workflows/kubernetes-installer-release-notes.yml
Labels: type::chore
