Repository replicatedhq/replicated-docs, pull requests merged in 2022-03, with the labels that each got.

#182 44019 content diff for minkotsversion
  docs/reference/custom-resource-application.md
Labels: type::docs

#188 44020 content diff
  docs/reference/custom-resource-application.md
Labels: type::docs

#189 adds one month of kurl rns
  docs/release-notes/rn-kubernetes-installer.md
  sidebars.js
Labels: type::docs

#192 44026 replaces KOTS with kots CLI
  docs/reference/kots-cli-global-flags.md
Labels: type::docs

#191 44108 add links back to kots and kurl for earlier RNs
  docs/release-notes/rn-app-manager.md
  docs/release-notes/rn-kubernetes-installer.md
Labels: type::docs

#193 44047 Edits for clarity and style to the update/delete license fields procedures
  docs/vendor/licenses-adding-custom-fields.md
Labels: type::docs

#195 feat(rn): release notes kots 1.66.0
  docs/release-notes/rn-app-manager.md
  docs/release-notes/rn-kubernetes-installer.md
Labels: type::docs, team::orange

#202 Add no-port-forward flag
  docs/reference/kots-cli-install.md
Labels: type::feature

#203 Add missing flags to kots restore
  docs/reference/kots-cli-restore-index.md
Labels: type::feature

#204 Fix typos and use backticks for code
  docs/enterprise/installing-embedded-cluster-requirements.md
  docs/enterprise/installing-embedded-cluster.md
  docs/enterprise/installing-existing-cluster-airgapped.md
  docs/enterprise/installing-existing-cluster-online.md
  docs/enterprise/installing-overview.md
  docs/enterprise/snapshots-configuring-hostpath.md
  docs/enterprise/snapshots-configuring-nfs.md
  docs/enterprise/snapshots-storage-destinations.md
  docs/reference/custom-resource-backup.md
  docs/vendor/packaging-ingress.md
  docs/vendor/packaging-rbac.md
Labels: type::docs

#200 44393 adds semver topics
  docs/reference/replicated-cli-channel-disable-semver.md
  docs/reference/replicated-cli-channel-enable-semver.md
  docs/vendor/releases-semantic-versioning.md
  docs/vendor/releases-understanding.md
  sidebars.js
Labels: type::docs

#205 updated link text
  docs/vendor/team-management-saml-auth.md
Labels: type::docs

#206 44555 fixes broken links
  docs/reference/custom-resource-application.md
  docs/templates/procedure.md
  docs/vendor/helm-airgap-builder.md
  docs/vendor/helm-mapping-example.md
  docs/vendor/kubernetes-installers-about.md
  docs/vendor/kubernetes-installers-advanced-options.md
  docs/vendor/kubernetes-installers-creating-api.md
  docs/vendor/kubernetes-installers-creating-ui.md
  docs/vendor/operator-defining-additional-namespaces.md
  docs/vendor/packaging-priorities.md
  docs/vendor/packaging-private-images.md
Labels: type::docs

#209 44614 limits heading level to 2 on rns
  docs/release-notes/rn-app-manager.md
  docs/release-notes/rn-kubernetes-installer.md
Labels: type::docs

#207 add Strict preflight Checks docs
  docs/enterprise/installing-existing-cluster-online.md
Labels: type::feature, type::docs, team::blue

#211 44621 adds support lifecycle policy page
  docs/vendor/policies-support-lifecycle.md
  sidebars.js
Labels: type::docs

#215 Small wording changes
  docs/reference/custom-resource-application.md
Labels: type::docs, team::orange

#217 Release notes for v2022.03.11-0
  docs/release-notes/rn-kubernetes-installer.md
Labels: type::docs, team::blue

#214 44638 edit support policy tables
  docs/vendor/policies-support-lifecycle.md
Labels: type::docs

#219 Update references to new --no-port-forward flag
  docs/enterprise/installing-existing-cluster-automation.md
  docs/vendor/tutorial-installing-air-gap-existing-cluster-gcp.md
Labels: type::docs, team::orange

#218 hold: prep for saml accont conflict
  docs/vendor/team-management-saml-auth.md
  docs/vendor/team-management.md
Labels: type::docs

#227 Copies all kURL release notes
  docs/release-notes/rn-kubernetes-installer.md
Labels: type::docs

#228 Tutorial update disk space requirement
  docs/vendor/tutorial-installing-without-existing-cluster.md
Labels: type::docs

#234 44979 add the pdf to github
  docs/release-notes/app-manager-release-notes.pdf
Labels: type::docs

#237 Use "Kubernetes installer-created" terminology
  docs/enterprise/image-registry-embedded-cluster.md
  docs/enterprise/updating-embedded-cluster.md
  docs/enterprise/updating-existing-cluster.md
  docs/reference/kots-cli-getting-started.md
  docs/vendor/packaging-ingress.md
  docs/vendor/tutorial-installing-with-existing-cluster.md
Labels: team::orange

#238 delete note in app manager rns
  docs/release-notes/rn-app-manager.md
Labels: type::docs

#216 [1.67.0] 44677 new info about automatic deploys and udpates
  docs/enterprise/updating-apps.md
Labels: type::docs

#212 [1.67.0] add preflight check docs
  docs/enterprise/installing-existing-cluster-airgapped.md
  docs/enterprise/installing-existing-cluster-automation.md
  docs/enterprise/installing-existing-cluster-online.md
  docs/enterprise/updating-apps.md
  docs/reference/custom-resource-application.md
  docs/reference/kots-cli-set-config.md
  docs/reference/kots-cli-upload.md
  docs/reference/kots-cli-upstream-upgrade.md
  docs/vendor/preflight-support-bundle-creating.md
  docs/vendor/tutorial-installing-air-gap-existing-cluster-gcp.md
  docs/vendor/tutorial-installing-air-gap.md
  docs/vendor/tutorial-installing-with-cli.md
  docs/vendor/tutorial-installing-with-existing-cluster.md
  docs/vendor/tutorial-installing-without-existing-cluster.md
  static/images/manual-run-preflights.png
Labels: type::docs

#239 44401 adds rn template
  docs/templates/release-notes.md
Labels: type::docs

#244 Add release note for kURL app-version-label
  docs/release-notes/rn-kubernetes-installer.md
Labels: team::orange

#246 45243 relative link to the pdf rather than github link
  docs/pdfs/app-manager-release-notes.pdf
  docs/release-notes/rn-app-manager.md
Labels: type::docs

#247 45361 removes out of date field
  docs/vendor/releases-promoting.md
Labels: type::docs

#248 Release notes for v2022.03.22-0
  docs/release-notes/rn-kubernetes-installer.md
Labels: team::orange

#250 45389 update troubleshoot CRs to v1beta2
  docs/reference/custom-resource-about.md
Labels: type::docs

#249 Remove extra v for version
  docs/release-notes/rn-kubernetes-installer.md
Labels: team::orange

#257 45256 removes outdated flag and formatting updates
  docs/reference/replicated-cli-release-promote.md
Labels: type::docs

#258 45432 fixes markdown formatting issues
  docs/enterprise/updating-apps.md
Labels: type::docs

#259 45456 fixes broken links
  docs/release-notes/rn-kubernetes-installer.md
Labels: type::docs

#261 44878 Adds more details about license expiration handling
  docs/vendor/licenses-about.md
  docs/vendor/licenses-using-builtin-fields.md
Labels: type::docs
