Repository replicatedhq/replicated-docs, pull requests merged in 2022-04, with the labels that each got.

#272 .airgap is not a thing for kURL
  docs/enterprise/installing-embedded-cluster.md
Labels: type::docs

#267 [1.68.0] pagination flags for 'kots get versions' command
  docs/reference/kots-cli-get-versions.md
Labels: type::feature, type::docs, team::orange

#262 [1.68.0] 45428: Add `supportsMinimalRBACPrivilege` feature
  docs/enterprise/installing-existing-cluster-requirements.md
  docs/reference/custom-resource-application.md
  docs/vendor/packaging-rbac.md
  docs/vendor/preflight-support-bundle-creating.md
  docs/vendor/tutorial-installing-with-cli.md
  docs/vendor/tutorial-installing-with-existing-cluster.md
Labels: team::orange

#255 [1.68.0] document use-minimal-rbac flag
  docs/reference/kots-cli-install.md
Labels: type::docs, team::orange

#260 [1.68.0] WAIT UNTIL RELEASE TO MERGE 45256 adds --required flag
  docs/reference/replicated-cli-release-promote.md
Labels: type::docs

#276 45984 Typo edits
  docs/vendor/packaging-private-images.md
Labels: type::docs

#280 Fixes typo
  docs/vendor/licenses-about-types.md
Labels: type::docs

#284 kurl v2022.04.08-0
  docs/release-notes/rn-kubernetes-installer.md
Labels: type::docs, team::blue

#288 Fix capitalization and voice
  docs/release-notes/rn-kubernetes-installer.md
Labels: team::orange

#279 Do Not Merge - Blocked on Release - 46047 changing community licenses
  docs/vendor/licenses-about-types.md
Labels: type::docs

#278 Do Not Merge - Blocked on Release - 46047 Changing Community License
  docs/enterprise/updating-licenses.md
Labels: type::docs

#292 Add missing release note for kubernetes installer v2022.04.08-0
  docs/release-notes/rn-kubernetes-installer.md
Labels: type::docs, team::orange

#296 46371 clarify examples in commands
  docs/enterprise/installing-embedded-cluster.md
Labels: type::docs

#300 Auto updates only deploy if preflights pass
  docs/enterprise/updating-apps.md
Labels: team::orange

#282 46010 adds offsite backup add-on doc
  docs/vendor/offsite-backup.md
  static/images/offsite-backup.png
Labels: type::docs

#307 Add the location of the sealed secret public key
  docs/enterprise/gitops-managing-secrets.md
Labels: type::docs, team::blue

#306 43877 adds info about viewing large imgs
  README.md
Labels: type::docs

#308 46045 Clarify the difference between kotsadm bundle & airgap bundle
  docs/enterprise/installing-existing-cluster-airgapped.md
Labels: type::docs

#310 44514 replace unicode quotes with ascii
  docs/reference/template-functions-kurl-context.md
Labels: type::docs

#301 46010 enlarge diagram
  static/images/offsite-backup.png
Labels: type::docs

#309 42264 add link for pinning versions
  docs/vendor/packaging-embedded-kubernetes.md
Labels: type::docs

#313 Fix size to match
  docs/vendor/team-management-rbac-resource-names.md
Labels: type::docs

#315 Fix invalid variadic config syntax
  docs/reference/custom-resource-config.md
Labels: team::orange

#317 --use-restic flag when installing velero
  docs/enterprise/snapshots-restoring-full.md
Labels: type::docs, team::orange

#302 46447 adds data section
  docs/vendor/data-availability.md
  sidebars.js
  static/images/data-storage.png
Labels: type::docs

#333 46676 add links to ecr tutorial
  docs/vendor/packaging-private-images.md
Labels: type::feature, type::docs

#335 Release kURL v2022.04.29
  docs/release-notes/rn-kubernetes-installer.md
Labels: type::docs
