Repository replicatedhq/replicated-docs, pull requests merged in 2023-05, with the labels that each got.

#1115 Fix typo in embedded prereqs
  docs/partials/install/_prereqs-embedded-cluster.mdx
Labels: type::feature, type::docs

#1118 Fix Item Validation title in link
  docs/reference/custom-resource-config.md
Labels: type::feature, type::docs

#1114 75280: Improve Helm Deployment Content
  docs/vendor/helm-install.md
  docs/vendor/helm-overview.md
Labels: type::feature, type::docs

#1124 Update packaging-include-resources.md
  docs/vendor/packaging-include-resources.md
Labels: type::feature, type::docs

#1123 Correct air gap install for kurl clusters
  docs/enterprise/installing-embedded-airgapped.md
  docs/enterprise/installing-embedded-cluster.md
  docs/enterprise/installing-existing-cluster-airgapped.md
  docs/enterprise/installing-existing-cluster.md
  docs/enterprise/installing-general-requirements.mdx
  docs/partials/image-registry/_image-registry-airgap-about.mdx
  docs/partials/image-registry/_image-registry-airgap-prereq.mdx
  docs/partials/install/_airgap-bundle-prereq.mdx
  docs/partials/install/_embedded-admin-console-step.mdx
  docs/partials/install/_embedded-ha-step.mdx
  docs/partials/install/_embedded-login-password.mdx
  docs/partials/install/_kots-cli-install.mdx
  docs/partials/install/_license-file-prereq.mdx
  docs/partials/install/_prereqs-embedded-cluster.mdx
  docs/partials/install/_prereqs-existing-cluster.mdx
Labels: type::feature, type::docs

#1128 add link to releases page
  docs/reference/replicated-cli-installing.md
Labels: type::chore

#1127 76117: Move Annotations, Kubernetes Jobs, and Kubernetes Objects in TOC
  sidebars.js
Labels: type::feature, type::docs

#1133 76320: Consolidate Team RBAC Content
  docs/vendor/team-management-github-username.mdx
  docs/vendor/team-management-rbac-about.md
  docs/vendor/team-management-rbac-configuring.md
  docs/vendor/team-management-saml-auth.md
  docs/vendor/team-management.md
  netlify.toml
  sidebars.js
Labels: type::feature, type::docs

#1136 Add clarification between HelmChart and Helm chart files
  docs/vendor/helm-install.md
Labels: type::feature, type::docs

#1135 76326: Add screenshots to Team content
  docs/vendor/custom-domains.md
  docs/vendor/team-management-github-username.mdx
  docs/vendor/team-management.md
  static/images/account-info.png
  static/images/custom-domains-configure.png
  static/images/custom-domains-download-configure.png
  static/images/custom-domains-download-portal.png
  static/images/custom-domains-page.png
  static/images/custom-domains-snippet.png
  static/images/saml-auth.png
  static/images/teams-auto-join.png
  static/images/teams-edit-permissions.png
  static/images/teams-invite-member.png
  static/images/teams-view.png
Labels: type::feature, type::docs

#1138 update action/checkout to v3
  .github/workflows/algolia-crawl.yml
  .github/workflows/app-manager-release-notes.yml
  .github/workflows/kubernetes-installer-release-notes.yml
Labels: type::chore, type::docs

#1144 fix broken link
  docs/vendor/helm-release-creating-package.md
Labels: type::feature, type::docs

#1052 HOLD FOR RELEASE: Adds adoption rate docs
  docs/vendor/customer-adoption.md
  docs/vendor/customer-reporting.md
  docs/vendor/instance-insights-details.md
  docs/vendor/instance-insights-event-data.md
  docs/vendor/licenses-about.md
  sidebars.js
  static/images/adoption_rate_graph.png
  static/images/adoption_rate_metrics.png
  static/images/customer-page-details.png
  static/images/customer-page.png
  static/images/customer_adoption_rates.png
Labels: type::feature, type::docs

#1152 add section about restore warnings
  docs/enterprise/snapshots-troubleshooting-backup-restore.md
  static/images/snapshot-troubleshoot-restore-warnings.png
Labels: type::chore

#1153 Update Kustomize version references
  docs/reference/custom-resource-application.md
Labels: type::feature, type::docs

#1145 add k8s v1.27 for app manager release notes
  .github/workflows/app-manager-release-notes.yml
Labels: type::chore

#1146 update kots compatibility matrix with k8s v1.97
  docs/partials/install/_kubernetes-compatibility.mdx
Labels: type::chore, type::docs

#1147 Updates support policies with k8s 1.27
  docs/vendor/policies-support-lifecycle.md
Labels: type::feature, type::docs

#1157 link to helmchart v2 in release notes
  docs/release-notes/rn-app-manager.md
Labels: type::feature, type::docs

#1158 Remove 1.23 with eol
  docs/partials/install/_kubernetes-compatibility.mdx
  docs/vendor/policies-support-lifecycle.md
Labels: type::feature, type::docs

#1159 77116: Remove App Layer Identity Service
  docs/reference/custom-resource-identity.md
  docs/templates/procedure.md
  docs/vendor/distributing-workflow.md
  docs/vendor/identity-service-configuring.md
  docs/vendor/licenses-using-builtin-fields.md
  docs/vendor/preflight-support-bundle-creating.md
  docs/vendor/releases-creating-customer.md
  netlify.toml
  sidebars.js
Labels: type::feature, type::docs

#1150 HOLD FOR RELEASE: Remove mention of admin-console Helm chart (Part I)
  docs/partials/helm/_helm-cli-limitations.mdx
  docs/vendor/helm-install.md
Labels: type::feature, type::docs

#1164 Update policies-support-lifecycle.md
  docs/vendor/policies-support-lifecycle.md
Labels: type::feature, type::docs

#1167 Add link to the About Instance and Event Data
  docs/vendor/policies-data-transmission.md
Labels: type::feature, type::docs

#1169 remove k8s 1.27 support in KOTS
  docs/partials/install/_kubernetes-compatibility.mdx
  docs/release-notes/rn-app-manager.md
  docs/vendor/policies-support-lifecycle.md
Labels: type::feature, type::docs

#1173 fix broken link
  docs/vendor/helm-install.md
Labels: type::feature, type::docs

#1174 Update namespaces.md
  docs/vendor/namespaces.md
Labels: type::feature, type::docs

#1139 Sidebars Phase I: Removes Packaging section and Creates HTML dividers
  docs/intro.md
  docs/partials/getting-started/_vm-requirements.mdx
  docs/reference/replicated-cli-installing.md
  docs/release-notes/rn-whats-new.md
  docs/vendor/database-config-adding-options.md
  docs/vendor/distributing-workflow.md
  docs/vendor/namespaces.md
  docs/vendor/releases-configvalues.md
  docs/vendor/releases-creating-channels.md
  docs/vendor/releases-creating-customer.md
  docs/vendor/releases-sharing-license-install-script.md
  docs/vendor/tutorial-cli-update-app.mdx
  docs/vendor/tutorial-ui-update-app.md
  docs/vendor/vendor-portal-creating-account.md
  sidebars.js
  src/css/custom.css
Labels: type::feature, type::docs

#1166 Sc73917: Explain --undeploy flag
  docs/reference/kots-cli-remove.md
Labels: type::feature, type::docs

#1183 Adds 1.27 support
  docs/partials/install/_kubernetes-compatibility.mdx
  docs/vendor/policies-support-lifecycle.md
Labels: type::feature, type::docs

#1177 add section for orchestrating resource deployment
  docs/vendor/orchestrating-resource-deployment.md
  sidebars.js
Labels: type::feature, type::docs

#1185 78308: Changed the wording in the notes for Orchestration
  docs/release-notes/rn-app-manager.md
  docs/vendor/orchestrating-resource-deployment.md
Labels: type::feature, type::docs

#1191 Update offsite-backup.md
  docs/vendor/offsite-backup.md
Labels: type::feature, type::docs

#1193 Remove blank topic
  docs/vendor/packaging-planning-checklist.md
Labels: type::feature, type::docs

#1187 DO NOT MERGE 78338: Rebrand Enterprise Snapshots and Troubleshooting
  docs/enterprise/delete-admin-console.md
  docs/enterprise/snapshots-configuring-hostpath.md
  docs/enterprise/snapshots-configuring-nfs.md
  docs/enterprise/snapshots-creating.md
  docs/enterprise/snapshots-restoring-full.md
  docs/enterprise/snapshots-storage-destinations.md
  docs/enterprise/snapshots-troubleshooting-backup-restore.md
  docs/enterprise/snapshots-understanding.md
  docs/enterprise/snapshots-updating-with-admin-console.md
  docs/enterprise/snapshots-velero-cli-installing.md
  docs/enterprise/snapshots-velero-installing-config.md
  docs/enterprise/status-viewing-details.md
  docs/partials/snapshots/_registryCredentialsNote.mdx
  docs/partials/snapshots/_restoreTable.mdx
  docs/partials/snapshots/_updateDefaultStorage.mdx
Labels: type::feature, type::docs

#1188 DO NOT MERGE 78380: Rebranding: Vendor CRs, Kubernetes Installers, He…
  docs/partials/helm/_helm-template-limitation.mdx
  docs/partials/helm/_helm-version-limitation.mdx
  docs/reference/custom-resource-about.md
  docs/reference/custom-resource-application.md
  docs/reference/custom-resource-backup.md
  docs/reference/custom-resource-config.md
  docs/reference/custom-resource-helmchart-v2.mdx
  docs/reference/custom-resource-helmchart.mdx
  docs/reference/custom-resource-preflight.md
  docs/vendor/helm-install.md
  docs/vendor/helm-native-helm-install-order.md
  docs/vendor/helm-optional-charts.md
  docs/vendor/helm-optional-value-keys.md
  docs/vendor/helm-overview.md
  docs/vendor/helm-release.md
  docs/vendor/packaging-embedded-kubernetes.md
  docs/vendor/packaging-installer-storage.md
  docs/vendor/packaging-using-tls-certs.md
  docs/vendor/preflight-host-preflights.md
  docs/vendor/preflight-support-bundle-creating.md
  docs/vendor/support-host-support-bundles.md
  docs/vendor/support-modular-support-bundle-specs.md
  docs/vendor/support-online-support-bundle-specs.md
  docs/vendor/support-submit-request.md
Labels: type::feature, type::docs

#1176 DO NOT MERGE - 78022: Rebrand Enterprise Install & Private Registries
  docs/enterprise/cluster-management-add-nodes.md
  docs/enterprise/delete-admin-console.md
  docs/enterprise/image-registry-embedded-cluster.md
  docs/enterprise/image-registry-rate-limits.md
  docs/enterprise/image-registry-settings.md
  docs/enterprise/installing-embedded-airgapped.md
  docs/enterprise/installing-embedded-cluster.md
  docs/enterprise/installing-existing-cluster-airgapped.md
  docs/enterprise/installing-existing-cluster-automation.md
  docs/enterprise/installing-existing-cluster.md
  docs/enterprise/installing-general-requirements.mdx
  docs/enterprise/installing-overview.md
  docs/enterprise/installing-stateful-component-requirements.md
  docs/enterprise/sbom-validating.md
  docs/partials/image-registry/_image-registry-settings.mdx
  docs/partials/install/_automation-intro-embedded.mdx
  docs/partials/install/_automation-intro-existing.mdx
  docs/partials/install/_ha-load-balancer-about.mdx
  docs/partials/install/_install-app-admin-console-intro-air-gap.mdx
  docs/partials/install/_install-app-admin-console-intro-online.mdx
  docs/partials/install/_install-app-admin-console.mdx
  docs/partials/install/_intro-embedded.mdx
  docs/partials/install/_intro-existing.mdx
  docs/partials/install/_kots-about.mdx
  docs/partials/install/_kots-install-prompts.mdx
  docs/partials/install/_kubernetes-compatibility.mdx
  docs/partials/install/_kurl-about.mdx
  docs/partials/install/_placeholder-app-name-UI.mdx
  docs/partials/install/_placeholder-namespace-existing.mdx
  docs/partials/install/_placeholders-global.mdx
  docs/partials/install/_prereqs-embedded-cluster.mdx
  docs/partials/install/_prereqs-existing-cluster.mdx
  docs/partials/install/_provision-cluster-intro.mdx
  docs/reference/kots-cli-install.md
  sidebars.js
Labels: type::feature, type::docs

#1171 DO NOT MERGE - 77878: Rebranding Team Management, Channels and Releases
  docs/vendor/custom-domains.md
  docs/vendor/releases-about.md
  docs/vendor/releases-creating-cli.mdx
  docs/vendor/releases-creating-releases.mdx
  docs/vendor/repository-workflow-and-tagging-releases.md
  docs/vendor/team-management-github-username.mdx
  docs/vendor/team-management-google-auth.md
  docs/vendor/team-management-rbac-configuring.md
  docs/vendor/team-management-rbac-resource-names.md
  docs/vendor/team-management-saml-auth.md
  docs/vendor/tutorial-ci-cd-integration.md
  docs/vendor/vendor-portal-creating-account.md
Labels: type::feature, type::docs

#1156 77302: Created partials for generating support bundles content
  docs/enterprise/troubleshooting-an-app.md
  docs/enterprise/troubleshooting-an-app.mdx
  docs/partials/support-bundles/_generate-bundle-admin-console.mdx
  docs/partials/support-bundles/_generate-bundle-cli-admin-console.mdx
  docs/partials/support-bundles/_generate-bundle-default-kots.mdx
  docs/partials/support-bundles/_generate-bundle-host.mdx
  docs/partials/support-bundles/_generate-bundle.mdx
  docs/partials/support-bundles/_install-plugin.mdx
Labels: type::feature, type::docs

#1178 Rebranding Intro, Release Notes, Getting Started
  docs/intro-replicated.md
  docs/intro.md
  docs/partials/getting-started/_vm-requirements.mdx
  docs/release-notes/rn-app-manager.md
  docs/release-notes/rn-kubernetes-installer.md
  docs/vendor/distributing-workflow.md
  docs/vendor/tutorial-cli-create-customer.mdx
  docs/vendor/tutorial-cli-create-new-version.mdx
  docs/vendor/tutorial-cli-create-release.mdx
  docs/vendor/tutorial-cli-deploy-app.mdx
  docs/vendor/tutorial-cli-install-app-manager.mdx
  docs/vendor/tutorial-cli-update-app.mdx
  docs/vendor/tutorial-ui-create-app.md
  docs/vendor/tutorial-ui-create-customer.md
  docs/vendor/tutorial-ui-create-new-version.md
  docs/vendor/tutorial-ui-create-release.md
  docs/vendor/tutorial-ui-deploy-app.md
  docs/vendor/tutorial-ui-install-app-manager.md
  docs/vendor/tutorial-ui-setup.mdx
  docs/vendor/tutorial-ui-update-app.md
  static/images/replicated-components-diagram.png
Labels: type::feature, type::docs

#1168 DO NOT MERGE: private images and config screen rebranding
  docs/reference/template-functions-config-context.md
  docs/vendor/admin-console-customize-config-screen.md
  docs/vendor/config-screen-about.md
  docs/vendor/config-screen-map-inputs.md
  docs/vendor/helm-mapping-example.md
  docs/vendor/packaging-private-images.md
  docs/vendor/private-images-about.md
  docs/vendor/private-images-tags-digests.md
  docs/vendor/tutorial-ecr-private-images.md
  static/images/config-screen-sentry-enterprise-app-install.png
Labels: type::feature, type::docs

#1182 Rebranding packaging topics
  docs/vendor/namespaces.md
  docs/vendor/operator-defining-additional-images.md
  docs/vendor/operator-defining-additional-namespaces.md
  docs/vendor/packaging-air-gap-excluding-minio.md
  docs/vendor/packaging-kots-versions.md
  docs/vendor/packaging-rbac.md
  docs/vendor/releases-configvalues.md
  docs/vendor/releases-sharing-license-install-script.md
  docs/vendor/repository-workflow-and-tagging-releases.md
  docs/vendor/tutorial-ci-cd-integration.md
  sidebars.js
Labels: type::feature, type::docs

#1170 DO NOT MERGE: Instance Insights, Snapshots, and Resources/Objects Rebranding
  docs/partials/instance-insights/_appCheckins.mdx
  docs/vendor/customer-reporting.md
  docs/vendor/instance-insights-details.md
  docs/vendor/instance-insights-event-data.md
  docs/vendor/packaging-cleaning-up-jobs.md
  docs/vendor/packaging-include-resources.md
  docs/vendor/packaging-ingress.md
  docs/vendor/snapshots-configuring-backups.md
  docs/vendor/snapshots-hooks.md
  docs/vendor/snapshots-overview.md
  docs/vendor/tutorial-adding-db-config.md
Labels: type::feature, type::docs

#1194 Rebrand missing topics #1
  docs/vendor/admin-console-adding-buttons-links.md
  docs/vendor/admin-console-display-app-status.md
  docs/vendor/helm-image-registry.md
  docs/vendor/helm-native-helm-install-order.md
  docs/vendor/helm-optional-value-keys.md
  docs/vendor/helm-release.md
  docs/vendor/instance-insights-details.md
  docs/vendor/licenses-adding-custom-fields.md
  docs/vendor/licenses-referencing-fields.md
  docs/vendor/packaging-rbac.md
  docs/vendor/policies-support-lifecycle.md
  docs/vendor/snapshots-overview.md
  docs/vendor/tutorial-cli-update-app.mdx
Labels: type::feature, type::docs

#1195 missing app managers
  docs/vendor/admin-console-adding-buttons-links.md
Labels: type::feature, type::docs

#1196 78488: Changed App Manager to KOTS
  docs/partials/helm/_helm-cr-exclude.mdx
  docs/partials/helm/_helm-cr-intro.mdx
  docs/partials/helm/_helm-cr-namespace.mdx
  docs/partials/helm/_helm-cr-optional-values-recursive-merge.mdx
  docs/partials/helm/_helm-cr-upgrade-flags.mdx
  docs/partials/install/_placeholder-namespace-embedded.mdx
  docs/reference/kots-cli-admin-console-generate-manifests.md
  docs/reference/kots-cli-remove.md
  docs/reference/template-functions-static-context.md
  docs/vendor/licenses-about-types.md
  docs/vendor/namespaces.md
  docs/vendor/operator-referencing-images.md
  docs/vendor/packaging-embedded-kubernetes.md
  docs/vendor/packaging-kots-versions.md
  docs/vendor/tutorial-ui-update-app.md
Labels: type::feature, type::docs

#1197 Missing kurl rebranding
  docs/enterprise/snapshots-config-workflow.md
  docs/intro-replicated.md
  docs/reference/kots-cli-enable-ha.md
  docs/reference/kots-cli-velero-index.md
  docs/reference/linter.mdx
  docs/reference/template-functions-about.mdx
  docs/reference/template-functions-kurl-context.md
  docs/vendor/admin-console-prometheus-monitoring.md
  docs/vendor/helm-install.md
  docs/vendor/packaging-installer-storage.md
  docs/vendor/packaging-using-tls-certs.md
  docs/vendor/snapshots-hooks.md
  docs/vendor/support-online-support-bundle-specs.md
Labels: type::feature, type::docs

#1198 Rebranding fix
  docs/vendor/instance-insights-details.md
Labels: type::feature, type::docs
