Repository replicatedhq/replicated-docs, pull requests merged in 2023-06, with the labels that each got.

#1201 Fix app manager release notes generation
  .github/workflows/app-manager-release-notes.yml
Labels: type::feature, type::docs

#1202 another attempt at fixing generating app manager release notes
  .github/workflows/app-manager-release-notes.yml
  docs/release-notes/rn-app-manager.md
Labels: type::feature, type::docs

#1204 fix generating kubernetes insaller release notes
  .github/workflows/kubernetes-installer-release-notes.yml
  docs/release-notes/rn-kubernetes-installer.md
Labels: type::feature, type::docs

#1206 fix RBAC resource names for custom hostnames
  docs/vendor/team-management-rbac-resource-names.md
Labels: type::feature, type::docs

#1207 Replace settings screenshot
  docs/vendor/releases-about-channels.md
  static/images/channel-settings.png
Labels: type::feature, type::docs

#1209 Fix private registries content
  docs/vendor/packaging-private-images.md
Labels: type::feature, type::docs

#1211 add xref to helmchart CR topic
  docs/vendor/helm-release.md
Labels: type::feature, type::docs

#1212 fix: add kotsadm-rolebinding metadata name
  docs/vendor/packaging-rbac.md
Labels: type::feature, type::docs

#1217 Update licenses-adding-custom-fields.md
  docs/vendor/licenses-adding-custom-fields.md
  static/images/customer-license-custom-fields.png
  static/images/license-add-custom-field.png
Labels: type::feature, type::docs

#1210 78812: Notifications - Alpha Docs
  docs/partials/instance-insights/_notifications-about.mdx
  docs/vendor/instance-notifications-config.mdx
  docs/vendor/team-management-slack-config.mdx
  sidebars.js
  static/images/customer-instances.png
  static/images/instance-notifications-dialog.png
  static/images/instance-notifications.png
Labels: type::feature, type::docs

#1221 Add alpha notice and how to get access
  docs/partials/instance-insights/_notifications-about.mdx
Labels: type::feature, type::docs

#1214 Don't mention overrides
  docs/partials/custom-domains/_use-custom-domain.mdx
  docs/vendor/releases-about-channels.md
  docs/vendor/releases-sharing-license-install-script.md
  static/images/channel-settings.png
Labels: type::feature, type::docs

#1222 add Knock Labs to infrastructure providers
  docs/vendor/policies-infrastructure-and-subprocessors.md
Labels: type::feature, type::docs

#1215 79385: Edit info about changing the channel the customer is assigned
  docs/partials/customers/_change-channel.mdx
  docs/partials/releases/_required-releases-description.mdx
  docs/partials/releases/_required-releases-limitations.mdx
  docs/vendor/distributing-workflow.md
  docs/vendor/licenses-about.md
  docs/vendor/licenses-using-builtin-fields.md
  docs/vendor/preflight-support-bundle-creating.md
  docs/vendor/releases-about-channels.md
  docs/vendor/releases-about.md
  docs/vendor/releases-creating-customer.md
  docs/vendor/releases-creating-releases.mdx
  docs/vendor/snapshots-overview.md
  sidebars.js
  static/images/create-customer.png
  static/images/customer-details.png
  static/images/customer-reporting-details.png
  static/images/customer-support-bundles.png
  static/images/customers-page.png
  static/images/release-properties-dialog.png
  static/images/release-properties.png
Labels: type::feature, type::docs

#1223 fix variadic config examples and limitations
  docs/reference/custom-resource-config.md
Labels: bug::normal, type::bug, type::docs

#1205 TEST---77337: Builders Plan Preflights and Support Bundles
  docs/partials/preflights/_analyzers-note.mdx
  docs/partials/preflights/_preflight-sb-helm-templates.mdx
  docs/partials/preflights/_preflights-about.mdx
  docs/partials/preflights/_preflights-add-analyzers.mdx
  docs/partials/preflights/_preflights-add-strict.mdx
  docs/partials/preflights/_preflights-cr-note.mdx
  docs/partials/preflights/_preflights-define-xref.mdx
  docs/partials/preflights/_preflights-define.mdx
  docs/partials/preflights/_preflights-sb-note.mdx
  docs/partials/preflights/_preflights-spec-locations.mdx
  docs/partials/preflights/_preflights-strict.mdx
  docs/partials/preflights/_secrets-config.mdx
  docs/partials/redactors/_redactors-about.mdx
  docs/partials/support-bundles/_configmap-note.mdx
  docs/partials/support-bundles/_customize-support-bundle-spec.mdx
  docs/partials/support-bundles/_generate-bundle.mdx
  docs/partials/support-bundles/_support-bundle-add-analyzers.mdx
  docs/partials/support-bundles/_support-bundle-add-logs.mdx
  docs/partials/support-bundles/_support-bundle-custom-collectors.mdx
  docs/reference/custom-resource-preflight.md
  docs/reference/custom-resource-redactor.md
  docs/reference/kots-cli-install.md
  docs/reference/kots-cli-set-config.mdx
  docs/reference/kots-cli-upload.mdx
  docs/reference/kots-cli-upstream-upgrade.mdx
  docs/release-notes/rn-app-manager.md
  docs/vendor/distributing-workflow.md
  docs/vendor/packaging-embedded-kubernetes.md
  docs/vendor/packaging-rbac.md
  docs/vendor/preflight-helm-defining.mdx
  docs/vendor/preflight-host-preflights.md
  docs/vendor/preflight-kots-defining.mdx
  docs/vendor/preflight-running.md
  docs/vendor/preflight-sb-helm-templates-about.md
  docs/vendor/preflight-support-bundle-about.md
  docs/vendor/preflight-support-bundle-creating.md
  docs/vendor/support-bundle-generating.mdx
  docs/vendor/support-bundle-helm-customizing.mdx
  docs/vendor/support-bundle-kots-customizing.mdx
  docs/vendor/support-host-support-bundles.md
  docs/vendor/support-modular-support-bundle-specs.md
  docs/vendor/support-online-support-bundle-specs.md
  docs/vendor/support-submit-request.md
  netlify.toml
  sidebars.js
Labels: type::feature, type::docs

#1218 add dex CVE-2020-26290 disclosure
  docs/vendor/policies-vulnerability-patch.md
Labels: type::feature, type::docs

#1229 Update preflight-running.md
  docs/vendor/preflight-running.md
Labels: bug::normal, type::bug

#1224 fix(TLSCert): clarify the nil should be ()
  docs/reference/template-functions-static-context.md
Labels: bug::normal, type::bug, type::docs

#1235 fix: correct a broken link in product docs
  docs/vendor/distributing-workflow.md
Labels: type::feature, type::docs

#1236 add invalid-rendered-yaml lint docs
  docs/partials/linter-rules/_invalid-rendered-yaml.mdx
  docs/reference/linter.mdx
Labels: type::feature, type::docs

#1238 fix invalid-rendered-yaml lint example
  docs/partials/linter-rules/_invalid-rendered-yaml.mdx
Labels: type::feature, type::docs

#1240 Nest secret and CR sections under input kind
  docs/vendor/preflight-helm-defining.mdx
  docs/vendor/preflight-kots-defining.mdx
  docs/vendor/support-bundle-helm-customizing.mdx
Labels: type::feature, type::docs

#1244 Make Next Steps show up in right nav
  docs/vendor/vendor-portal-creating-account.md
Labels: type::feature, type::docs

#1243 feat: remove use of isRequired from sdk docs
  docs/reference/replicated-sdk-apis.md
  docs/vendor/replicated-sdk-development.md
  docs/vendor/replicated-sdk-overview.md
Labels: type::feature, type::docs

#1245 xref fix
  docs/vendor/install-with-helm.md
Labels: type::feature, type::docs

#1239 Correct kurl air gap instructions
  docs/enterprise/installing-embedded-airgapped.md
  docs/enterprise/updating-embedded-cluster.md
  docs/partials/install/_airgap-bundle-prereq.mdx
  docs/partials/install/_intro-embedded.mdx
  docs/partials/install/_license-file-prereq.mdx
  docs/partials/install/_provision-cluster-intro.mdx
  docs/partials/updating/_installerRequirements.mdx
Labels: type::feature, type::docs

#1233 Use External private registry for Helm installs
  docs/vendor/helm-image-registry.md
  sidebars.js
Labels: type::feature, type::docs

#1241 Edit community licenses content
  docs/vendor/licenses-about-types.md
Labels: type::feature, type::docs

#1230 Update Release Properties
  docs/partials/releases/_required-releases-description.mdx
  docs/partials/releases/_required-releases-limitations.mdx
  docs/partials/releases/_version-label-reqs-helm.mdx
  docs/vendor/releases-about.md
  docs/vendor/releases-creating-releases.mdx
Labels: type::feature, type::docs

#1231 Edit Channels pages for Builders
  docs/vendor/releases-about-channels.md
  docs/vendor/releases-creating-channels.md
Labels: type::feature, type::docs

#1232 Creating Helm Chart Release with CLI
  docs/vendor/releases-creating-cli.mdx
Labels: type::feature, type::docs

#1234 add documentation for the --chart flag for the cli
  docs/partials/replicated-cli/_chart-yaml-dir-reqs.mdx
  docs/reference/replicated-cli-release-create.md
Labels: type::feature, type::docs
