Repository replicatedhq/replicated-docs, pull requests merged in 2023-03, with the labels that each got.

#956 [HOLD FOR RELEASE] add limitations for the `admin-console generate-manifests` command
  docs/reference/kots-cli-admin-console-generate-manifests.md
Labels: type::security

#976 [SC-49631] Add Azure Container Registry (ACR) as a supported registry
  docs/partials/image-registry/_docker-compatibility.mdx
Labels: type::feature

#975 [SC-60786] Add docs for 'skip-registry-check' flag
  docs/reference/kots-cli-admin-console-push-images.md
  docs/reference/kots-cli-install.md
  docs/reference/kots-cli-upstream-upgrade.md
Labels: type::chore

#972 [SC-51710] Add docs for the '--undeploy' flag to the 'kots remove' CLI command
  docs/reference/kots-cli-remove.md
Labels: type::feature

#983 69220: Rewrite About Backup and Restore
  docs/enterprise/snapshots-config-workflow.md
  docs/enterprise/snapshots-configuring-hostpath.md
  docs/enterprise/snapshots-configuring-nfs.md
  docs/enterprise/snapshots-creating.md
  docs/enterprise/snapshots-restoring-full.md
  docs/enterprise/snapshots-storage-destinations.md
  docs/enterprise/snapshots-understanding.md
Labels: type::feature, type::docs

#989 70763: Remove "How to Set Up Backup Storage" topic
  docs/enterprise/snapshots-configuring-hostpath.md
  docs/enterprise/snapshots-configuring-nfs.md
  docs/enterprise/snapshots-creating.md
  docs/enterprise/snapshots-restoring-full.md
  docs/enterprise/snapshots-storage-destinations.md
  docs/enterprise/snapshots-understanding.md
  docs/enterprise/snapshots-velero-cli-installing.md
  docs/enterprise/snapshots-velero-installing-config.md
  docs/partials/snapshots/_updateDefaultStorage.mdx
  netlify.toml
  sidebars.js
Labels: type::feature, type::docs

#990 69153: Added license update info
  docs/vendor/licenses-about-types.md
Labels: type::feature, type::docs

#952 automatically add feature and docs labels to PRs in this repo
  .github/workflows/auto-label.yml
Labels: type::chore

#992 70342: Clarified registry credentials note for air gap
  docs/enterprise/snapshots-configuring-hostpath.md
  docs/enterprise/snapshots-configuring-nfs.md
  docs/enterprise/snapshots-storage-destinations.md
  docs/partials/snapshots/_checkVersion.mdx
  docs/partials/snapshots/_installVelero.mdx
  docs/partials/snapshots/_registryCredentialsNote.mdx
Labels: type::feature, type::docs

#988 HOLD FOR RELEASE - [SC-70650] add docs for the 'rendered' directory in the directory structure
  docs/enterprise/updating-patching-with-kustomize.md
Labels: type::feature

#997 71533: Add topic name to Xref in RN
  docs/release-notes/rn-app-manager.md
Labels: type::feature, type::docs

#998 Fix broken link
  docs/release-notes/rn-whats-new.md
Labels: type::feature, type::docs

#980 Remove incorrect info about docker and containerd
  docs/enterprise/updating-embedded-cluster.md
Labels: type::feature, type::docs

#1000 Update custom-resource-lintconfig.mdx
  docs/reference/custom-resource-lintconfig.mdx
  docs/reference/linter.mdx
Labels: type::feature, type::docs

#994 57050: Snapshots clarifications for air gap
  docs/enterprise/snapshots-understanding.md
  docs/enterprise/snapshots-updating-with-admin-console.md
  docs/enterprise/snapshots-velero-cli-installing.md
  docs/enterprise/snapshots-velero-installing-config.md
Labels: type::feature, type::docs

#979 Updating upgrade info for embedded clusters
  docs/enterprise/updating-embedded-cluster.md
  docs/partials/updating/_installerRequirements.mdx
  docs/partials/updating/_upgradePrompt.mdx
Labels: type::feature

#1001 Add missing change - kurl release
  docs/release-notes/rn-kubernetes-installer.md
Labels: type::feature, type::docs

#995 71228: Pod Volume Backups
  docs/enterprise/snapshots-creating.md
  docs/vendor/snapshots-configuring-backups.md
  docs/vendor/snapshots-overview.md
Labels: type::feature, type::docs

#1002 Add Installer History topic
  docs/vendor/installer-history.md
  sidebars.js
  static/images/installer-history-page.png
Labels: type::feature, type::docs

#1004 Broken preflight and support bundle link
  docs/intro-replicated.md
Labels: type::feature, type::docs

#1006 fix cli registry test example
  docs/vendor/packaging-private-images.md
Labels: type::feature, type::docs

#1003 70729-NEW: Updated Vendor bridge topic for Backup/Restore
  docs/enterprise/snapshots-restoring-full.md
  docs/enterprise/snapshots-understanding.md
  docs/partials/snapshots/_restoreTable.mdx
  docs/vendor/snapshots-hooks.md
  docs/vendor/snapshots-overview.md
Labels: type::feature, type::docs

#1007 71899: Correction: Terminology edit backups v snapshots
  docs/vendor/snapshots-overview.md
Labels: type::feature, type::docs

#1005 60199: Improve the Enabling and Configuring Identity Service Content
  docs/vendor/identity-service-configuring.md
  static/images/identity-service-crd-roles-new.png
  static/images/identity-service-roles-template-function-new.png
Labels: type::feature, type::docs

#1011 add kots/app/:id/license/:id/airgap/password rbac resource to docs
  docs/vendor/team-management-rbac-resource-names.md
Labels: type::feature, type::docs

#1009 31118: Add Prereq for Multi Apps to Enterprise Backups
  docs/enterprise/snapshots-creating.md
Labels: type::feature, type::docs

#1010 How to consume prometheus metrics externally
  docs/enterprise/monitoring-applications.md
  docs/enterprise/monitoring-external-prometheus.md
  sidebars.js
Labels: type::feature, type::docs

#1013 remove outdated minio vulnerability disclosures
  docs/vendor/policies-vulnerability-patch.md
Labels: type::feature, type::docs

#1017 72051: Fix link to Semantic Versioning
  docs/vendor/licenses-using-builtin-fields.md
Labels: type::feature, type::docs

#1022 Remove broken link
  docs/vendor/licenses-about-types.md
Labels: type::feature, type::docs

#1020 72062: Fixed link in Update App Tutorial
  docs/vendor/tutorial-ui-update-app.md
Labels: type::feature, type::docs

#1023 Fix broken preflight link
  docs/vendor/packaging-embedded-kubernetes.md
Labels: type::feature, type::docs

#1025 Fix broken updating link
  docs/vendor/packaging-kots-versions.md
Labels: type::feature, type::docs

#1027 Fix broken link
  docs/vendor/releases-about.md
Labels: type::feature, type::docs

#1028 Add placeholder link in template
  docs/templates/procedure.md
Labels: type::feature, type::docs

#1029 Add Helm upgrade known issue introduced in app manager 1.95.0
  docs/release-notes/rn-app-manager.md
Labels: type::feature, type::docs

#1030 Revert "Update custom-resource-lintconfig.mdx"
  docs/reference/custom-resource-lintconfig.mdx
  docs/reference/linter.mdx
Labels: type::feature, type::docs

#1034 Add screenshot and step for selecting Helm Installation method
  docs/partials/releases/_create-release-ui.mdx
  docs/partials/releases/_promote-release-ui.mdx
  docs/vendor/helm-release.mdx
  docs/vendor/releases-creating-releases.mdx
  static/images/helm-install-method-vendor-portal.png
Labels: type::feature, type::docs

#1038 Replace ecko with ekco
  docs/vendor/packaging-embedded-kubernetes.md
Labels: type::feature, type::docs

#1036 Several updates to vendor private registry docs
  docs/vendor/helm-image-registry.md
  docs/vendor/packaging-private-images.md
  docs/vendor/private-images-about.md
  docs/vendor/private-images-replicated.md
  docs/vendor/private-images-tags-digests.md
  sidebars.js
  static/images/add-external-registry.png
Labels: type::feature, type::docs

#1037 72620: Update Private Registries Info for Enterprise
  docs/enterprise/image-registry-airgap.mdx
  docs/enterprise/image-registry-settings.md
  docs/enterprise/installing-embedded-cluster.md
  docs/enterprise/installing-existing-cluster.md
  docs/enterprise/installing-general-requirements.mdx
  docs/enterprise/installing-overview.md
  docs/partials/image-registry/_image-registry-airgap.mdx
  docs/release-notes/rn-app-manager.md
  netlify.toml
  sidebars.js
Labels: type::feature, type::docs

#1046 update supported k8s versions for app manager
  .github/workflows/app-manager-release-notes.yml
Labels: type::feature, type::docs

#1012 71999: Improve Backup CR Info
  docs/reference/custom-resource-backup.md
  docs/vendor/snapshots-configuring-backups.md
Labels: type::feature, type::docs

#1044 fix mdx syntax tables
  docs/partials/status-informers/_aggregateStatus.mdx
  docs/partials/status-informers/_statusesTable.mdx
Labels: type::feature, type::docs

#1040 Edit firewall openings to clarify replicated proxy service and private registry
  docs/enterprise/installing-general-requirements.mdx
Labels: type::feature, type::docs

#1042 72531-NEW Delete/Redistribute Install with Native Helm Chart
  docs/partials/helm/_helm-options.mdx
  docs/partials/helm/_helm-template-limitation.mdx
  docs/release-notes/rn-app-manager.md
  docs/vendor/admin-console-display-app-status.md
  docs/vendor/helm-installing-native-helm.md
  docs/vendor/helm-native-helm-install-order.md
  docs/vendor/helm-overview.md
  docs/vendor/helm-processing.md
  docs/vendor/helm-release.mdx
  docs/vendor/tutorial-ci-cd-integration.md
  netlify.toml
  sidebars.js
  static/images/helm-chart-native.png
  static/images/postgres-helm-chart.png
Labels: type::feature, type::docs

#1048 69728: Split out Air Gap Install Topics
  docs/enterprise/cluster-management-add-nodes.md
  docs/enterprise/image-registry-embedded-cluster.md
  docs/enterprise/installing-app-setup.md
  docs/enterprise/installing-embedded-airgapped.md
  docs/enterprise/installing-embedded-cluster.md
  docs/enterprise/installing-existing-cluster-airgapped.md
  docs/enterprise/installing-existing-cluster-automation.md
  docs/enterprise/installing-existing-cluster.md
  docs/enterprise/installing-overview.md
  docs/enterprise/snapshots-restoring-full.md
  docs/intro-replicated.md
  docs/partials/_resticDaemonSpec.mdx
  docs/partials/getting-started/_related-topics.mdx
  docs/partials/image-registry/_image-registry-airgap-about.mdx
  docs/partials/image-registry/_image-registry-airgap-prereq.mdx
  docs/partials/image-registry/_image-registry-airgap.mdx
  docs/partials/install/_ha-load-balancer-about.mdx
  docs/partials/install/_ha-load-balancer-prereq.mdx
  docs/partials/install/_kurl-about.mdx
  docs/partials/install/_prereqs-embedded-cluster.mdx
  docs/partials/install/_prereqs-existing-cluster.mdx
  docs/reference/kots-cli-admin-console-generate-manifests.md
  docs/reference/kots-cli-getting-started.md
  docs/reference/kots-cli-install.md
  docs/release-notes/rn-app-manager.md
  docs/release-notes/rn-kubernetes-installer.md
  docs/vendor/releases-configvalues.md
  sidebars.js
Labels: type::feature, type::docs
