Repository replicatedhq/replicated-docs, pull requests merged in 2023-02, with the labels that each got.

#917 Update KOTS install reference to include new env variable options
  docs/reference/kots-cli-getting-started.md
Labels: type::docs

#951 Update screenshot of customer reporting page
  docs/vendor/customer-reporting.md
  static/images/customer-reporting-page.png
  static/images/reporting-no-instances-ready.png
Labels: type::feature, type::docs

#950 Be consistent with v before app manager version num
  docs/enterprise/gitops-managing-secrets.md
  docs/enterprise/snapshots-configuring-hostpath.md
  docs/reference/custom-resource-application.md
  docs/reference/custom-resource-helmchart.md
  docs/reference/template-functions-static-context.md
Labels: type::chore, type::docs

#953 Improve v1.94.0 release notes
  docs/release-notes/rn-app-manager.md
Labels: type::feature, type::docs

#955 Add app manager version that supports Kubernetes 1.26
  docs/vendor/policies-support-lifecycle.md
Labels: type::chore

#957 Clarify example command
  docs/enterprise/snapshots-velero-cli-installing.md
Labels: type::feature, type::docs

#964 Add xrefs to kURL topic on migrating CSI add-on
  docs/vendor/packaging-installer-storage.md
Labels: type::feature, type::docs

#965 Correct typo in xref
  docs/vendor/packaging-installer-storage.md
Labels: type::feature, type::docs

#907 HOLD FOR RELEASE - 67611: Custom Domains for Download Portal
  docs/vendor/custom-domains.md
Labels: type::feature, type::docs

#971 Update the curl command for Mac installations
  docs/reference/replicated-cli-installing.md
Labels: type::feature, type::docs

#969 Removed v2023.02.17-0 from release notes
  docs/release-notes/rn-kubernetes-installer.md
Labels: type::feature, type::docs

#959 Rewrite Creating Backups topic
  docs/enterprise/snapshots-config-workflow.md
  docs/enterprise/snapshots-configuring-hostpath.md
  docs/enterprise/snapshots-configuring-nfs.md
  docs/enterprise/snapshots-creating.md
  docs/enterprise/snapshots-scheduling.md
  docs/enterprise/snapshots-storage-destinations.md
  docs/enterprise/snapshots-understanding.md
  netlify.toml
  sidebars.js
  static/images/snapshot-application-backup.png
  static/images/snapshot-application-list.png
  static/images/snapshot-instance-backup.png
  static/images/snapshot-instance-list.png
  static/images/snapshot-schedule.png
Labels: type::feature, type::docs

#963 69735: Consolidate Installation Requirements
  docs/enterprise/image-registry-airgap.md
  docs/enterprise/image-registry-airgap.mdx
  docs/enterprise/image-registry-settings.md
  docs/enterprise/installing-general-requirements.mdx
  docs/enterprise/installing-overview.md
  docs/enterprise/installing-stateful-component-requirements.md
  netlify.toml
Labels: type::feature, type::docs

#977 Add 1.10 as a supported Velero version
  docs/vendor/snapshots-overview.md
Labels: type::feature, type::docs

#978 fix: ingress syntax
  docs/vendor/packaging-ingress.md
Labels: bug::normal, type::bug, type::docs

#897 documents the new custom hostname rbac resource names
  docs/vendor/team-management-rbac-resource-names.md
Labels: type::feature, type::docs

#962 Add daemonset status informer info
  docs/enterprise/status-viewing-details.md
  docs/partials/status-informers/_statusesTable.mdx
  docs/vendor/admin-console-display-app-status.md
Labels: type::feature, type::docs

#944 50645: Restoring Backups
  docs/enterprise/snapshots-restoring-full.md
  docs/enterprise/snapshots-restoring-partial.md
  docs/enterprise/snapshots-understanding.md
  docs/enterprise/snapshots-updating-with-admin-console.md
  docs/reference/kots-cli-backup-index.md
  docs/reference/kots-cli-backup-ls.md
  docs/reference/kots-cli-restore-index.md
  docs/reference/kots-cli-restore-ls.md
  docs/reference/kots-cli-velero-print-fs-instructions.md
  netlify.toml
  sidebars.js
  static/images/full-snapshot-tab.png
  static/images/partial-snapshot-tab.png
  static/images/restore-backup-dialog.png
  static/images/restore-partial-dialog.png
  static/images/restore-snapshot-dialog.png
Labels: type::feature, type::docs
