Repository replicatedhq/replicated-docs, pull requests merged in 2023-01, with the labels that each got.

#899 Update Uptime Activity with event markers
  docs/vendor/instance-insights-details.md
  static/images/instance-uptime-graph-event-markers.png
  static/images/instance-uptime-graph.png
Labels: type::docs

#902 HOLD FOR RELEASE: Update About Customers docs page with new instance rows info
  docs/vendor/licenses-about.md
  static/images/customer-reporting-page.png
  static/images/kurl-instance-row.png
Labels: type::docs

#905 remove reference to nonexistent `--upstream-uri` flag
  docs/reference/kots-cli-install.md
Labels: type::chore

#913 update supported k8s versions for app manager
  .github/workflows/app-manager-release-notes.yml
Labels: type::chore

#914 add customer details section and update screenshots
  docs/vendor/customer-reporting.md
  static/images/customer-reporting-page.png
  static/images/reporting-no-instances-ready.png
Labels: type::docs

#911 Add SBOM validation reference documents
  docs/enterprise/sbom-validating.md
  docs/reference/kots-validating-sbom.md
  sidebars.js
Labels: type::feature, type::docs
