Repository replicatedhq/replicated-docs, pull requests merged in 2024-09, with the labels that each got.

#2605 Kubernetes Installer v2024.09.03-0 release notes
  docs/release-notes/rn-kubernetes-installer.md
Labels: type::feature, type::docs

#2603 Update testing-about.md
  docs/vendor/testing-about.md
Labels: type::feature, type::docs

#2604 Release note for 1.11.1
  docs/release-notes/rn-embedded-cluster.md
Labels: type::feature, type::docs

#2606 Fix typo
  docs/vendor/embedded-overview.mdx
Labels: type::feature, type::chore, type::docs

#2607 Clarify that note is for EC only
  docs/release-notes/rn-app-manager.md
Labels: type::feature, type::chore, type::docs

#2608 Add 1.30 to KOTS support table
  docs/partials/install/_kubernetes-compatibility.mdx
Labels: type::feature, type::docs

#2611 Update testing-supported-clusters.md
  docs/vendor/testing-supported-clusters.md
Labels: type::feature, type::docs

#2591 Vendor Portal v2024.08.23-2 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#2599 Vendor Portal v2024.08.28-0 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#2602 Vendor Portal v2024.08.30-0 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#2609 Vendor Portal v2024.09.04-0 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#2612 adding k3s 1.31.0
  docs/vendor/testing-supported-clusters.md
Labels: type::feature, type::docs

#2613 App Manager v1.115.2 release notes
  docs/release-notes/rn-app-manager.md
Labels: type::feature, type::docs

#2615 Adding OKE 1.30.1
  docs/vendor/testing-supported-clusters.md
Labels: type::feature, type::docs

#2614 Adding m5 and c5 for eks
  docs/vendor/testing-supported-clusters.md
Labels: type::feature, type::docs

#2616 Sept what's new and dyk
  docs/intro.md
Labels: type::feature, type::docs

#2618 Kubernetes Installer v2024.09.06-0 release notes
  docs/release-notes/rn-kubernetes-installer.md
Labels: type::feature, type::docs

#2619 Improve nodegroup help text
  docs/reference/replicated-cli-cluster-create.md
Labels: type::feature, type::docs

#2620 Add info about RBAC policies for CI
  docs/vendor/ci-overview.md
  docs/vendor/ci-workflows.mdx
  docs/vendor/team-management-rbac-configuring.md
Labels: type::feature, type::docs

#2621 Fix bad header
  docs/release-notes/rn-kubernetes-installer.md
Labels: type::feature, type::docs

#2622 Flip Pod and Service CIDRs
  docs/enterprise/installing-embedded.mdx
Labels: bug::normal, type::bug, type::docs

#2617 Vendor Portal v2024.09.05-3 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#2623 App Manager v1.116.0 release notes
  docs/release-notes/rn-app-manager.md
Labels: type::feature, type::docs

#2626 Updated download portal password instructions
  docs/vendor/releases-share-download-portal.md
Labels: type::feature, type::docs

#2625 Vendor Portal v2024.09.09-0 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#2627 Update _billing.mdx
  docs/partials/cmx/_billing.mdx
Labels: type::feature, type::docs

#2629 Some CMX content improvements
  docs/reference/replicated-cli-cluster-create.md
  docs/vendor/testing-ingress.md
Labels: type::feature, type::docs

#2631 Vendor Portal v2024.09.11-2 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#2632 App Manager v1.116.1 release notes
  docs/release-notes/rn-app-manager.md
Labels: type::feature, type::docs

#2634 sc-106314: Update testing-supported-clusters.md for new OKE instance types
  docs/vendor/testing-supported-clusters.md
Labels: type::feature, type::chore, type::docs

#2641 Update what we auto no proxy
  docs/enterprise/installing-embedded.mdx
Labels: type::feature, type::docs

#2636 Add notes for 1.12.0
  docs/release-notes/rn-app-manager.md
  docs/release-notes/rn-embedded-cluster.md
Labels: type::feature, type::docs

#2640 ec multinode
  docs/vendor/testing-supported-clusters.md
Labels: type::feature, type::docs

#2642 Vendor Portal v2024.09.13-1 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#2633 HOLD FOR RELEASE: Document PrivateCACert template function
  docs/reference/template-functions-static-context.md
Labels: type::feature, type::docs

#2644 KOTS installs support private CA
  docs/reference/template-functions-static-context.md
Labels: type::feature, type::docs

#2643 App Manager v1.117.0 release notes
  docs/release-notes/rn-app-manager.md
Labels: type::feature, type::docs

#2645 release notes for 1.12.1
  docs/release-notes/rn-embedded-cluster.md
Labels: type::feature, type::docs

#2624 Replicated SDK 1.0.0-beta.27 release notes
  docs/release-notes/rn-replicated-sdk.md
Labels: type::feature, type::docs

#2637 Removed deprecated template functions
  docs/reference/template-functions-static-context.md
Labels: type::feature, type::docs

#2646 Fix wrong KOTS version
  docs/release-notes/rn-embedded-cluster.md
Labels: type::feature, type::docs

#2639 Vendor Portal v2024.09.13-0 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#2638 docusaurus upgrade for security fixes
  package.json
  src/theme/DocItem/Footer/index.js
  yarn.lock
Labels: type::feature, type::docs

#2648 Vendor Portal v2024.09.17-0 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#2649 Vendor Portal v2024.09.17-1 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#2652 App Manager v1.117.1 release notes
  .github/workflows/app-manager-release-notes.yml
  docs/release-notes/rn-app-manager.md
Labels: type::feature, type::docs

#2653 Update KOTS K8s compatibility
  docs/partials/install/_kubernetes-compatibility.mdx
Labels: type::feature, type::docs

#2654 Fix broken links
  docs/enterprise/gitops-workflow.mdx
  docs/enterprise/installing-embedded-air-gap.mdx
  docs/enterprise/installing-existing-cluster.mdx
  docs/partials/install/_ec-prereqs.mdx
  docs/partials/updating/_upgradePrompt.mdx
  docs/vendor/embedded-disaster-recovery.mdx
  docs/vendor/embedded-overview.mdx
  docs/vendor/preflight-support-bundle-about.md
  docs/vendor/releases-sharing-license-install-script.mdx
  docs/vendor/telemetry-air-gap.mdx
Labels: type::feature, type::docs

#2656 Remove unused dependency
  package.json
  yarn.lock
Labels: type::feature, type::docs

#2655 Release notes for EC 1.13.0
  docs/release-notes/rn-embedded-cluster.md
Labels: type::feature, type::docs

#2658 Update policies-support-lifecycle.md
  docs/vendor/policies-support-lifecycle.md
Labels: type::feature, type::docs

#2659 Vendor Portal v2024.09.18-2 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#2657 Update limitations
  docs/vendor/embedded-overview.mdx
Labels: type::feature, type::docs

#2660 Add support for 1.31
  docs/vendor/policies-support-lifecycle.md
Labels: type::feature, type::docs

#2661 Split out preflight/sb examples and other content updates
  docs/vendor/embedded-overview.mdx
  docs/vendor/preflight-defining.mdx
  docs/vendor/preflight-examples.mdx
  docs/vendor/preflight-host-preflights.md
  docs/vendor/support-bundle-customizing.md
  docs/vendor/support-bundle-customizing.mdx
  docs/vendor/support-bundle-examples.mdx
  docs/vendor/support-modular-support-bundle-specs.md
  docs/vendor/support-online-support-bundle-specs.md
  sidebars.js
Labels: type::feature, type::docs

#2663 Update rn-embedded-cluster.md
  docs/release-notes/rn-embedded-cluster.md
Labels: type::feature, type::docs

#2664 we should call this the "proxy registry" instead of "proxy service"
  docs/enterprise/installing-general-requirements.mdx
  docs/intro-replicated.md
  docs/partials/proxy-service/_step-creds.mdx
  docs/partials/proxy-service/_step-custom-domain.mdx
  docs/reference/custom-resource-application.mdx
  docs/reference/template-functions-config-context.md
  docs/release-notes/rn-app-manager.md
  docs/release-notes/rn-vendor-platform.md
  docs/vendor/custom-domains-using.md
  docs/vendor/custom-domains.md
  docs/vendor/distributing-overview.mdx
  docs/vendor/helm-image-registry.mdx
  docs/vendor/helm-native-about.mdx
  docs/vendor/helm-native-v2-using.md
  docs/vendor/helm-packaging-airgap-bundles.mdx
  docs/vendor/install-with-helm.md
  docs/vendor/licenses-about.mdx
  docs/vendor/operator-defining-additional-images.mdx
  docs/vendor/packaging-private-images.md
  docs/vendor/private-images-about.md
  docs/vendor/private-images-kots.mdx
  docs/vendor/releases-about.mdx
  docs/vendor/replicated-onboarding.mdx
  docusaurus.config.js
Labels: type::feature, type::docs

#2666 App Manager v1.117.2 release notes
  docs/release-notes/rn-app-manager.md
Labels: type::feature, type::docs

#2668 Release notes for 1.13.1
  docs/release-notes/rn-embedded-cluster.md
Labels: type::feature, type::docs

#2667 Document custom CA use with replicated SDK
  docs/vendor/replicated-sdk-customizing.md
Labels: type::feature, type::docs

#2670 Release notes for Replicated SDK 1.0.0-beta.28
  docs/release-notes/rn-replicated-sdk.md
Labels: type::feature, type::docs

#2671 Add topic sentences to the release notes
  docs/release-notes/rn-app-manager.md
  docs/release-notes/rn-embedded-cluster.md
  docs/release-notes/rn-kubernetes-installer.md
  docs/release-notes/rn-replicated-sdk.md
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#2672 newer version of EC
  docs/reference/embedded-config.mdx
Labels: type::feature, type::docs

#2675 Edit language in ec release notes topic sentence
  docs/release-notes/rn-embedded-cluster.md
Labels: type::feature, type::docs

#2673 App Manager v1.117.3 release notes
  docs/release-notes/rn-app-manager.md
Labels: type::feature, type::docs

#2676 Document --private-ca-configmap flags
  docs/reference/kots-cli-admin-console-generate-manifests.mdx
  docs/reference/kots-cli-install.mdx
  docs/reference/kots-cli-pull.md
Labels: type::feature, type::docs

#2677 Update replicated-sdk-customizing.md
  docs/vendor/replicated-sdk-customizing.md
Labels: type::feature, type::docs

#2662 Vendor Portal v2024.09.18-3 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#2679 Release notes for 1.14.0
  docs/release-notes/rn-embedded-cluster.md
Labels: type::feature, type::docs

#2682 Make Embedded Cluster GA
  docs/enterprise/installing-embedded-air-gap.mdx
  docs/enterprise/installing-embedded.mdx
  docs/enterprise/updating-embedded.mdx
  docs/intro.md
  docs/reference/embedded-config.mdx
  docs/release-notes/rn-app-manager.md
  docs/release-notes/rn-vendor-platform.md
  docs/vendor/distributing-workflow.md
  docs/vendor/embedded-kubernetes-overview.mdx
  docs/vendor/embedded-overview.mdx
  docs/vendor/policies-support-lifecycle.md
  docs/vendor/preflight-support-bundle-about.md
  docs/vendor/support-bundle-embedded.mdx
  docs/vendor/testing-supported-clusters.md
  docs/vendor/tutorial-embedded-cluster-create-customer.mdx
  docusaurus.config.js
  sidebars.js
Labels: type::feature, type::docs

#2681 Add missing notes
  docs/release-notes/rn-embedded-cluster.md
Labels: type::feature, type::docs

#2684 Proxy upgrade fix works for all
  docs/release-notes/rn-embedded-cluster.md
Labels: type::feature, type::docs

#2683 Update browser list
  package.json
  yarn.lock
Labels: type::feature, type::docs

#2685 Update team-management-rbac-configuring.md
  docs/vendor/team-management-rbac-configuring.md
Labels: type::feature, type::docs

#2686 Vendor Portal v2024.09.25-1 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#2680 Add EC port requirements
  docs/enterprise/installing-embedded.mdx
  docs/enterprise/installing-general-requirements.mdx
  docs/partials/embedded-cluster/_port-reqs.mdx
  docs/vendor/embedded-disaster-recovery.mdx
  docs/vendor/embedded-overview.mdx
Labels: type::feature, type::docs

#2688 Vendor Portal v2024.09.25-2 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#2689 1.14.1 release notes
  docs/release-notes/rn-embedded-cluster.md
Labels: type::feature, type::docs

#2691 Vendor Portal v2024.09.26-2 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#2692 Kubernetes Installer v2024.09.26-0 release notes
  docs/release-notes/rn-kubernetes-installer.md
Labels: type::feature, type::docs

#2690 1.14.2 release notes
  docs/release-notes/rn-embedded-cluster.md
Labels: type::feature, type::docs

#2696 adding eks 1.31
  docs/vendor/testing-supported-clusters.md
Labels: type::feature, type::docs

#2693 Vendor Portal v2024.09.26-4 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#2695 Doc additional-annotaions and additional-labels
  docs/reference/kots-cli-install.mdx
Labels: type::feature, type::docs

#2694 Vendor Portal v2024.09.27-1 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#2697 Vendor Portal v2024.09.27-4 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#2698 Update custom-domains.md
  docs/vendor/custom-domains.md
Labels: type::feature, type::docs

#2701 Mark multi-node as beta
  docs/enterprise/installing-embedded-air-gap.mdx
  docs/enterprise/updating-embedded.mdx
  docs/vendor/embedded-overview.mdx
Labels: type::feature, type::docs

#2703 Remove the reference to BETA in Air gap telemetry
  docs/vendor/telemetry-air-gap.mdx
  static/images/airgap-upload-telemetry.png
Labels: type::feature, type::docs

#2586 WAIT FOR RELEASE: Add missing requirements
  docs/partials/embedded-cluster/_requirements.mdx
Labels: type::feature, type::docs

#2705 Vendor Portal v2024.09.30-2 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#2700 chore(embedded-cluster): list directories and files written
  docs/partials/embedded-cluster/_storage-reqs.mdx
Labels: type::feature, type::chore, type::docs
