Repository replicatedhq/replicated-docs, pull requests merged in 2024-10, with the labels that each got.

#2709 Updating rke2 versions
  docs/vendor/testing-supported-clusters.md
Labels: type::feature, type::docs

#2710 Add cron expressions to sidebar
  docs/enterprise/updating-apps.mdx
  docs/reference/cron-expressions.md
  netlify.toml
  sidebars.js
Labels: type::feature, type::docs

#2708 Vendor Portal v2024.10.01-0 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#2714 Update external registry screenshots
  docs/vendor/packaging-private-images.md
  docs/vendor/tutorial-ecr-private-images.md
  static/images/add-external-registry.png
  static/images/guides/kots/priv-reg-ecr-link-new.png
Labels: type::feature, type::docs

#2715 Update _prerequisites.mdx
  docs/partials/cmx/_prerequisites.mdx
Labels: type::feature, type::docs

#2704 Remove KOTS existing cluster UI-based tutorial
  docs/enterprise/installing-existing-cluster-automation.mdx
  docs/vendor/distributing-workflow.md
  docs/vendor/helm-native-about.mdx
  docs/vendor/kots-faq.mdx
  docs/vendor/replicated-onboarding.mdx
  docs/vendor/tutorial-adding-db-config.md
  docs/vendor/tutorial-ci-cd-integration.md
  docs/vendor/tutorial-cli-install-cli.mdx
  docs/vendor/tutorial-cli-setup.mdx
  docs/vendor/tutorial-ecr-private-images.md
  docs/vendor/tutorial-ui-create-app.md
  docs/vendor/tutorial-ui-create-customer.md
  docs/vendor/tutorial-ui-create-new-version.md
  docs/vendor/tutorial-ui-create-release.md
  docs/vendor/tutorial-ui-deploy-app.md
  docs/vendor/tutorial-ui-install-app-manager.mdx
  docs/vendor/tutorial-ui-setup.mdx
  docs/vendor/tutorial-ui-update-app.md
  netlify.toml
  sidebars.js
Labels: type::feature, type::docs

#2717 Add new EC lab to sidebar
  sidebars.js
Labels: type::feature, type::docs

#2718 upgrades for vuln fixes
  yarn.lock
Labels: type::feature, type::chore, type::docs

#2716 Update FAQs
  docs/intro.md
  docs/vendor/kots-faq.mdx
  sidebars.js
Labels: type::feature, type::docs

#2712 Reposition the 2gb layer from a known issue to a limitation
  docs/vendor/private-images-replicated.mdx
Labels: type::chore

#2719 Remove online-only prereq from air gap
  docs/enterprise/installing-embedded.mdx
  docs/partials/install/_ec-prereqs.mdx
Labels: type::feature, type::docs

#2720 Edit HA mode info in kurl install docs
  docs/enterprise/installing-kurl-airgap.mdx
  docs/enterprise/installing-kurl.mdx
  docs/partials/install/_embedded-ha-step.mdx
  docs/partials/install/_ha-load-balancer-prereq.mdx
Labels: type::feature, type::docs

#2722 update EC air gap install steps to show new checkbox
  docs/enterprise/installing-embedded-air-gap.mdx
  static/images/embedded-cluster-install-dialog-airgap.png
Labels: type::feature, type::docs

#2724 App Manager v1.117.4 release notes
  docs/release-notes/rn-app-manager.md
Labels: type::feature, type::docs

#2726 Make release notes a dropdown in the navbar
  docusaurus.config.js
Labels: type::feature, type::docs

#2727 Add example screenshot of dropdown item type
  docs/reference/custom-resource-config.mdx
  static/images/config-screen-dropdown-open.png
  static/images/config-screen-dropdown.png
Labels: type::feature, type::docs

#2725 Note repeatable items Helm limitation
  docs/reference/custom-resource-config.mdx
Labels: type::feature, type::docs

#2687 Remove Helm-only release content
  docs/partials/customers/_kots-entitlement-overview.mdx
  docs/reference/custom-resource-preflight.md
  docs/reference/custom-resource-redactor.md
  docs/reference/replicated-cli-release-create.md
  docs/vendor/customer-reporting.md
  docs/vendor/distributing-workflow.md
  docs/vendor/kots-faq.mdx
  docs/vendor/licenses-about.mdx
  docs/vendor/licenses-using-builtin-fields.mdx
  docs/vendor/releases-about.mdx
  docs/vendor/releases-creating-channels.md
  docs/vendor/releases-creating-cli.mdx
  docs/vendor/releases-creating-customer.mdx
  docs/vendor/releases-creating-releases.mdx
  docs/vendor/replicated-onboarding.mdx
  docs/vendor/telemetry-air-gap.mdx
  docs/vendor/tutorial-embedded-cluster-install.mdx
  docs/vendor/tutorial-kots-helm-install-helm.md
  docs/vendor/vendor-portal-creating-account.md
  static/images/channel-assignment-helm-only.png
  static/images/channel-assignment-kots-only.png
  static/images/create-release-dropdown.png
  static/images/onboarding-instance-details-new-version.png
  static/images/onboarding-view-telemetry.png
  static/images/release-promotion-helm-customers.png
  static/images/release-promotion-kots-customers.png
  static/images/upload-helm-chart-modal.png
Labels: type::feature, type::docs

#2728 App Manager v1.117.5 release notes
  docs/release-notes/rn-app-manager.md
Labels: type::feature, type::docs

#2721 Move air gap bundle info to the relevant install topics
  docs/enterprise/installing-embedded-air-gap.mdx
  docs/enterprise/installing-existing-cluster-airgapped.mdx
  docs/enterprise/installing-existing-cluster-automation.mdx
  docs/enterprise/installing-existing-cluster.mdx
  docs/enterprise/installing-kurl-airgap.mdx
  docs/enterprise/updating-app-manager.mdx
  docs/enterprise/updating-kurl.mdx
  docs/partials/airgap/_airgap-bundle.mdx
  docs/partials/install/_airgap-bundle-build.mdx
  docs/partials/install/_airgap-bundle-download.mdx
  docs/partials/install/_airgap-bundle-prereq.mdx
  docs/partials/install/_airgap-bundle-view-contents.mdx
  docs/partials/install/_airgap-license-download.mdx
  docs/partials/install/_automation-intro-embedded.mdx
  docs/partials/install/_download-kotsadm-bundle.mdx
  docs/partials/install/_download-kurl-bundle.mdx
  docs/partials/install/_placeholder-airgap-bundle.mdx
  docs/partials/install/_placeholders-global.mdx
  docs/partials/updating/_admin-console-air-gap.mdx
  docs/reference/kots-cli-getting-started.md
  docs/vendor/customer-reporting.md
  docs/vendor/helm-packaging-airgap-bundles.mdx
  docs/vendor/kots-faq.mdx
  docs/vendor/licenses-download.md
  docs/vendor/releases-about.mdx
  docs/vendor/releases-configvalues.md
  docs/vendor/releases-download-airgap-bundles.mdx
  docs/vendor/releases-share-download-portal.md
  netlify.toml
  sidebars.js
  static/images/download-portal-link.png
  static/images/download-portal-password-popup.png
Labels: type::feature, type::docs

#2723 feat(ec): new data directory location and configuration
  docs/enterprise/installing-embedded.mdx
  docs/enterprise/installing-general-requirements.mdx
  docs/partials/embedded-cluster/_requirements.mdx
  docs/partials/embedded-cluster/_storage-reqs.mdx
  docs/partials/support-bundles/_generate-bundle-ec.mdx
  docs/vendor/embedded-overview.mdx
Labels: type::feature, type::docs

#2729 HOLD FOR RELEASE: Replicated SDK no longer uses v to prefix versions
  .github/workflows/replicated-sdk-release-notes.yml
  docs/reference/template-functions-examples.mdx
Labels: type::feature, type::chore, type::docs

#2734 bump ec config
  docs/partials/embedded-cluster/_ec-config.mdx
  docs/partials/getting-started/_gitea-ec-config.mdx
  docs/reference/embedded-config.mdx
Labels: type::feature, type::docs

#2733 Add release notes for EC 1.15.0
  docs/release-notes/rn-embedded-cluster.md
Labels: type::feature, type::docs

#2731 Release notes for Replicated SDK 1.0.0-beta.29
  docs/partials/replicated-sdk/_dependency-yaml.mdx
  docs/release-notes/rn-replicated-sdk.md
Labels: type::feature, type::docs

#2735 Clarify that when can't be used with radio/dropdown either
  docs/reference/custom-resource-config.mdx
Labels: type::feature, type::docs

#2737 Helm airgap download instructions
  docs/partials/helm/_helm-install-prereqs.mdx
  docs/vendor/helm-install-airgap.mdx
  docs/vendor/helm-install-overview.mdx
  docs/vendor/install-with-helm.md
  package.json
  sidebars.js
  static/images/download-helm.png
  yarn.lock
Labels: type::feature, type::docs

#2739 Small wording update
  docs/enterprise/installing-embedded.mdx
Labels: type::feature, type::docs

#2740 Update helm-install-airgap.mdx
  docs/vendor/helm-install-airgap.mdx
Labels: type::feature, type::docs

#2744 Update testing-ingress.md
  docs/vendor/testing-ingress.md
Labels: type::feature, type::docs

#2730 Add documentation for download portal session length
  docs/vendor/releases-share-download-portal.md
Labels: type::chore, type::docs

#2742 Docs for using Secret to store custom CA
  docs/vendor/replicated-sdk-customizing.md
Labels: type::feature, type::docs

#2746 Release notes for Replicated SDK 1.0.0-beta.30
  docs/release-notes/rn-replicated-sdk.md
Labels: type::feature, type::docs

#2748 Update embedded-overview.mdx
  docs/vendor/embedded-overview.mdx
Labels: type::feature, type::docs

#2747 Update policies-support-lifecycle.md
  docs/vendor/policies-support-lifecycle.md
Labels: type::feature, type::docs

#2749 Make it clear that node roles are for multi-node clusters
  docs/reference/embedded-config.mdx
Labels: type::feature, type::docs

#2750 Release notes for SDK 1.0.0-beta.31 plus related docs
  docs/partials/replicated-sdk/_dependency-yaml.mdx
  docs/release-notes/rn-replicated-sdk.md
  docs/vendor/replicated-sdk-customizing.md
  docs/vendor/replicated-sdk-installing.mdx
Labels: type::feature, type::docs

#2732 Vendor Portal v2024.10.10-5 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#2754 App Manager v1.119.0 release notes
  docs/release-notes/rn-app-manager.md
Labels: type::feature, type::docs

#2745 Vendor Portal v2024.10.16-0 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#2752 Vendor Portal v2024.10.17-1 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#2757 Remove Qualified scripts
  docusaurus.config.js
Labels: type::feature, type::chore, type::docs

#2758 Add step for enabling air gap license option
  docs/enterprise/installing-embedded-air-gap.mdx
Labels: type::feature, type::docs

#2760 Update kURL to clarify version expectation
  docs/vendor/testing-supported-clusters.md
Labels: type::feature, type::docs

#2755 Add Embedded Cluster install command reference
  docs/enterprise/installing-embedded-air-gap.mdx
  docs/enterprise/installing-embedded.mdx
  docs/partials/embedded-cluster/_proxy-install-limitations.mdx
  docs/partials/embedded-cluster/_proxy-install-reqs.mdx
  docs/reference/embedded-cluster-install.mdx
  sidebars.js
Labels: type::feature, type::docs

#2762 App Manager v1.119.1 release notes
  docs/release-notes/rn-app-manager.md
Labels: type::feature, type::docs

#2764 Corrected typos in helm-packaging-airgap-bundles section
  docs/vendor/helm-packaging-airgap-bundles.mdx
Labels: bug::normal, type::bug, type::feature, type::docs

#2759 Remove 1.15
  docs/release-notes/rn-embedded-cluster.md
Labels: type::feature, type::docs

#2763 Transition OKE to beta
  docs/vendor/testing-supported-clusters.md
Labels: type::feature, type::docs

#2766 Vendor Portal v2024.10.23-3 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#2765 fix min max node count
  docs/reference/replicated-cli-cluster-create.md
Labels: bug::normal, type::bug, type::feature, type::docs

#2768 Vendor Portal v2024.10.23-6 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#2769 1.16 release notes
  docs/release-notes/rn-embedded-cluster.md
Labels: type::feature, type::docs

#2767 Update rn-app-manager.md
  docs/release-notes/rn-app-manager.md
Labels: type::feature, type::docs

#2761 WAIT FOR RELEASE: Doc new --cidr flag
  docs/reference/embedded-cluster-install.mdx
  docs/release-notes/rn-app-manager.md
  docs/vendor/embedded-disaster-recovery.mdx
Labels: type::feature, type::docs

#2770 Vendor Portal v2024.10.24-2 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#2774 Bump EC version to 1.16 in examples
  docs/partials/embedded-cluster/_ec-config.mdx
  docs/partials/getting-started/_gitea-ec-config.mdx
  docs/reference/embedded-config.mdx
Labels: type::feature, type::docs

#2775 Update testing-cluster-addons.md
  docs/vendor/testing-cluster-addons.md
Labels: type::feature, type::docs

#2776 Kubernetes Installer v2024.10.24-0 release notes
  docs/release-notes/rn-kubernetes-installer.md
Labels: type::feature, type::docs

#2773 update download portal docs
  docs/vendor/releases-share-download-portal.md
  static/images/download-portal-existing-cluster.png
Labels: type::feature, type::docs

#2678 Onboarding docs
  docs/intro.md
  docs/partials/getting-started/_create-promote-release.mdx
  docs/partials/getting-started/_test-your-changes.mdx
  docs/partials/replicated-sdk/_dependency-yaml.mdx
  docs/reference/custom-resource-application.mdx
  docs/vendor/distributing-workflow.md
  docs/vendor/helm-native-v2-using.md
  docs/vendor/kots-faq.mdx
  docs/vendor/quick-start.mdx
  docs/vendor/replicated-onboarding.mdx
  docs/vendor/tutorial-cli-update-app.mdx
  docs/vendor/tutorial-embedded-cluster-install.mdx
  docs/vendor/vendor-portal-manage-app.md
  docusaurus.config.js
  netlify.toml
  sidebars.js
  static/images/config-preview.png
  static/images/gitea-ec-ready.png
  static/images/icon-preview.png
  static/images/quick-start-ec-upgrade-wizard-preflight.png
Labels: type::feature, type::docs

#2778 RN updates for EC 1.16
  docs/release-notes/rn-embedded-cluster.md
Labels: type::feature, type::docs

#2781 Update packages from `npm audit fix`
  yarn.lock
Labels: type::docs, type::security

#2782 Updating supported k3s versions
  docs/vendor/testing-supported-clusters.md
Labels: type::feature, type::docs

#2783 Updating supported kind versions
  docs/vendor/testing-supported-clusters.md
Labels: type::feature, type::docs

#2777 Vendor Portal v2024.10.25-3 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#2784 add `cluster shell` doc page
  docs/reference/replicated-cli-cluster-shell.mdx
  docs/vendor/testing-how-to.md
  sidebars.js
Labels: type::feature, type::docs

#2785 update supported eks versions
  docs/vendor/testing-supported-clusters.md
Labels: type::feature, type::chore, type::docs

#2786 Vendor Portal v2024.10.28-3 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#2787 Adding support for GKE 1.31
  docs/vendor/testing-supported-clusters.md
Labels: type::feature, type::docs

#2790 Fix broken anchor links
  docs/partials/embedded-cluster/_port-reqs.mdx
  docs/partials/embedded-cluster/_requirements.mdx
  docs/vendor/embedded-disaster-recovery.mdx
Labels: type::feature, type::docs

#2789 Mention multi-channel license fix
  docs/release-notes/rn-embedded-cluster.md
Labels: type::feature, type::docs

#2792 Add new `support-bundle` command
  docs/release-notes/rn-embedded-cluster.md
Labels: type::feature, type::docs

#2793 alphabetize flags
  docs/reference/embedded-cluster-install.mdx
Labels: type::feature, type::docs

#2795 mention node join bug fix
  docs/release-notes/rn-embedded-cluster.md
Labels: type::feature, type::docs

#2791 Add Harbor/Artificatory documentation to Helm Air Gap docs
  docs/vendor/helm-install-airgap.mdx
  docs/vendor/using-third-party-registry-proxy.mdx
  sidebars.js
Labels: type::feature, type::docs

#2796 App Manager v1.120.0 release notes
  docs/release-notes/rn-app-manager.md
Labels: type::feature, type::docs

#2794 feat(ec): partial rollback support in embedded cluster
  docs/vendor/embedded-overview.mdx
Labels: type::feature, type::docs
