Repository replicatedhq/replicated-docs, pull requests merged in 2024-02, with the labels that each got.

#1931 Specify which images the CVEs were resolved for
  docs/release-notes/rn-app-manager.md
Labels: type::feature, type::docs, type::security

#1922 Update license expiration handling info
  docs/partials/customers/_kots-entitlement-overview.mdx
  docs/partials/releases/_kots-helm-release-promotion.mdx
  docs/vendor/licenses-about.md
  docs/vendor/licenses-using-builtin-fields.md
  docs/vendor/releases-about.md
  static/images/channel-assignment-kots-and-helm.png
  static/images/release-promotion-kots-and-helm-customers.png
Labels: type::feature, type::docs

#1927 feat(cmx): openshift support for multiple nodes
  docs/vendor/testing-supported-clusters.md
Labels: type::feature, type::docs

#1943 Upgrade nodejs
  package.json
Labels: type::feature, type::docs

#1944 Prep for updating to MDX3
  docs/enterprise/updating-patching-with-kustomize.md
  docs/reference/cron-expressions.md
  docs/reference/custom-resource-application.md
  docs/reference/custom-resource-config.md
  docs/reference/linter.mdx
  docs/reference/replicated-sdk-apis.md
  docs/reference/template-functions-about.mdx
  docs/release-notes/rn-kubernetes-installer.md
  docs/vendor/ci-workflows-github-actions.md
  docs/vendor/ci-workflows.md
  docs/vendor/distributing-workflow.md
  docs/vendor/packaging-installer-storage.md
  docs/vendor/preflight-sb-helm-templates-about.md
  docs/vendor/replicated-onboarding.md
  docs/vendor/testing-supported-clusters.md
Labels: type::feature, type::docs

#1949 sdk 1.0.0-beta.14
  docs/partials/replicated-sdk/_dependency-yaml.mdx
Labels: type::feature, type::docs

#1957 Update Custom Metrics screenshots
  docs/vendor/custom-metrics.md
  static/images/instance-custom-metrics.png
Labels: type::feature, type::docs

#1961 Remove HelmVM references
  docs/vendor/instance-data-export.md
  docs/vendor/testing-about.md
  docs/vendor/testing-supported-clusters.md
Labels: type::feature, type::docs

#1966 Update yarn.lock
  yarn.lock
Labels: type::feature, type::docs

#1970 Distribution life cycle language fix
  docs/intro-replicated.md
Labels: type::feature, type::docs

#1956 Use kots get config to view ConfigValues
  docs/vendor/releases-configvalues.md
Labels: type::feature, type::docs

#1962 chore(cmx): document warm cluster start time with non-default disks
  docs/partials/cmx/_openshift-pool.mdx
Labels: type::feature, type::docs

#1972 Clarify KOTS branding FAQ
  docs/vendor/kots-faq.md
Labels: type::feature, type::docs

#1974 Fix MDX error
  docs/vendor/releases-configvalues.md
Labels: type::feature, type::docs

#1978 Re-enabling EKS 1.23
  docs/vendor/testing-supported-clusters.md
Labels: type::feature, type::docs

#1981 Update README.md
  README.md
Labels: type::feature, type::docs

#1983 Broken links and anchor links
  docs/enterprise/delete-admin-console.md
  docs/enterprise/snapshots-velero-cli-installing.md
  docs/enterprise/updating-embedded-cluster.mdx
  docs/partials/custom-resource-application/_ports-kurl-note.mdx
  docs/partials/updating/_upgradePrompt.mdx
  docs/reference/custom-resource-application.mdx
  docs/reference/custom-resource-config.mdx
  docs/reference/custom-resource-redactor.md
  docs/reference/template-functions-static-context.md
  docs/vendor/admin-console-port-forward.mdx
  docs/vendor/ci-workflows.mdx
  docs/vendor/kots-faq.mdx
  docs/vendor/kurl-nodeport-services.mdx
Labels: type::feature, type::docs

#1984 Add kustomize and helmchart v2 limitation
  docs/enterprise/updating-patching-with-kustomize.md
  docs/vendor/helm-native-about.mdx
Labels: type::feature, type::docs

#1988 Remove kubectl and kustomize version
  docs/partials/custom-resource-application/_kubectlVersion.mdx
  docs/partials/custom-resource-application/_kustomizeVersion.mdx
  docs/reference/custom-resource-application.mdx
  docs/release-notes/rn-app-manager.md
Labels: type::feature, type::docs

#1987 add known SDK limitation for license fields
  docs/vendor/replicated-sdk-overview.md
Labels: type::feature, type::docs

#1976 Add Google Artifact Registry as an External Registry option
  docs/vendor/packaging-private-images.md
Labels: type::feature, type::docs

#1900 Update distribution overview
  docs/intro-replicated.md
  docs/intro.md
  docs/partials/getting-started/_replicated-definition.mdx
  docs/partials/helm/_helm-charts-kots.mdx
  docs/partials/helm/_helm-definition.mdx
  docs/partials/helm/_helm-diagram-overview.mdx
  docs/partials/kots/_kots-definition.mdx
  docs/partials/kots/_kots-entitlement-note.mdx
  docs/partials/replicated-sdk/_overview.mdx
  docs/vendor/distributing-overview.md
  docs/vendor/helm-native-about.mdx
  docs/vendor/install-with-helm.md
  docs/vendor/tutorial-kots-helm-install-helm.md
  sidebars.js
  static/images/helm-install-diagram.png
  static/images/helm-kots-install-options.png
  static/images/replicated-platform.png
Labels: type::feature, type::docs

#1997 chore: Update hyperlink
  docs/vendor/packaging-embedded-kubernetes.md
Labels: type::chore, type::docs

#1999 [HOLD FOR MERGE] update docs with custom id information on create customer page
  docs/reference/replicated-sdk-apis.md
  docs/vendor/customer-reporting.md
  docs/vendor/licenses-about.md
  docs/vendor/licenses-adding-custom-fields.md
  docs/vendor/licenses-reference-helm.md
  docs/vendor/releases-creating-customer.md
  docs/vendor/replicated-sdk-development.md
  docs/vendor/tutorial-config-create-customer.md
  docs/vendor/tutorial-kots-helm-create-customer.md
  docs/vendor/tutorial-kots-helm-install-helm.md
  static/images/create-customer.png
  static/images/customer-details.png
Labels: type::feature, type::docs

#2002 Add registry logout step
  docs/partials/replicated-sdk/_401-unauthorized.mdx
  docs/partials/replicated-sdk/_kots-version-req.mdx
  docs/partials/replicated-sdk/_registry-logout.mdx
  docs/vendor/helm-install-release.md
  docs/vendor/replicated-sdk-installing.md
  docs/vendor/tutorial-config-package-chart.md
  docs/vendor/tutorial-kots-helm-package-chart.md
Labels: type::feature, type::docs

#2004 Adding info on distributions supporting nodegroups
  docs/vendor/testing-about.md
  docs/vendor/testing-supported-clusters.md
Labels: type::feature, type::docs

#1819 Tutorial: Define Preflight checks in a Helm chart
  docs/vendor/tutorial-preflight-helm-add-spec.mdx
  docs/vendor/tutorial-preflight-helm-create-customer.mdx
  docs/vendor/tutorial-preflight-helm-create-release.mdx
  docs/vendor/tutorial-preflight-helm-get-chart.mdx
  docs/vendor/tutorial-preflight-helm-install-kots.mdx
  docs/vendor/tutorial-preflight-helm-install.mdx
  docs/vendor/tutorial-preflight-helm-setup.mdx
  sidebars.js
  static/images/gitea-preflights-admin-console.png
  static/images/gitea-preflights-cli.png
Labels: type::feature, type::docs

#2010 Joshd/sc 99228/nodegroups documentation 2
  docs/partials/replicated-cli/_output.mdx
  docs/reference/replicated-cli-cluster-create.md
  docs/reference/replicated-cli-cluster-nodegroup-ls.md
  docs/vendor/testing-supported-clusters.md
  sidebars.js
Labels: type::feature, type::docs

#2014 Update replicated-cli-cluster-ls.md
  docs/reference/replicated-cli-cluster-ls.md
Labels: type::feature, type::docs

#2013 Update replicated-cli-cluster-create.md
  docs/reference/replicated-cli-cluster-create.md
Labels: type::feature, type::docs

#2017 Update supported kind versions
  docs/vendor/testing-supported-clusters.md
Labels: type::feature, type::docs

#2021 Adding g4dn eks instance types
  docs/vendor/testing-supported-clusters.md
Labels: type::feature, type::docs

#2022 Adding arm aks instance types
  docs/vendor/testing-supported-clusters.md
Labels: type::feature, type::docs

#2030 Add Google Artifact Registry and custom-id
  docs/reference/replicated-cli-customer-create.md
  docs/reference/replicated-cli-customer-ls.md
  docs/reference/replicated-cli-registry-add-gar.mdx
  docs/reference/replicated-cli-registry-add.mdx
  sidebars.js
Labels: type::feature, type::docs

#2015 Embedded cluster beta
  docs/reference/embedded-config.mdx
  docs/vendor/embedded-overview.mdx
  sidebars.js
  static/images/admin-console-add-node.png
  static/images/customer-install-instructions-dropdown.png
  static/images/embedded-cluster-install-dialog.png
Labels: type::feature, type::docs

#2041 Fix quotes around annotations
  docs/vendor/packaging-include-resources.md
Labels: type::feature, type::docs

#2042 Adding instructions for nvidia device plugin
  docs/vendor/testing-supported-clusters.md
Labels: type::feature, type::docs

#1989 Update about KOTS and kURL
  docs/intro-kots.md
  docs/partials/kots/_kots-definition.mdx
  docs/vendor/kurl-about.mdx
  sidebars.js
  static/images/kots-installation-overview.png
Labels: type::feature, type::docs

#2039 feat(cmx): openshift 4.15.0-okd support
  docs/vendor/testing-supported-clusters.md
Labels: type::feature, type::docs

#2048 Give range of supported versions
  docs/reference/embedded-config.mdx
Labels: type::feature, type::docs

#2045 Adding ARM support for GKE
  docs/vendor/testing-supported-clusters.md
Labels: type::feature, type::docs

#2051 Adding nodegroups to OKD, k3s and kURL
  docs/vendor/testing-supported-clusters.md
Labels: type::feature, type::docs
