Repository replicatedhq/replicated-docs, pull requests merged in 2024-04, with the labels that each got.

#2199 removes note about unsupported heading config item
  docs/reference/custom-resource-config.mdx
Labels: type::feature, type::docs

#2193 Update CSV download docs
  docs/partials/customers/_download.mdx
  static/images/customers-download-csv.png
Labels: type::feature, type::docs

#2200 Update policies-support-lifecycle.md
  docs/vendor/policies-support-lifecycle.md
Labels: type::feature, type::docs

#2203 [HOLD FOR MERGE] Add granular app status to docs
  docs/vendor/instance-insights-details.md
Labels: type::feature, type::docs

#2206 Fix broken link on custom-domains-using.md
  docs/vendor/custom-domains-using.md
Labels: type::feature, type::docs

#2210 Update replicated-cli-installing.md
  docs/reference/replicated-cli-installing.md
Labels: type::feature, type::docs

#2214 Update whats new and did you know cards for april
  docs/intro.md
  docs/vendor/instance-insights-details.md
  static/images/resource-status-hover-current-state.png
Labels: type::feature, type::docs

#2215 Make sidebar hideable
  docusaurus.config.js
Labels: type::feature, type::docs

#2217 Update Channel Sequence docs
  docs/vendor/releases-about.md
  static/images/release-history-channel-sequence.png
Labels: type::feature, type::docs

#2226 Replicated SDK instance-tags API
  docs/reference/replicated-sdk-apis.md
Labels: type::feature, type::docs

#2231 Fix syntax error in an example
  docs/reference/replicated-sdk-apis.md
Labels: type::feature, type::docs

#2233 Remove quotes around boolean
  docs/reference/replicated-sdk-apis.md
Labels: type::feature, type::docs

#2240 docs(cmx): cluster add-ons
  docs/intro.md
  docs/reference/replicated-cli-cluster-addon-create-object-store.md
  docs/reference/replicated-cli-cluster-addon-create.md
  docs/reference/replicated-cli-cluster-addon-ls.md
  docs/reference/replicated-cli-cluster-addon-rm.md
  docs/reference/replicated-cli-registry-add.mdx
  docs/vendor/testing-about.md
  docs/vendor/testing-cluster-addons.md
  sidebars.js
Labels: type::feature, type::docs

#2243 Adding docs for CMX ingress
  docs/vendor/testing-ingress.md
  sidebars.js
  static/images/compatibility-matrix-ingress.png
Labels: type::feature, type::docs

#2229 Add additional cluster options
  docs/vendor/support-inspecting-support-bundles.md
  docs/vendor/testing-how-to.md
  static/images/cmx-cluster-configuration.png
  static/images/create-a-cluster.png
  static/images/support-bundle-analyze.png
Labels: type::feature, type::docs

#2192 WAIT FOR RELEASE: Mention --reboot flag
  docs/vendor/embedded-overview.mdx
Labels: type::feature, type::docs

#2248 update static context description
  docs/reference/template-functions-about.mdx
Labels: type::feature, type::docs

#2255 Improve description of LicenseFieldValue
  docs/reference/template-functions-license-context.md
Labels: type::feature, type::docs

#2254 Updating GitOps messaging
  docs/enterprise/gitops-managing-secrets.mdx
  docs/enterprise/gitops-workflow.mdx
  docs/enterprise/installing-overview.md
  docs/partials/gitops/_gitops-not-recommended.mdx
  docs/partials/helm/_gitops-limitation.mdx
  docs/vendor/helm-native-about.mdx
  docs/vendor/licenses-using-builtin-fields.mdx
  docs/vendor/releases-creating-customer.mdx
Labels: type::feature, type::docs

#2257 Update requirements and limitations of config when property
  docs/partials/config/_property-when.mdx
  docs/partials/config/_when-note.mdx
  docs/partials/config/_when-requirements.mdx
  docs/partials/config/_whenExample.mdx
  docs/reference/custom-resource-config.mdx
  docs/vendor/config-screen-conditional.mdx
Labels: type::feature, type::docs

#2252 Adding postgres add-on
  docs/vendor/testing-cluster-addons.md
Labels: type::feature, type::docs

#2271 Declare the SDK one time
  docs/partials/replicated-sdk/_dependency-yaml.mdx
  docs/vendor/replicated-sdk-installing.md
Labels: type::feature, type::docs

#2274 recreate kurl release notes for the time period that automated PRs were broken
  docs/release-notes/rn-kubernetes-installer.md
Labels: type::feature, type::docs

#2213 Add repl template functions examples
  docs/partials/template-functions-about/_syntax-integer-example.mdx
  docs/partials/template-functions-about/_syntax-integer.mdx
  docs/partials/template-functions-about/_syntax-string-example.mdx
  docs/partials/template-functions-about/_syntax-string.mdx
  docs/partials/template-functions/_go-sprig.mdx
  docs/partials/template-functions/_integer-comparison.mdx
  docs/partials/template-functions/_string-comparison.mdx
  docs/partials/template-functions/_use-cases.mdx
  docs/reference/template-functions-about.mdx
  docs/reference/template-functions-config-context.md
  docs/reference/template-functions-examples.mdx
  docs/reference/template-functions-license-context.md
  docs/vendor/config-screen-conditional.mdx
  docs/vendor/tutorial-adding-db-config.md
  sidebars.js
  static/images/certificate-chain-default-values.png
  static/images/conditional-item-false-boolean.png
  static/images/conditional-item-false-option-two.png
  static/images/conditional-item-true.png
Labels: type::feature, type::docs

#2283 Rename bucket into bucket-prefix
  docs/reference/replicated-cli-cluster-addon-create-object-store.md
  docs/vendor/testing-cluster-addons.md
Labels: bug::normal, type::bug, type::feature, type::docs

#2285 fix broken anchor link
  docs/vendor/preflight-defining.md
  docs/vendor/preflight-support-bundle-about.md
Labels: type::feature, type::docs

#2287 Add whitespace note
  docs/reference/template-functions-about.mdx
Labels: type::feature, type::docs

#2288 don't declare sdk more than once
  docs/vendor/helm-install-release.md
Labels: type::feature, type::docs

#2289 Update related links
  docs/vendor/tutorial-kots-helm-package-chart.md
Labels: type::feature, type::docs

#2295 add bash to supported languages
  docusaurus.config.js
Labels: type::feature, type::docs

#2280 Update CLI install and add quick install steps
  docs/enterprise/installing-embedded-airgapped.mdx
  docs/enterprise/installing-embedded-cluster.mdx
  docs/enterprise/installing-existing-cluster-airgapped.mdx
  docs/enterprise/installing-existing-cluster-automation.md
  docs/enterprise/installing-existing-cluster-automation.mdx
  docs/enterprise/installing-existing-cluster.mdx
  docs/enterprise/installing-general-requirements.md
  docs/intro-kots.md
  docs/partials/install/_automation-intro-embedded.mdx
  docs/partials/install/_download-kotsadm-bundle.mdx
  docs/partials/install/_download-kurl-bundle.mdx
  docs/partials/install/_extract-kurl-bundle.mdx
  docs/partials/install/_install-kots-cli-airgap.mdx
  docs/partials/install/_install-kots-cli.mdx
  docs/partials/install/_kots-airgap-version-match.mdx
  docs/partials/install/_placeholder-airgap-bundle.mdx
  docs/partials/install/_placeholder-ro-creds.mdx
  docs/partials/install/_placeholders-global.mdx
  docs/partials/install/_push-kotsadm-images.mdx
  docs/reference/kots-cli-install.md
  docs/vendor/kurl-nodeport-services.mdx
  docs/vendor/packaging-rbac.md
  docs/vendor/releases-configvalues.md
  sidebars.js
Labels: type::feature, type::docs

#2297 Update builder field
  docs/reference/custom-resource-helmchart-v2.mdx
Labels: type::feature, type::docs

#2239 Reorg license entitlement check procedures
  docs/partials/replicated-sdk/_overview.mdx
  docs/reference/replicated-sdk-apis.md
  docs/vendor/install-with-helm.md
  docs/vendor/licenses-about.mdx
  docs/vendor/licenses-adding-custom-fields.md
  docs/vendor/licenses-reference-helm.md
  docs/vendor/licenses-reference-kots-runtime.mdx
  docs/vendor/licenses-reference-sdk.mdx
  docs/vendor/licenses-referencing-fields.md
  docs/vendor/licenses-verify-fields-sdk-api.md
  docs/vendor/releases-creating-customer.mdx
  docs/vendor/replicated-onboarding.md
  sidebars.js
Labels: type::feature, type::docs

#2298 Don't generate release notes PR if there are none
  .github/workflows/vendor-portal-release-notes.yml
Labels: type::chore, type::docs

#2270 Clarify how to use the proxy service with KOTS and Helm installs
  docs/intro-replicated.md
  docs/partials/proxy-service/_step-creds.mdx
  docs/partials/proxy-service/_step-custom-domain.mdx
  docs/reference/template-functions-config-context.md
  docs/vendor/helm-image-registry.mdx
  docs/vendor/helm-native-v2-using.md
  docs/vendor/operator-referencing-images.md
  docs/vendor/packaging-private-images.md
  docs/vendor/private-images-about.md
  docs/vendor/private-images-kots.mdx
  sidebars.js
Labels: type::feature, type::docs

#2306 Update references to Replicated SDK version to 1.0.0-beta.18
  docs/partials/replicated-sdk/_dependency-yaml.mdx
  docs/reference/template-functions-examples.mdx
Labels: type::feature, type::docs

#2309 fix formatting error
  docs/enterprise/installing-general-requirements.md
Labels: type::feature, type::docs

#2312 feat(cmx): support for rke2
  docs/partials/cmx/_supported-clusters-overview.mdx
  docs/vendor/testing-supported-clusters.md
Labels: type::feature, type::docs
