Repository replicatedhq/replicated-docs, pull requests merged in 2024-11, with the labels that each got.

#2798 Add missing install flags
  docs/reference/embedded-cluster-install.mdx
Labels: type::feature, type::docs

#2779 Vendor Portal v2024.10.25-8 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#2800 Add EC Config to list of other customer resources
  docs/reference/custom-resource-about.md
Labels: type::feature, type::docs

#2804 App Manager v1.120.1 release notes
  docs/release-notes/rn-app-manager.md
Labels: type::feature, type::docs

#2771 doc: document embedded-cluster support-bundle command
  docs/partials/support-bundles/_ec-support-bundle-intro.mdx
  docs/partials/support-bundles/_generate-bundle-ec.mdx
  docs/vendor/embedded-overview.mdx
  docs/vendor/support-bundle-embedded.mdx
  docs/vendor/support-bundle-generating.mdx
Labels: type::feature, type::docs

#2805 Documents limitation on policy enforcement
  docs/vendor/embedded-overview.mdx
Labels: type::feature, type::docs

#2797 feat: embedded cluster 1.17.0 release notes
  docs/release-notes/rn-embedded-cluster.md
Labels: type::feature, type::docs

#2806 Fix my mistake
  docs/release-notes/rn-embedded-cluster.md
Labels: type::feature, type::docs

#2807 Update rn-embedded-cluster.md
  docs/release-notes/rn-embedded-cluster.md
Labels: type::feature, type::docs

#2808 App Manager v1.120.2 release notes
  docs/release-notes/rn-app-manager.md
Labels: type::feature, type::docs

#2803 Update testing-supported-clusters.md
  docs/vendor/testing-supported-clusters.md
Labels: type::feature, type::chore, type::docs

#2802 Vendor Portal v2024.11.01-1 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#2814 add hardening limitation
  docs/vendor/embedded-overview.mdx
Labels: type::feature

#2813 App Manager v1.120.3 release notes
  docs/release-notes/rn-app-manager.md
Labels: type::feature, type::docs

#2810 Vendor Portal v2024.11.06-1 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#2812 Kubernetes Installer v2024.11.07-0 release notes
  docs/release-notes/rn-kubernetes-installer.md
Labels: type::feature, type::docs

#2816 Kubernetes Installer v2024.11.08-0 release notes
  docs/release-notes/rn-kubernetes-installer.md
Labels: type::feature, type::docs

#2815 feat: embedded cluster 1.18.0 release notes
  docs/release-notes/rn-embedded-cluster.md
Labels: type::feature, type::docs

#2811 Remove unsupported special characters
  docs/reference/cron-expressions.md
Labels: type::feature, type::docs

#2809 Updating EC install experience in Admin Console
  docs/enterprise/installing-embedded-air-gap.mdx
  docs/enterprise/installing-embedded.mdx
  docs/partials/embedded-cluster/_ec-config.mdx
  docs/partials/getting-started/_gitea-ec-config.mdx
  docs/reference/embedded-config.mdx
  docs/vendor/quick-start.mdx
Labels: type::feature, type::docs

#2822 App Manager v1.121.0 release notes
  docs/release-notes/rn-app-manager.md
Labels: type::feature, type::docs

#2818 Document the ability to download the application archive of any version including the currently deployed one
  docs/reference/kots-cli-download.md
Labels: type::feature, type::docs

#2819 Add kURL UI removal note
  docs/partials/kurl/_kurl-availability.mdx
  docs/vendor/embedded-kubernetes-overview.mdx
  docs/vendor/installer-history.mdx
  docs/vendor/kots-faq.mdx
  docs/vendor/kurl-about.mdx
  docs/vendor/packaging-embedded-kubernetes.mdx
  docs/vendor/packaging-installer-storage.mdx
  docs/vendor/packaging-using-tls-certs.mdx
Labels: type::feature, type::docs

#2817 Vendor Portal v2024.11.11-0 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#2820 Vendor Portal v2024.11.12-2 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#2821 Vendor Portal v2024.11.12-4 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#2753 Clarify that local registry template functions can also return Embedded Cluster/kURL registries
  docs/reference/cron-expressions.md
  docs/reference/template-functions-config-context.md
  docs/vendor/helm-native-v2-using.md
Labels: type::feature, type::docs

#2823 Vendor Portal v2024.11.13-0 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#2825 Update embedded-config.mdx
  docs/reference/embedded-config.mdx
Labels: type::feature, type::chore, type::docs

#2799 define install types option & include single tenant managed
  docs/vendor/licenses-about.mdx
  docs/vendor/licenses-using-builtin-fields.mdx
Labels: type::feature, type::docs

#2801 Update license docs to reflect install type options
  docs/vendor/licenses-install-types.mdx
  docs/vendor/releases-creating-customer.mdx
  sidebars.js
  static/images/create-customer.png
  static/images/license-install-types.png
Labels: type::feature, type::docs

#2826 Fix yaml syntax
  docs/partials/helm/_helm-cr-builder-example.mdx
  docs/partials/helm/_helm-cr-optional-values-when.mdx
Labels: type::feature, type::docs

#2827 add release notes for Embedded Cluster 1.19.0
  docs/release-notes/rn-embedded-cluster.md
Labels: type::feature, type::docs

#2828 Update what's new and dyk for November
  docs/intro.md
Labels: type::feature, type::docs

#2829 Vendor Portal v2024.11.18-0 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#2831 Bump ec version
  docs/partials/embedded-cluster/_ec-config.mdx
  docs/partials/getting-started/_gitea-ec-config.mdx
  docs/reference/embedded-config.mdx
Labels: type::feature, type::docs

#2832 Update policies-support-lifecycle.md
  docs/vendor/policies-support-lifecycle.md
Labels: type::feature, type::docs

#2833 Add version reqs to ec install flags
  docs/reference/embedded-cluster-install.mdx
Labels: type::feature, type::docs

#2834 Update rn-embedded-cluster.md
  docs/release-notes/rn-embedded-cluster.md
Labels: type::feature, type::docs

#2830 Add EC --config-values flag and update automated install docs
  docs/enterprise/installing-existing-cluster-automation.mdx
  docs/enterprise/installing-overview.md
  docs/intro-kots.md
  docs/reference/embedded-cluster-install.mdx
  docs/reference/kots-cli-install.mdx
  docs/vendor/embedded-overview.mdx
  docs/vendor/packaging-rbac.md
  docs/vendor/releases-configvalues.md
  docs/vendor/replicated-sdk-airgap.mdx
  docs/vendor/replicated-sdk-customizing.md
  sidebars.js
  static/images/admin-console-view-files-configvalues.png
Labels: type::feature, type::docs

#2836 Update licenses-install-types.mdx
  docs/vendor/licenses-install-types.mdx
Labels: type::feature, type::docs

#2838 Edit info about rollback support for EC
  docs/reference/custom-resource-application.mdx
  docs/release-notes/rn-embedded-cluster.md
  docs/vendor/embedded-overview.mdx
Labels: type::feature, type::docs

#2837 Fix broken links
  docs/vendor/embedded-overview.mdx
  docs/vendor/licenses-install-types.mdx
Labels: type::feature, type::docs

#2839 Update testing-how-to.md
  docs/reference/replicated-cli-cluster-prepare.md
  docs/vendor/testing-how-to.md
  docs/vendor/testing-supported-clusters.md
Labels: type::feature, type::docs

#2842 add link to helm airgap doc
  docs/vendor/licenses-install-types.mdx
Labels: type::feature, type::docs

#2843 moving private registry proxy to beta
  docs/vendor/using-third-party-registry-proxy.mdx
Labels: type::feature, type::docs

#2841 Update helm-install-airgap.mdx
  docs/vendor/helm-install-airgap.mdx
Labels: type::feature, type::docs

#2846 Snapshots only for KOTS existing and kURL
  docs/enterprise/snapshots-understanding.mdx
  docs/partials/snapshots/_limitation-no-ec-support.mdx
  docs/vendor/packaging-rbac.md
  docs/vendor/snapshots-overview.md
Labels: type::feature, type::docs

#2845 Vendor Portal v2024.11.20-2 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#2848 Remove outdated ci cd tutorial
  docs/vendor/tutorial-adding-db-config.md
  docs/vendor/tutorial-ci-cd-integration.md
  netlify.toml
  sidebars.js
Labels: type::feature, type::docs

#2851 Remove headless install limitation for EC
  docs/vendor/embedded-overview.mdx
Labels: type::feature, type::docs

#2847 Vendor Portal v2024.11.20-5 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#2850 update supported k3s versions
  docs/vendor/testing-supported-clusters.md
Labels: type::feature, type::docs

#2853 Remove kind 1.25
  docs/vendor/testing-supported-clusters.md
Labels: type::feature, type::docs

#2852 Adding postgres 17
  docs/vendor/testing-cluster-addons.md
Labels: type::feature, type::docs

#2855 Document new rbac license field override resources
  docs/vendor/team-management-rbac-resource-names.md
Labels: type::feature, type::docs

#2856 App Manager v1.121.1 release notes
  docs/release-notes/rn-app-manager.md
Labels: type::feature, type::docs

#2857 Vendor Portal v2024.11.26-2 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#2859 App Manager v1.121.2 release notes
  docs/release-notes/rn-app-manager.md
Labels: type::feature, type::docs

#2862 Update testing-ingress.md
  docs/vendor/testing-ingress.md
Labels: type::feature, type::docs

#2860 Vendor Portal v2024.11.27-0 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#2861 Vendor Portal v2024.11.27-1 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#2863 Add EKS 1.28 to extended support
  docs/vendor/testing-supported-clusters.md
Labels: type::feature, type::docs

#2854 Add EKS 1.28 to extended support
  docs/vendor/testing-supported-clusters.md
Labels: type::feature, type::docs

#2858 Vendor Portal v2024.11.26-6 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs
