Repository replicatedhq/replicated-docs, pull requests merged in 2024-05, with the labels that each got.

#2314 CMX: remove GKE 1.25
  docs/vendor/testing-supported-clusters.md
Labels: type::feature, type::docs

#2315 Fix spelling typo
  docs/partials/cmx/_billing.mdx
  docs/partials/cmx/_overview.mdx
Labels: type::feature, type::chore, type::docs

#2317 fix compatiblity typos
  docs/intro-replicated.md
  docs/reference/replicated-cli-cluster-versions.md
  docs/vendor/testing-about.md
  docs/vendor/testing-cluster-addons.md
  docs/vendor/testing-supported-clusters.md
Labels: type::feature, type::docs

#2318 Scale down AKS 1.26 to zero
  docs/vendor/testing-supported-clusters.md
Labels: type::feature, type::docs

#2311 Update EC version
  docs/reference/embedded-config.mdx
  docs/vendor/embedded-overview.mdx
Labels: type::feature, type::docs

#2323 chore: Update detected k8s distributions
  docs/reference/template-functions-static-context.md
Labels: type::feature, type::chore, type::docs

#2303 Add doc about packaging airgap bundles
  docs/partials/airgap/_airgap-bundle.mdx
  docs/partials/helm/_helm-builder-requirements.mdx
  docs/partials/helm/_helm-cr-builder-airgap-intro.mdx
  docs/partials/helm/_helm-cr-builder-example.mdx
  docs/reference/custom-resource-helmchart-v2.mdx
  docs/vendor/helm-native-about.mdx
  docs/vendor/helm-packaging-airgap-bundles.mdx
  docs/vendor/operator-defining-additional-images.md
  docs/vendor/operator-defining-additional-images.mdx
  docs/vendor/releases-download-airgap-bundles.mdx
  sidebars.js
Labels: type::feature, type::docs

#2328 Update What's New and DYK for May 2024
  docs/intro.md
Labels: type::feature, type::docs

#2330 Update old links for template function cert example
  docs/reference/template-functions-static-context.md
Labels: type::feature, type::docs

#2332 Require version for Helm extensions
  docs/reference/embedded-config.mdx
Labels: type::feature, type::docs

#2334 update kots automated release notes k8s compatibility
  .github/workflows/app-manager-release-notes.yml
Labels: type::chore, type::docs

#2335 feat(cmx): cluster ports cli
  docs/reference/replicated-cli-cluster-port-expose.md
  docs/reference/replicated-cli-cluster-port-ls.md
  docs/reference/replicated-cli-cluster-port-rm.md
  docs/vendor/testing-ingress.md
  sidebars.js
Labels: type::feature, type::docs

#2337 Adds licensing lab
  sidebars.js
Labels: type::feature, type::docs

#2341 Use new EC versioning scheme
  docs/reference/embedded-config.mdx
  docs/vendor/embedded-overview.mdx
Labels: type::feature, type::docs

#2344 Update Replicated SDK version to v1.0.0-beta.20
  docs/partials/replicated-sdk/_dependency-yaml.mdx
  docs/reference/template-functions-examples.mdx
Labels: type::feature, type::docs

#2320 Add air gap telemetry beta docs
  docs/partials/instance-insights/_airgap-telemetry.mdx
  docs/vendor/instance-insights-event-data.mdx
  docs/vendor/telemetry-air-gap.mdx
  sidebars.js
  static/images/airgap-upload-telemetry.png
Labels: type::feature, type::docs

#2331 SDK Air Gap Mode
  docs/vendor/replicated-sdk-airgap.mdx
  docs/vendor/replicated-sdk-installing.mdx
  sidebars.js
Labels: type::feature, type::docs

#2339 feat(cmx): subdomains and wildcards are supported
  docs/vendor/testing-ingress.md
Labels: type::feature, type::docs

#2350 Use replicated GH PAT in order to trigger GH workflows on PRs
  .github/workflows/app-manager-release-notes.yml
  .github/workflows/kubernetes-installer-release-notes.yml
  .github/workflows/replicated-sdk-release-notes.yml
  .github/workflows/vendor-portal-release-notes.yml
Labels: type::feature, type::docs

#2351 App Manager v1.109.2 release notes
  docs/release-notes/rn-app-manager.md
Labels: type::feature, type::docs

#2353 App Manager v1.109.3 release notes
  docs/release-notes/rn-app-manager.md
Labels: type::feature, type::docs

#2354 Remove GKE 1.26
  docs/vendor/testing-supported-clusters.md
Labels: type::feature, type::docs

#2352 Updating kind versions
  docs/vendor/testing-supported-clusters.md
Labels: type::feature, type::docs

#2348 HOLD FOR RELEASE: document builtInExtensions section for embedded cluster
  docs/reference/embedded-config.mdx
  docs/vendor/embedded-overview.mdx
Labels: type::feature, type::docs

#2357 Support for name flag when updating ttl
  docs/reference/replicated-cli-cluster-update-ttl.md
Labels: type::feature, type::docs

#2358 Add air gap telemetry diagram
  docs/vendor/telemetry-air-gap.mdx
  static/images/airgap-telemetry.png
Labels: type::feature, type::docs

#2355 Clarifying the limitations of restoring from full versus partial snapshots
  docs/enterprise/snapshots-restoring-full.mdx
  docs/enterprise/snapshots-understanding.md
  docs/enterprise/snapshots-understanding.mdx
  docs/partials/snapshots/_limitation-cli-restores.mdx
  docs/partials/snapshots/_limitation-dr.mdx
  docs/partials/snapshots/_limitation-install-method.mdx
  docs/partials/snapshots/_limitation-os.mdx
  docs/partials/snapshots/_restore-types.mdx
  docs/partials/snapshots/_step-get-backups.mdx
  docs/partials/snapshots/_step-restore.mdx
Labels: type::feature, type::docs

#2356 Vendor Portal v2024.05.16-3 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: bug::normal, type::bug, type::docs

#2359 Kubernetes Installer v2024.05.17-0 release notes
  docs/release-notes/rn-kubernetes-installer.md
Labels: type::feature, type::docs

#2125 HOLD FOR RELEASE add airgap to embedded-cluster
  docs/vendor/embedded-overview.mdx
Labels: type::feature, type::docs

#2360 Revert "HOLD FOR RELEASE add airgap to embedded-cluster"
  docs/vendor/embedded-overview.mdx
Labels: type::feature, type::chore, type::docs

#2364 Update _overview.mdx
  docs/partials/replicated-sdk/_overview.mdx
Labels: type::feature, type::docs

#2367 Remove props from textarea because they don't work now
  docs/reference/custom-resource-config.mdx
Labels: type::feature, type::docs

#2340 Adding IP Family
  docs/reference/replicated-cli-cluster-create.md
  docs/vendor/testing-supported-clusters.md
Labels: type::feature, type::docs

#2372 Add OpenShift as supported distribution
  docs/reference/template-functions-static-context.md
Labels: type::feature, type::docs

#2373 App Manager v1.109.4 release notes
  docs/release-notes/rn-app-manager.md
Labels: type::feature, type::docs

#2365 Vendor Portal v2024.05.20-1 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#2369 Vendor Portal v2024.05.21-0 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#2370 Add note about Replicated SDK requirement for granular resource status details
  docs/partials/replicated-sdk/_overview.mdx
  docs/vendor/insights-app-status.md
  docs/vendor/instance-insights-details.md
  docs/vendor/instance-insights-event-data.mdx
Labels: type::feature, type::docs

#2377 App Manager v1.109.5 release notes
  docs/release-notes/rn-app-manager.md
Labels: type::feature, type::docs

#2380 App Manager v1.109.6 release notes
  docs/release-notes/rn-app-manager.md
Labels: type::feature, type::docs

#2381 Add doc on how to validate SLSA attestations for the Replicated SDK
  docs/vendor/replicated-sdk-slsa-validating.md
  sidebars.js
Labels: type::feature, type::docs

#2382 Updates Helm extension example for airgap
  docs/reference/embedded-config.mdx
Labels: type::feature, type::docs

#2371 Vendor Portal v2024.05.21-1 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#2376 Vendor Portal v2024.05.23-2 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#2374 Clarify that KOTS 1.92.1 supports air gap telemetry
  docs/partials/instance-insights/_airgap-telemetry.mdx
  docs/vendor/telemetry-air-gap.mdx
Labels: type::feature, type::docs

#2386 Adding OKE docs
  docs/vendor/testing-supported-clusters.md
Labels: type::feature, type::docs

#2389 Rebrand CLI docs
  docs/reference/kots-cli-admin-console-garbage-collect-images.md
  docs/reference/kots-cli-admin-console-generate-manifests.md
  docs/reference/kots-cli-admin-console-index.md
  docs/reference/kots-cli-admin-console-push-images.md
  docs/reference/kots-cli-admin-console-upgrade.mdx
  docs/reference/kots-cli-backup-index.md
  docs/reference/kots-cli-backup-ls.md
  docs/reference/kots-cli-docker-ensure-secret.md
  docs/reference/kots-cli-download.md
  docs/reference/kots-cli-enable-ha.md
  docs/reference/kots-cli-get-apps.md
  docs/reference/kots-cli-get-backups.md
  docs/reference/kots-cli-get-config.md
  docs/reference/kots-cli-get-index.md
  docs/reference/kots-cli-get-restores.md
  docs/reference/kots-cli-get-versions.md
  docs/reference/kots-cli-getting-started.md
  docs/reference/kots-cli-global-flags.md
  docs/reference/kots-cli-identity-service-enable-shared-password.md
  docs/reference/kots-cli-install.md
  docs/reference/kots-cli-pull.md
  docs/reference/kots-cli-remove.md
  docs/reference/kots-cli-reset-password.md
  docs/reference/kots-cli-reset-tls.md
  docs/reference/kots-cli-restore-index.md
  docs/reference/kots-cli-restore-ls.md
  docs/reference/kots-cli-set-config.mdx
  docs/reference/kots-cli-upstream-download.md
  docs/reference/kots-cli-upstream-upgrade.mdx
  docs/reference/kots-cli-velero-configure-aws-s3.md
  docs/reference/kots-cli-velero-configure-azure.md
  docs/reference/kots-cli-velero-configure-gcp.md
  docs/reference/kots-cli-velero-configure-hostpath.md
  docs/reference/kots-cli-velero-configure-nfs.md
  docs/reference/kots-cli-velero-configure-other-s3.md
  docs/reference/kots-cli-velero-ensure-permissions.md
  docs/reference/kots-cli-velero-index.md
  docs/reference/kots-cli-velero-print-fs-instructions.md
  docs/reference/replicated-cli-cluster-update-ttl.md
  docs/reference/replicated-cli-installing.mdx
  docs/reference/replicated-cli-login.md
Labels: type::feature, type::docs

#2388 Rebrand onboarding content
  docs/intro-replicated.md
  docs/vendor/distributing-overview.mdx
  docs/vendor/replicated-onboarding.mdx
  docs/vendor/tutorial-cli-create-app.mdx
  docs/vendor/tutorial-cli-create-customer.mdx
  docs/vendor/tutorial-cli-create-new-version.mdx
  docs/vendor/tutorial-cli-create-release.mdx
  docs/vendor/tutorial-cli-deploy-app.mdx
  docs/vendor/tutorial-cli-install-app-manager.mdx
  docs/vendor/tutorial-cli-install-cli.mdx
  docs/vendor/tutorial-cli-setup.mdx
  docs/vendor/tutorial-cli-update-app.mdx
  docs/vendor/tutorial-kots-helm-create-app.md
  docs/vendor/tutorial-kots-helm-create-customer.md
  docs/vendor/tutorial-kots-helm-create-release.md
  docs/vendor/tutorial-kots-helm-get-chart.md
  docs/vendor/tutorial-kots-helm-install-helm.md
  docs/vendor/tutorial-kots-helm-install-kots.md
  docs/vendor/tutorial-kots-helm-setup.md
  docs/vendor/tutorial-ui-create-app.md
  docs/vendor/tutorial-ui-create-customer.md
  docs/vendor/tutorial-ui-create-new-version.md
  docs/vendor/tutorial-ui-create-release.md
  docs/vendor/tutorial-ui-deploy-app.md
  docs/vendor/tutorial-ui-install-app-manager.mdx
  docs/vendor/tutorial-ui-setup.mdx
  docs/vendor/tutorial-ui-update-app.md
Labels: type::feature, type::docs

#2378 Vendor Portal v2024.05.24-2 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: bug::regression, type::bug, type::docs

#2392 Airgap edits
  docs/partials/instance-insights/_airgap-telemetry.mdx
  docs/vendor/telemetry-air-gap.mdx
Labels: type::feature, type::docs

#2390 Rebrand CMX
  docs/intro-replicated.md
  docs/intro.md
  docs/partials/ci-cd/_test-recs.mdx
  docs/partials/cmx/_billing.mdx
  docs/partials/cmx/_overview.mdx
  docs/partials/cmx/_prerequisites.mdx
  docs/partials/cmx/_supported-clusters-overview.mdx
  docs/reference/replicated-cli-cluster-create.md
  docs/reference/replicated-cli-cluster-kubeconfig.md
  docs/reference/replicated-cli-cluster-ls.md
  docs/reference/replicated-cli-cluster-nodegroup-ls.md
  docs/reference/replicated-cli-cluster-prepare.md
  docs/reference/replicated-cli-cluster-rm.md
  docs/reference/replicated-cli-cluster-update-ttl.md
  docs/reference/replicated-cli-cluster-upgrade.md
  docs/reference/replicated-cli-cluster-versions.md
  docs/vendor/ci-overview.md
  docs/vendor/ci-workflows-github-actions.md
  docs/vendor/ci-workflows.mdx
  docs/vendor/distributing-overview.mdx
  docs/vendor/replicated-onboarding.mdx
  docs/vendor/support-inspecting-support-bundles.md
  docs/vendor/testing-about.md
  docs/vendor/testing-cluster-addons.md
  docs/vendor/testing-how-to.md
  docs/vendor/testing-ingress.md
  docs/vendor/testing-supported-clusters.md
  docs/vendor/tutorial-config-setup.md
Labels: type::feature, type::docs

#2393 Rebrand admin console docs
  docs/enterprise/auth-changing-passwords.md
  docs/enterprise/auth-configuring-rbac.md
  docs/enterprise/auth-identity-provider.md
  docs/enterprise/cluster-management-add-nodes.md
  docs/enterprise/delete-admin-console.md
  docs/enterprise/gitops-managing-secrets.mdx
  docs/enterprise/gitops-workflow.mdx
  docs/enterprise/image-registry-embedded-cluster.md
  docs/enterprise/image-registry-rate-limits.md
  docs/enterprise/image-registry-settings.md
  docs/enterprise/installing-embedded-cluster.mdx
  docs/enterprise/installing-existing-cluster-airgapped.mdx
  docs/enterprise/installing-existing-cluster-automation.mdx
  docs/enterprise/installing-existing-cluster.mdx
  docs/enterprise/installing-general-requirements.md
  docs/enterprise/installing-overview.md
  docs/enterprise/installing-stateful-component-requirements.md
  docs/enterprise/monitoring-applications.md
  docs/enterprise/snapshots-config-workflow.md
  docs/enterprise/snapshots-configuring-hostpath.md
  docs/enterprise/snapshots-configuring-nfs.md
  docs/enterprise/snapshots-creating.md
  docs/enterprise/snapshots-restoring-full.mdx
  docs/enterprise/snapshots-storage-destinations.md
  docs/enterprise/snapshots-troubleshooting-backup-restore.md
  docs/enterprise/snapshots-understanding.mdx
  docs/enterprise/snapshots-updating-with-admin-console.md
  docs/enterprise/snapshots-velero-installing-config.md
  docs/enterprise/status-viewing-details.md
  docs/enterprise/troubleshooting-an-app.mdx
  docs/enterprise/updating-app-manager.md
  docs/enterprise/updating-apps.md
  docs/enterprise/updating-licenses.md
  docs/enterprise/updating-patching-with-kustomize.md
  docs/partials/install/_automation-intro-embedded.mdx
  docs/partials/install/_automation-intro-existing.mdx
  docs/partials/install/_install-app-admin-console-intro-air-gap.mdx
  docs/partials/install/_install-app-admin-console-intro-online.mdx
  docs/partials/install/_install-app-admin-console.mdx
  docs/partials/install/_install-kots-cli-airgap.mdx
  docs/partials/install/_install-kots-cli.mdx
  docs/partials/install/_kots-about.mdx
  docs/partials/install/_kots-airgap-version-match.mdx
  docs/partials/install/_kots-install-prompts.mdx
  docs/partials/install/_placeholder-ro-creds.mdx
  docs/partials/install/_placeholders-global.mdx
  docs/partials/install/_prereqs-existing-cluster.mdx
  docs/partials/install/_push-kotsadm-images.mdx
  docs/partials/snapshots/_limitation-cli-restores.mdx
  docs/partials/snapshots/_limitation-dr.mdx
  docs/partials/snapshots/_restore-types.mdx
  docs/partials/snapshots/_restoreTable.mdx
  docs/partials/snapshots/_step-restore.mdx
Labels: type::feature, type::docs

#2383 Vendor Portal v2024.05.24-6 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#2394 Rebrand team management, licenses, channels&releases, apps
  docs/vendor/customer-adoption.md
  docs/vendor/customer-reporting.md
  docs/vendor/licenses-about.mdx
  docs/vendor/licenses-adding-custom-fields.md
  docs/vendor/licenses-download.md
  docs/vendor/licenses-reference-helm.md
  docs/vendor/licenses-reference-sdk.mdx
  docs/vendor/releases-about.md
  docs/vendor/releases-creating-channels.md
  docs/vendor/releases-creating-cli.mdx
  docs/vendor/releases-creating-customer.mdx
  docs/vendor/releases-creating-releases.mdx
  docs/vendor/releases-download-airgap-bundles.mdx
  docs/vendor/releases-share-download-portal.md
  docs/vendor/releases-sharing-license-install-script.md
  docs/vendor/team-management-github-username.mdx
  docs/vendor/team-management-google-auth.md
  docs/vendor/team-management-rbac-configuring.md
  docs/vendor/team-management-rbac-resource-names.md
  docs/vendor/team-management-saml-auth.md
  docs/vendor/team-management-slack-config.mdx
  docs/vendor/team-management-two-factor-auth.md
  docs/vendor/team-management.md
  docs/vendor/vendor-portal-application-settings.md
  docs/vendor/vendor-portal-creating-account.md
  docs/vendor/vendor-portal-manage-app.md
Labels: type::feature, type::docs

#2384 Vendor Portal v2024.05.28-0 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#2395 Rebranding KOTS vendor docs
  docs/intro-kots.md
  docs/intro.md
  docs/reference/custom-resource-about.md
  docs/reference/custom-resource-application.mdx
  docs/reference/custom-resource-backup.md
  docs/reference/custom-resource-config.mdx
  docs/reference/custom-resource-identity.md
  docs/reference/template-functions-examples.mdx
  docs/reference/vendor-api-using.md
  docs/vendor/admin-console-adding-buttons-links.md
  docs/vendor/admin-console-customize-app-icon.md
  docs/vendor/admin-console-customize-config-screen.md
  docs/vendor/admin-console-display-app-status.md
  docs/vendor/admin-console-port-forward.mdx
  docs/vendor/admin-console-prometheus-monitoring.md
  docs/vendor/config-screen-about.md
  docs/vendor/config-screen-conditional.mdx
  docs/vendor/config-screen-map-inputs.md
  docs/vendor/distributing-workflow.md
  docs/vendor/helm-native-about.mdx
  docs/vendor/helm-optional-charts.md
  docs/vendor/helm-optional-value-keys.md
  docs/vendor/identity-service-configuring.md
  docs/vendor/install-with-helm.md
  docs/vendor/kots-faq.mdx
  docs/vendor/kurl-about.mdx
  docs/vendor/kurl-nodeport-services.mdx
  docs/vendor/licenses-reference-kots-runtime.mdx
  docs/vendor/licenses-referencing-fields.md
  docs/vendor/operator-defining-additional-images.mdx
  docs/vendor/operator-defining-additional-namespaces.md
  docs/vendor/packaging-air-gap-excluding-minio.md
  docs/vendor/packaging-embedded-kubernetes.md
  docs/vendor/packaging-include-resources.md
  docs/vendor/packaging-kots-versions.md
  docs/vendor/packaging-rbac.md
  docs/vendor/releases-configvalues.md
  docs/vendor/resources-annotations-templating.md
  docs/vendor/snapshots-hooks.md
  docs/vendor/snapshots-overview.md
  docs/vendor/tutorial-config-create-app.md
  docs/vendor/tutorial-config-create-customer.md
  docs/vendor/tutorial-config-create-release.md
  docs/vendor/tutorial-config-get-chart.md
  docs/vendor/tutorial-config-install-kots.md
  docs/vendor/tutorial-config-setup.md
  docs/vendor/tutorial-kots-helm-install-kots.md
  docs/vendor/tutorial-ui-install-app-manager.mdx
  docs/vendor/vendor-portal-application-settings.md
Labels: type::feature, type::docs

#2397 Rebranding more vendor docs
  docs/vendor/custom-domains-using.md
  docs/vendor/custom-domains.md
  docs/vendor/custom-metrics.md
  docs/vendor/helm-packaging-airgap-bundles.mdx
  docs/vendor/insights-app-status.md
  docs/vendor/installer-history.md
  docs/vendor/instance-data-export.md
  docs/vendor/instance-insights-details.md
  docs/vendor/instance-insights-event-data.mdx
  docs/vendor/instance-notifications-config.mdx
  docs/vendor/packaging-private-images.md
  docs/vendor/packaging-private-registry-security.md
  docs/vendor/replicated-sdk-airgap.mdx
  docs/vendor/replicated-sdk-customizing.md
  docs/vendor/replicated-sdk-development.md
  docs/vendor/replicated-sdk-installing.mdx
  docs/vendor/telemetry-air-gap.mdx
Labels: type::feature, type::docs

#2398 106084: Rebrand partials
  docs/partials/collab-repo/_collab-existing-user.mdx
  docs/partials/collab-repo/_collab-rbac-important.mdx
  docs/partials/collab-repo/_collab-repo-about.mdx
  docs/partials/custom-domains/_wizard.mdx
  docs/partials/custom-resource-application/_ports-applicationURL.mdx
  docs/partials/custom-resource-application/_ports-kurl-note.mdx
  docs/partials/custom-resource-application/_statusInformers.mdx
  docs/partials/customers/_change-channel.mdx
  docs/partials/embedded-cluster/_kurl-comparison.mdx
  docs/partials/getting-started/_related-topics.mdx
  docs/partials/getting-started/_replicated-definition.mdx
  docs/partials/helm/_helm-cr-builder-airgap-intro.mdx
  docs/partials/helm/_helm-cr-namespace.mdx
  docs/partials/helm/_helm-cr-optional-values-when.mdx
  docs/partials/helm/_helm-cr-weight.mdx
  docs/partials/helm/_helm-diagram-overview.mdx
  docs/partials/helm/_set-values-config-example.mdx
  docs/partials/install/_download-kotsadm-bundle.mdx
  docs/partials/install/_embedded-login-password.mdx
  docs/partials/instance-insights/_airgap-telemetry.mdx
  docs/partials/kots-cli/_kotsadm-namespace.mdx
  docs/partials/kots-cli/_kotsadm-registry.mdx
  docs/partials/kots/_admin-console-about.mdx
  docs/partials/kots/_download-portal-about.mdx
  docs/partials/kots/_kots-definition.mdx
  docs/partials/releases/_required-releases-limitations.mdx
  docs/partials/replicated-cli/_login.mdx
  docs/partials/replicated-cli/_logout.mdx
  docs/partials/snapshots/_updateDefaultStorage.mdx
  docs/partials/support-bundles/_generate-bundle-admin-console.mdx
  docs/partials/support-bundles/_generate-bundle-cli-admin-console.mdx
  docs/partials/support-bundles/_generate-bundle-host.mdx
  docs/partials/vendor-api/_api-about.mdx
Labels: type::feature, type::docs

#2399 Rebrand embedded cluster docs
  docs/intro-kots.md
  docs/partials/embedded-cluster/_definition.mdx
  docs/partials/embedded-cluster/_kurl-comparison.mdx
  docs/partials/install/_install-app-admin-console.mdx
  docs/partials/template-functions/_ne-comparison.mdx
  docs/vendor/config-screen-conditional.mdx
  docs/vendor/distributing-workflow.md
  docs/vendor/embedded-kubernetes-overview.mdx
  docs/vendor/embedded-overview.mdx
  docs/vendor/kots-faq.mdx
  docs/vendor/testing-about.md
  docs/vendor/testing-supported-clusters.md
Labels: type::feature, type::docs

#2400 Last Rebrand sweep
  docs/reference/custom-resource-application.mdx
  docs/reference/linter.mdx
  docs/reference/replicated-cli-login.md
  docs/reference/replicated-cli-logout.md
  docs/vendor/ci-overview.md
  docs/vendor/ci-workflows.mdx
  docs/vendor/embedded-overview.mdx
  docs/vendor/instance-insights-event-data.mdx
  docs/vendor/licenses-adding-custom-fields.md
  docs/vendor/licenses-using-builtin-fields.mdx
  docs/vendor/licenses-verify-fields-sdk-api.md
  docs/vendor/packaging-embedded-kubernetes.md
  docs/vendor/policies-data-transmission.md
  docs/vendor/policies-vulnerability-patch.md
  docs/vendor/private-images-replicated.md
  docs/vendor/private-images-tags-digests.md
  docs/vendor/releases-configvalues.md
  docs/vendor/replicated-api-tokens.md
  docs/vendor/replicated-onboarding.mdx
  docs/vendor/replicated-sdk-installing.mdx
  docs/vendor/tutorial-adding-db-config.md
  docs/vendor/tutorial-ci-cd-integration.md
  docs/vendor/tutorial-kots-helm-create-app.md
  docs/vendor/tutorial-kots-helm-create-release.md
  docs/vendor/tutorial-ui-install-app-manager.mdx
  docs/vendor/tutorial-ui-setup.mdx
  sidebars.js
Labels: type::feature, type::docs

#2401 Rename installation files
  docs/enterprise/auth-identity-provider.md
  docs/enterprise/image-registry-kurl.md
  docs/enterprise/image-registry-settings.mdx
  docs/enterprise/installing-kurl-airgap.mdx
  docs/enterprise/installing-kurl.mdx
  docs/enterprise/installing-overview.md
  docs/enterprise/snapshots-restoring-full.mdx
  docs/enterprise/updating-app-manager.md
  docs/enterprise/updating-kurl.mdx
  docs/intro-replicated.md
  docs/reference/kots-cli-getting-started.md
  docs/vendor/admin-console-port-forward.mdx
  docs/vendor/kurl-about.mdx
  docs/vendor/kurl-nodeport-services.mdx
  docs/vendor/packaging-kots-versions.md
  docs/vendor/replicated-sdk-airgap.mdx
  netlify.toml
  sidebars.js
Labels: type::feature, type::docs

#2402 Fix broken links
  docs/vendor/helm-native-v2-using.md
  docs/vendor/testing-how-to.md
Labels: type::feature, type::docs

#2387 App Manager v1.109.7 release notes
  docs/release-notes/rn-app-manager.md
Labels: type::feature, type::docs

#2403 App Manager v1.109.8 release notes
  docs/release-notes/rn-app-manager.md
Labels: type::feature, type::docs

#2385 Vendor Portal v2024.05.28-3 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#2404 Clarify replicated registry image format
  docs/vendor/private-images-replicated.mdx
  static/images/images-replicated-registry.png
Labels: type::feature, type::docs

#2407 Revise EC limitations and issues
  docs/reference/embedded-config.mdx
  docs/vendor/embedded-overview.mdx
Labels: type::feature, type::docs

#2410 App Manager v1.109.9 release notes
  docs/release-notes/rn-app-manager.md
Labels: type::feature, type::docs
