Repository replicatedhq/replicated-docs, pull requests merged in 2024-03, with the labels that each got.

#2060 Add embedded cluster and fix links
  docs/vendor/policies-support-lifecycle.md
Labels: type::feature, type::docs

#2061 Add missing image
  docs/vendor/embedded-overview.mdx
  static/images/embedded-cluster-update-in-progress.png
Labels: type::feature, type::docs

#2062 Update release notes titles
  docs/release-notes/rn-app-manager.md
  docs/release-notes/rn-kubernetes-installer.md
Labels: type::feature, type::docs

#2065 Update lifecycle image
  static/images/software-dev-lifecycle.png
Labels: type::feature, type::docs

#2067 Fix landing page css
  docs/intro.md
  src/css/custom.css
Labels: type::feature, type::docs

#2069 Added Postmark and Active Campaign.
  docs/vendor/policies-infrastructure-and-subprocessors.md
Labels: type::feature, type::chore, type::docs

#2072 Document additional flags for the get/set config CLI commands
  docs/reference/kots-cli-get-config.md
  docs/reference/kots-cli-set-config.mdx
Labels: type::feature, type::docs

#2074 Remove mention of K8s 1.26 now that this version is EOL upstream
  docs/partials/install/_kubernetes-compatibility.mdx
  docs/vendor/policies-support-lifecycle.md
Labels: type::feature, type::docs

#2082 Adding architecture to arm and gpu based instance types
  docs/vendor/testing-supported-clusters.md
Labels: type::feature, type::docs

#2090 Clarify dockerhub allowlist requirements
  docs/enterprise/installing-general-requirements.md
Labels: type::feature, type::docs

#2050 Rebrand embedded kURL cluster terminology
  docs/enterprise/cluster-management-add-nodes.md
  docs/enterprise/image-registry-embedded-cluster.md
  docs/enterprise/image-registry-settings.md
  docs/enterprise/installing-embedded-airgapped.md
  docs/enterprise/installing-embedded-cluster.md
  docs/enterprise/installing-existing-cluster-automation.md
  docs/enterprise/installing-general-requirements.md
  docs/enterprise/installing-overview.md
  docs/enterprise/installing-stateful-component-requirements.md
  docs/enterprise/monitoring-applications.md
  docs/enterprise/monitoring-external-prometheus.md
  docs/enterprise/snapshots-restoring-full.md
  docs/enterprise/snapshots-understanding.md
  docs/enterprise/snapshots-velero-cli-installing.md
  docs/enterprise/troubleshooting-an-app.mdx
  docs/enterprise/updating-app-manager.md
  docs/enterprise/updating-apps.md
  docs/enterprise/updating-embedded-cluster.mdx
  docs/enterprise/updating-tls-cert.md
  docs/intro.md
  docs/partials/embedded-cluster/_definition.mdx
  docs/partials/embedded-cluster/_kurl-comparison.mdx
  docs/partials/getting-started/_vm-requirements.mdx
  docs/partials/install/_provision-cluster-intro.mdx
  docs/partials/kurl/_kurl-definition.mdx
  docs/partials/support-bundles/_generate-bundle-host.mdx
  docs/reference/template-functions-kurl-context.md
  docs/vendor/admin-console-adding-buttons-links.md
  docs/vendor/admin-console-prometheus-monitoring.md
  docs/vendor/distributing-workflow.md
  docs/vendor/embedded-kubernetes-overview.mdx
  docs/vendor/embedded-overview.mdx
  docs/vendor/kurl-about.mdx
  docs/vendor/kurl-nodeport-services.mdx
  docs/vendor/packaging-air-gap-excluding-minio.md
  docs/vendor/packaging-ingress.md
  docs/vendor/packaging-installer-storage.md
  docs/vendor/packaging-kots-versions.md
  docs/vendor/packaging-using-tls-certs.md
  docs/vendor/preflight-host-preflights.md
  docs/vendor/releases-sharing-license-install-script.md
  docs/vendor/snapshots-overview.md
  docs/vendor/support-host-support-bundles.md
  docs/vendor/tutorial-adding-db-config.md
  sidebars.js
  src/css/custom.css
  static/images/icons/admin.png
  static/images/icons/commands.png
  static/images/icons/licensing.png
  static/images/icons/tools.png
  static/images/icons/vendor_portal_1.png
Labels: type::feature, type::docs

#2095 What's new tile
  docs/intro.md
  src/css/custom.css
  static/images/icons/chat_bubble.png
  static/images/icons/chat_bubble_white.png
  static/images/icons/lightbulb.png
  static/images/icons/lightbulb_white.png
Labels: type::feature, type::docs

#2105 Reorder life cycle
  docs/intro-replicated.md
  docs/vendor/distributing-overview.md
  static/images/software-dev-lifecycle.png
Labels: type::feature, type::docs

#2075 Adding node autoscaling
  docs/reference/replicated-cli-cluster-create.md
  docs/reference/replicated-cli-cluster-prepare.md
  docs/vendor/testing-supported-clusters.md
Labels: type::feature, type::docs

#2110 Update releases-creating-customer.md
  docs/vendor/releases-creating-customer.md
Labels: type::feature, type::docs

#2098 Update Helm chart release dialogs
  docs/partials/helm/_helm-package.mdx
  docs/partials/releases/_kots-helm-release-promotion-xref.mdx
  docs/vendor/helm-install-release.md
  docs/vendor/releases-creating-cli.mdx
  docs/vendor/releases-creating-releases.mdx
  docs/vendor/replicated-onboarding.md
  static/images/do-you-have-a-helm-chart-modal.png
  static/images/upload-helm-chart-modal.png
Labels: type::feature, type::docs

#2107 Update ports in systems requirements
  docs/enterprise/installing-general-requirements.md
Labels: type::chore, type::docs

#2116 Add customer email search to the docs
  docs/vendor/releases-creating-customer.md
Labels: type::feature, type::docs

#2113 feat(cmx): support for Embedded Cluster
  docs/reference/replicated-cli-cluster-create.md
  docs/vendor/testing-about.md
  docs/vendor/testing-supported-clusters.md
Labels: type::feature, type::docs

#2122 add a max payload size note to limitations
  docs/vendor/custom-metrics.md
Labels: type::feature, type::docs

#2121 Link to all embedded cluster releases
  docs/reference/embedded-config.mdx
Labels: type::feature, type::docs

#2118 Fix typo in replicated-onboarding.md
  docs/vendor/replicated-onboarding.md
Labels: type::feature, type::docs

#2117 Update wording in intro-replicated.md
  docs/intro-replicated.md
Labels: type::feature, peer-review-needed, type::docs

#2115 Update snapshots-troubleshooting-backup-restore.md
  docs/enterprise/snapshots-troubleshooting-backup-restore.md
Labels: type::feature, type::docs

#2123 Navbar and sidebar edits for discoverability
  docs/intro-kots.md
  docusaurus.config.js
  sidebars.js
  src/css/custom.css
  static/images/icons/chat_bubble_white.svg
  static/images/icons/k8s_installer_b.png
  static/images/icons/k8s_installer_w.png
  static/images/icons/vendor_portal_1.svg
Labels: type::feature, type::docs

#2128 Fix node roles link and update EC version
  docs/vendor/embedded-overview.mdx
Labels: type::feature, type::docs

#2134 updating supported versions
  docs/vendor/testing-supported-clusters.md
Labels: type::feature, type::docs

#2138 Add a warning about CAA records in custom hostnames section
  docs/vendor/custom-domains-using.md
Labels: type::feature, type::docs

#2137 fix(cmx): embedded-cluster does not support node groups
  docs/vendor/testing-supported-clusters.md
Labels: type::feature, type::chore, type::docs

#2135 Clarify downloading/sharing release files content
  docs/enterprise/installing-embedded-airgapped.md
  docs/enterprise/updating-embedded-cluster.mdx
  docs/partials/kots/_download-portal-about.mdx
  docs/vendor/customer-reporting.md
  docs/vendor/licenses-download.md
  docs/vendor/releases-about.md
  docs/vendor/releases-download-airgap-bundles.md
  docs/vendor/releases-share-download-portal.md
  docs/vendor/releases-sharing-license-install-script.md
  sidebars.js
  static/images/airgap-download-enabled.png
  static/images/channel-card-install.png
  static/images/download-airgap-license.png
  static/images/download-license-button.png
  static/images/download-portal-existing-cluster.png
  static/images/download-portal-kurl.png
  static/images/download-portal-link.png
  static/images/download-portal-troubleshoot-plugins.png
  static/images/guides/kots/airgap-channels.png
  static/images/guides/kots/airgap-customers.png
  static/images/guides/kots/airgap-download-license.png
  static/images/release-history-build-airgap-bundle.png
  static/images/release-history-link.png
Labels: type::feature, type::docs

#2157 Fix incorrect screenshot
  docs/vendor/customer-reporting.md
  static/images/instance-row.png
Labels: type::feature, type::docs

#2156 fix typo
  docs/intro.md
Labels: type::feature, type::docs

#2162 Adding additional AKS instance types
  docs/vendor/testing-supported-clusters.md
Labels: type::feature, type::docs

#2177 Fix typo for gpu aks
  docs/vendor/testing-supported-clusters.md
Labels: type::feature, type::docs

#2180 Update policies-support-lifecycle.md
  docs/vendor/policies-support-lifecycle.md
Labels: type::feature, type::docs

#2164 adds telemetry overview diagram
  docs/vendor/instance-insights-event-data.md
  static/images/telemetry-diagram.png
Labels: type::feature, type::docs

#2174 Update rn-vendor-platform.md
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#2186 Add Active Campaign script to docs site
  docusaurus.config.js
  static/js/activecampaign.js
Labels: type::feature, type::docs

#2198 Update support-bundle-customizing.md
  docs/vendor/support-bundle-customizing.md
Labels: type::feature, type::docs
