Repository replicatedhq/replicated-docs, pull requests merged in 2024-08, with the labels that each got.

#2533 App Manager v1.112.4 release notes
  docs/release-notes/rn-app-manager.md
Labels: type::feature, type::docs

#2526 New upgrade flow for EC
  docs/enterprise/installing-embedded-air-gap.mdx
  docs/enterprise/updating-apps.mdx
  docs/enterprise/updating-embedded.mdx
  docs/partials/embedded-cluster/_update-air-gap-admin-console.mdx
  docs/partials/embedded-cluster/_update-air-gap-cli.mdx
  docs/partials/embedded-cluster/_update-air-gap-overview.mdx
  docs/partials/embedded-cluster/_update-overview.mdx
  docs/partials/embedded-cluster/_warning-do-not-downgrade.mdx
  docs/vendor/embedded-overview.mdx
  static/images/ec-upgrade-version-history.png
  static/images/ec-upgrade-wizard-config.png
  static/images/ec-upgrade-wizard-confirm.png
  static/images/ec-upgrade-wizard-preflights.png
Labels: type::feature, type::docs

#2534 Add -f to EC curl command
  docs/enterprise/installing-embedded-air-gap.mdx
  docs/partials/embedded-cluster/_update-air-gap-admin-console.mdx
  docs/partials/embedded-cluster/_update-air-gap-cli.mdx
Labels: type::feature, type::docs

#2532 Replicated SDK 1.0.0-beta.26 release notes
  docs/release-notes/rn-replicated-sdk.md
Labels: type::feature, type::docs

#2538 Update testing-supported-clusters.md
  docs/vendor/testing-supported-clusters.md
Labels: type::feature, type::chore, type::docs

#2540 Add S3 prefix DR limitation
  docs/vendor/embedded-disaster-recovery.mdx
Labels: type::feature, type::docs

#2539 Remove kURL steps from KOTS UI tutorial
  docs/partials/getting-started/_related-topics.mdx
  docs/vendor/tutorial-cli-install-cli.mdx
  docs/vendor/tutorial-ui-deploy-app.md
  docs/vendor/tutorial-ui-install-app-manager.mdx
  docs/vendor/tutorial-ui-setup.mdx
  docs/vendor/tutorial-ui-update-app.md
Labels: type::feature, type::docs

#2537 Clarification cluster usage
  docs/vendor/ci-workflows.mdx
Labels: type::feature, type::docs

#2541 add info warning about storing support bundles on public shares
  docs/vendor/support-host-support-bundles.md
Labels: type::feature, type::docs

#2543 Remove old known issue
  docs/vendor/embedded-overview.mdx
Labels: type::feature, type::docs

#2545 Fix path for OpenEBS in preflight
  docs/partials/embedded-cluster/_requirements.mdx
Labels: type::feature, type::docs

#2544 Updates to limitations
  docs/enterprise/installing-embedded-air-gap.mdx
  docs/reference/embedded-config.mdx
  docs/vendor/embedded-overview.mdx
Labels: type::feature, type::docs

#2547 Add links to how to get air gap downloads
  docs/enterprise/installing-kurl-airgap.mdx
  docs/partials/install/_airgap-bundle-prereq.mdx
  docs/partials/install/_download-kotsadm-bundle.mdx
  docs/partials/install/_license-file-prereq.mdx
Labels: type::feature, type::docs

#2546 Bump EC versions
  docs/partials/getting-started/_gitea-ec-config.mdx
  docs/reference/embedded-config.mdx
  docs/vendor/embedded-overview.mdx
Labels: type::feature, type::docs

#2548 Add max license field value size
  docs/vendor/licenses-adding-custom-fields.md
Labels: type::feature, type::docs

#2536 Vendor Portal v2024.08.01-0 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#2549 Kubernetes Installer v2024.08.07-0 release notes
  docs/release-notes/rn-kubernetes-installer.md
Labels: type::feature, type::docs

#2554 App Manager v1.113.0 release notes
  .github/workflows/app-manager-release-notes.yml
  docs/release-notes/rn-app-manager.md
Labels: type::feature, type::docs

#2550 Add EC limitation to prometheus topic
  docs/enterprise/monitoring-applications.mdx
  docs/enterprise/monitoring-external-prometheus.md
  docs/partials/monitoring/_limitation-ec.mdx
  docs/partials/monitoring/_overview-prom.mdx
  docs/vendor/admin-console-prometheus-monitoring.md
  docs/vendor/admin-console-prometheus-monitoring.mdx
Labels: type::feature, type::docs

#2556 Explain default regex for redactors
  docs/reference/custom-resource-redactor.md
Labels: type::feature, type::docs

#2558 Define registry namespace with example
  docs/partials/image-registry/_image-registry-settings.mdx
Labels: type::feature, type::docs

#2557 Clarify kurl cluster update steps
  docs/enterprise/updating-kurl.mdx
Labels: type::feature, type::docs

#2560 sc-110032: Updating supported instance types for AKS
  docs/vendor/testing-supported-clusters.md
Labels: type::feature, type::chore, type::docs

#2559 Kubernetes Installer v2024.08.12-0 release notes
  docs/release-notes/rn-kubernetes-installer.md
Labels: type::feature, type::docs

#2561 App Manager v1.114.0 release notes
  docs/release-notes/rn-app-manager.md
Labels: type::feature, type::docs

#2564 Doc radio and dropdown item types for config
  docs/partials/config/_item-types.mdx
  docs/partials/config/_whenExample.mdx
  docs/partials/configValues/_selectOneExample.mdx
  docs/partials/template-functions/_ne-comparison.mdx
  docs/reference/custom-resource-config.mdx
  docs/reference/template-functions-examples.mdx
  docs/vendor/config-screen-conditional.mdx
  docs/vendor/helm-optional-charts.md
  docs/vendor/releases-configvalues.md
  docs/vendor/tutorial-adding-db-config.md
Labels: type::feature, type::docs

#2542 Vendor Portal v2024.08.06-0 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: bug::regression, type::bug, type::docs

#2567 Add a bit more about filtering ability
  docs/vendor/ci-workflows.mdx
Labels: type::feature, type::docs

#2552 Vendor Portal v2024.08.09-0 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#2571 Update policies-support-lifecycle.md
  docs/vendor/policies-support-lifecycle.md
Labels: type::feature, type::docs

#2570 Adding kind 1.31
  docs/vendor/testing-supported-clusters.md
Labels: type::feature, type::docs

#2555 Vendor Portal v2024.08.09-5 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#2565 Vendor Portal v2024.08.12-0 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#2566 Vendor Portal v2024.08.13-1 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#2535 HOLD FOR RELEASE: EC release notes
  docs/release-notes/rn-embedded-cluster.md
  docs/release-notes/rn-whats-new.md
  docs/vendor/policies-support-lifecycle.md
  sidebars.js
  src/css/custom.css
Labels: type::feature, type::docs

#2572 Update rn-embedded-cluster.md
  docs/release-notes/rn-embedded-cluster.md
Labels: type::feature, type::docs

#2573 Update support for go templates for ports key
  docs/reference/custom-resource-application.mdx
Labels: type::feature, type::docs

#2575 Updating kind versions
  docs/vendor/testing-supported-clusters.md
Labels: type::feature, type::docs

#2553 Remove K8s upgrade limitation
  docs/vendor/embedded-overview.mdx
Labels: type::feature, type::docs

#2576 Add EC connectivity reqs
  docs/partials/embedded-cluster/_requirements.mdx
Labels: type::feature, type::docs

#2578 minor wording update
  docs/vendor/embedded-overview.mdx
Labels: type::feature, type::docs

#2579 App Manager v1.115.0 release notes
  docs/release-notes/rn-app-manager.md
Labels: type::feature, type::docs

#2582 Adds note about EC Admin Password
  docs/vendor/testing-supported-clusters.md
Labels: type::feature, type::docs

#2574 Vendor Portal v2024.08.15-2 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#2577 Vendor Portal v2024.08.19-1 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#2585 Udpate firewall openings for EC
  docs/enterprise/installing-general-requirements.md
Labels: type::feature, type::docs

#2580 Vendor Portal v2024.08.20-4 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#2581 Vendor Portal v2024.08.20-5 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#2587 App Manager v1.115.1 release notes
  docs/release-notes/rn-app-manager.md
Labels: type::feature, type::docs

#2583 Clarify EC template func limitation
  docs/reference/embedded-config.mdx
  docs/reference/template-functions-about.mdx
  docs/vendor/embedded-overview.mdx
Labels: type::feature, type::docs

#2584 provide resolution notes for channel slug mismatch error in 1.113.0
  docs/release-notes/rn-app-manager.md
  src/css/custom.css
Labels: type::feature, type::docs

#2568 WAIT FOR RELEASE: Updates for new service node port range
  docs/reference/embedded-config.mdx
Labels: type::feature, type::docs

#2593 Kubernetes Installer v2024.08.26-0 release notes
  docs/release-notes/rn-kubernetes-installer.md
Labels: type::feature, type::docs

#2595 remove gke 1.27
  docs/vendor/testing-supported-clusters.md
Labels: type::feature, type::docs

#2594 Release notes for 1.11.0
  docs/release-notes/rn-embedded-cluster.md
Labels: type::feature, type::docs

#2592 Clarify --no-proxy
  docs/vendor/embedded-overview.mdx
Labels: type::feature, type::docs

#2596 Updating supported k3s versions
  docs/vendor/testing-supported-clusters.md
Labels: type::feature, type::docs

#2597 Updating rke2 versions
  docs/vendor/testing-supported-clusters.md
Labels: type::feature, type::docs

#2598 Update tutorial-cli-install-cli.mdx
  docs/vendor/tutorial-cli-install-cli.mdx
Labels: bug::normal, type::bug, type::docs

#2551 Add Embedded Cluster support bundle to support bundle docs
  docs/enterprise/troubleshooting-an-app.mdx
  docs/partials/support-bundles/_generate-bundle-admin-console.mdx
  docs/partials/support-bundles/_generate-bundle-cli-admin-console.mdx
  docs/partials/support-bundles/_generate-bundle-default-kots.mdx
  docs/partials/support-bundles/_generate-bundle-ec.mdx
  docs/partials/support-bundles/_generate-bundle-host.mdx
  docs/partials/support-bundles/_generate-bundle.mdx
  docs/partials/support-bundles/_install-plugin.mdx
  docs/vendor/embedded-overview.mdx
  docs/vendor/preflight-defining.mdx
  docs/vendor/preflight-support-bundle-about.md
  docs/vendor/support-bundle-embedded.mdx
  docs/vendor/support-bundle-generating.mdx
  docs/vendor/support-enabling-direct-bundle-uploads.md
  docs/vendor/support-host-support-bundles.md
  sidebars.js
  static/images/troubleshoot.png
Labels: type::feature, type::docs

#2600 Add Embedded Cluster diagram
  docs/enterprise/updating-embedded.mdx
  docs/partials/embedded-cluster/_definition.mdx
  docs/vendor/embedded-overview.mdx
  static/images/embedded-cluster-install.png
  static/images/embedded-cluster-update.png
Labels: type::feature, type::docs

#2601 Add more k0s deps
  docs/partials/embedded-cluster/_requirements.mdx
Labels: type::feature, type::docs
