Repository replicatedhq/replicated-docs, pull requests merged in 2024-01, with the labels that each got.

#1795 Include more information about the resource statuses, instance details and custom metrics.
  docs/vendor/policies-data-transmission.md
Labels: type::feature, type::chore, type::docs

#1776 DO NOT MERGE BEFORE JAN 1 2024 - Update Native Lifecycle status
  docs/vendor/policies-support-lifecycle.md
Labels: type::feature, type::docs

#1797 Fix formatting issue
  docs/release-notes/rn-kubernetes-installer.md
Labels: type::feature, type::docs

#1751 Add KOTS FAQs
  docs/vendor/kots-faq.md
  sidebars.js
Labels: type::feature, type::docs

#1799 bump sdk version to 1.0.0-beta.13
  docs/partials/replicated-sdk/_dependency-yaml.mdx
Labels: type::feature, type::chore, type::docs

#1803 Docs edits on vendor portal updates
  docs/vendor/instance-insights-details.md
  docs/vendor/support-inspecting-support-bundles.md
Labels: type::feature, type::docs

#1804 Update testing-supported-clusters.md
  docs/vendor/testing-supported-clusters.md
Labels: type::feature, type::docs

#1814 Fix typo in HelmChart v2 doc
  docs/partials/helm/_helm-cr-upgrade-flags.mdx
  docs/partials/helm/_helm-cr-weight-limitation.mdx
  docs/reference/custom-resource-helmchart.mdx
Labels: type::feature, type::docs

#1816 Add kots version req for sdk installs
  docs/partials/replicated-sdk/_kots-version-req.mdx
  docs/vendor/replicated-sdk-installing.md
  docs/vendor/tutorial-kots-helm-install-kots.md
Labels: type::feature, type::docs

#1818 Add last modified date
  docs/vendor/policies-infrastructure-and-subprocessors.md
Labels: type::feature, type::docs

#1820 Docs for replicated instance commands
  docs/reference/replicated-cli-instance-inspect.md
  docs/reference/replicated-cli-instance-ls.md
  docs/reference/replicated-cli-instance-tag.md
  sidebars.js
Labels: type::feature, type::docs

#1821 update KOTS release notes workflow for k8s 1.29
  .github/workflows/app-manager-release-notes.yml
Labels: type::chore, type::docs

#1738 Tutorial: Map config values to Helm chart
  docs/partials/getting-started/_grafana-config.mdx
  docs/partials/getting-started/_grafana-helmchart.mdx
  docs/partials/getting-started/_grafana-k8s-app.mdx
  docs/partials/getting-started/_grafana-kots-app.mdx
  docs/vendor/config-screen-map-inputs.md
  docs/vendor/helm-mapping-example.md
  docs/vendor/helm-optional-value-keys.md
  docs/vendor/tutorial-config-create-app.md
  docs/vendor/tutorial-config-create-customer.md
  docs/vendor/tutorial-config-create-release.md
  docs/vendor/tutorial-config-get-chart.md
  docs/vendor/tutorial-config-install-kots.md
  docs/vendor/tutorial-config-package-chart.md
  docs/vendor/tutorial-config-setup.md
  netlify.toml
  sidebars.js
  static/images/grafana-config.png
  static/images/grafana-dashboard.png
  static/images/grafana-edit-release-seq-1.png
  static/images/grafana-login.png
  static/images/grafana-ready.png
  static/images/grafana-release-seq-1.png
  static/images/grafana-unavailable.png
  static/images/grafana-unstable-channel.png
Labels: type::feature, type::docs

#1832 kubernetes version compatibility updates
  docs/enterprise/installing-general-requirements.md
  docs/partials/install/_kubernetes-compatibility.mdx
  docs/vendor/policies-support-lifecycle.md
Labels: type::feature, type::docs

#1844 Update custom-metrics.md
  docs/vendor/custom-metrics.md
Labels: type::feature, type::docs

#1847 Update _prerequisites.mdx
  docs/partials/cmx/_prerequisites.mdx
Labels: type::feature

#1846 Add links to cli and api docs
  docs/vendor/custom-domains-using.md
  docs/vendor/instance-notifications-config.mdx
  docs/vendor/packaging-embedded-kubernetes.md
  docs/vendor/packaging-private-images.md
  docs/vendor/releases-creating-channels.md
  docs/vendor/releases-creating-cli.mdx
  docs/vendor/releases-creating-customer.md
  docs/vendor/releases-creating-releases.mdx
  docs/vendor/releases-sharing-license-install-script.md
  docs/vendor/testing-how-to.md
  docs/vendor/vendor-portal-manage-app.md
Labels: type::feature, type::docs

#1854 Add qualified scripts
  docusaurus.config.js
  static/js/qualified.js
Labels: type::feature, type::docs

#1855 Fix bad link in table
  docs/reference/linter.mdx
Labels: type::feature, type::docs

#1857 Use dev licenses in tutorials
  docs/vendor/tutorial-config-create-customer.md
  docs/vendor/tutorial-kots-helm-create-customer.md
Labels: type::feature, type::docs

#1864 Add info about preflights for automated install
  docs/enterprise/installing-existing-cluster-automation.md
Labels: type::feature, type::docs

#1835 Improvements to "About Distributing Helm Charts with KOTS" & "Setting Helm Values with KOTS"
  docs/partials/helm/_helm-charts-kots.mdx
  docs/partials/helm/_helm-cr-builder-airgap-intro.mdx
  docs/partials/helm/_helm-cr-intro.mdx
  docs/partials/helm/_helm-cr-optional-values-recursive-merge.mdx
  docs/partials/helm/_helm-cr-optional-values-when.mdx
  docs/partials/helm/_helm-cr-optional-values.mdx
  docs/partials/helm/_helm-cr-values.mdx
  docs/partials/helm/_kots-helm-cr-description.mdx
  docs/partials/helm/_set-values-config-example.mdx
  docs/partials/helm/_set-values-license-example.mdx
  docs/reference/custom-resource-helmchart-v2.mdx
  docs/reference/custom-resource-helmchart.mdx
  docs/vendor/distributing-overview.md
  docs/vendor/helm-native-about.md
  docs/vendor/helm-optional-value-keys.md
  docs/vendor/orchestrating-resource-deployment.md
Labels: type::feature, type::docs

#1881 Update testing-supported-clusters.md
  docs/vendor/testing-supported-clusters.md
Labels: type::docs

#1883 Update Replicated intro with dev lifecycle
  docs/intro-replicated.md
  static/images/software-dev-lifecycle.png
Labels: type::feature, type::docs

#1908 Update description of air gap bundle format
  docs/release-notes/rn-app-manager.md
Labels: type::feature, type::docs

#1910 Language edit to kots release note
  docs/release-notes/rn-app-manager.md
Labels: type::feature, type::docs

#1911 Fix headings order in intro
  docs/intro-replicated.md
Labels: type::feature, type::docs

#1912 Language edit
  docs/intro-replicated.md
Labels: type::feature, type::docs

#1915 Document back the known false positive dex CVEs
  docs/vendor/policies-vulnerability-patch.md
Labels: type::feature, type::docs, type::security

#1919 fix link
  docs/reference/custom-resource-helmchart-v2.mdx
Labels: type::feature, type::docs

#1920 Add default to recursiveMerge field
  docs/partials/helm/_helm-cr-optional-values-recursive-merge.mdx
  docs/reference/custom-resource-helmchart-v2.mdx
  docs/reference/custom-resource-helmchart.mdx
Labels: type::feature, type::docs
