Repository replicatedhq/replicated-docs, pull requests merged in 2025-01, with the labels that each got.

#2923 Update packages with critical security dependencies
  package.json
  yarn.lock
Labels: type::chore, type::docs

#2926 Move Native to EOL status
  docs/vendor/policies-support-lifecycle.md
Labels: type::feature, type::docs

#2918 Add troubleshooting info for helm dependency update 401 errors
  docs/partials/replicated-sdk/_registry-logout.mdx
  docs/vendor/helm-install-release.md
  docs/vendor/replicated-sdk-installing.mdx
Labels: type::feature, type::docs

#2927 Create dependabot.yml
  .github/dependabot.yml
Labels: type::chore

#2929 Update dependabot.yml
  .github/dependabot.yml
Labels: type::feature, type::chore, type::docs

#2940 Update intro-replicated.mdx
  docs/intro-replicated.mdx
Labels: type::feature, type::docs

#2939 App Manager v1.123.0 release notes
  docs/release-notes/rn-app-manager.md
Labels: type::feature, type::docs

#2943 Remove orLabelSelectors support
  docs/reference/custom-resource-backup.md
Labels: type::feature, type::docs

#2938 Vendor Portal v2025.01.02-1 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#2944 update aks pricing
  docs/vendor/testing-pricing.mdx
Labels: type::feature, type::docs

#2946 Replicated SDK 1.0.0 release notes
  docs/release-notes/rn-replicated-sdk.md
Labels: type::feature, type::docs

#2941 HOLD FOR GA: Remove SDK Beta labels
  docs/partials/replicated-sdk/_dependency-yaml.mdx
  docs/reference/replicated-sdk-apis.md
  docs/vendor/licenses-reference-sdk.mdx
  docs/vendor/replicated-sdk-airgap.mdx
  docs/vendor/replicated-sdk-customizing.md
  docs/vendor/replicated-sdk-development.mdx
  docs/vendor/replicated-sdk-installing.mdx
  docs/vendor/replicated-sdk-overview.md
  docs/vendor/tutorial-config-package-chart.md
  docs/vendor/tutorial-embedded-cluster-package-chart.mdx
  docs/vendor/tutorial-kots-helm-package-chart.md
  docusaurus.config.js
  sidebars.js
Labels: type::feature, type::docs

#2949 Update testing-supported-clusters.md
  docs/vendor/testing-supported-clusters.md
Labels: type::feature, type::docs

#2952 Add screenshot for select gitea app step
  docs/vendor/quick-start.mdx
  static/images/quick-start-select-gitea-app.png
Labels: type::feature, type::docs

#2950 feat: [sc-117029] Add keep annotation to KOTS
  docs/release-notes/rn-app-manager.md
Labels: type::feature, type::docs

#2951 Document the proxy registry pull through public images pattern
  docs/vendor/packaging-public-images.mdx
  docs/vendor/private-images-about.md
  sidebars.js
Labels: type::feature, type::docs

#2956 Update installing-embedded-requirements.mdx
  docs/enterprise/installing-embedded-requirements.mdx
Labels: type::feature, type::docs

#2953 Document replicated cluster create --addon flags
  docs/reference/replicated-cli-cluster-create.md
Labels: type::chore, type::docs

#2962 Remove orLabelSelectors because it doesn't work
  docs/release-notes/rn-app-manager.md
Labels: type::feature, type::docs

#2963 Remove kurl info from installing without object storage topic
  docs/enterprise/installing-general-requirements.mdx
  docs/enterprise/installing-overview.md
  docs/enterprise/installing-stateful-component-requirements.md
  docs/vendor/packaging-air-gap-excluding-minio.md
Labels: type::feature, type::docs

#2961 App Manager v1.123.1 release notes
  docs/release-notes/rn-app-manager.md
Labels: type::feature, type::docs

#2964 Clarify that removing an app/kots is for existing cluster installs
  docs/enterprise/delete-admin-console.md
Labels: type::feature, type::docs

#2965 Update xref to installing without object store
  docs/vendor/packaging-air-gap-excluding-minio.md
Labels: type::feature, type::docs

#2970 Update testing-about.md
  docs/vendor/testing-about.md
Labels: type::feature, type::docs

#2973 Add note about nvidia.toml file
  docs/vendor/embedded-overview.mdx
Labels: type::feature, type::docs

#2972 Update helm-install-overview.mdx
  docs/vendor/helm-install-overview.mdx
Labels: type::feature, type::docs

#2968 Update port requirements for EC
  docs/partials/embedded-cluster/_port-reqs.mdx
Labels: type::feature, type::docs

#2971 Vendor Portal v2025.01.15-4 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#2969 Add licensing overview diagram
  docs/vendor/licenses-about.mdx
  static/images/licensing-overview.png
Labels: type::feature, type::docs

#2975 Vendor Portal v2025.01.17-3 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#2988 add full url to sdk api examples
  docs/reference/replicated-sdk-apis.md
Labels: type::feature, type::docs

#2991 Add kurl availability note to all kurl pages
  docs/enterprise/cluster-management-add-nodes.md
  docs/enterprise/image-registry-kurl.md
  docs/enterprise/installing-kurl-airgap.mdx
  docs/enterprise/installing-kurl-automation.mdx
  docs/enterprise/installing-kurl-requirements.mdx
  docs/enterprise/installing-kurl.mdx
  docs/enterprise/monitoring-external-prometheus.md
  docs/enterprise/updating-kurl-about.mdx
  docs/enterprise/updating-kurl.mdx
  docs/enterprise/updating-tls-cert.md
  docs/vendor/kurl-nodeport-services.mdx
  docs/vendor/kurl-reset.mdx
Labels: type::feature, type::docs

#2992 Vendor Portal v2025.01.23-1 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#2993 App Manager v1.124.0 release notes
  docs/release-notes/rn-app-manager.md
Labels: type::feature, type::docs

#2967 Embedded Cluster single-node and mutli-node architecture diagrams
  docs/vendor/embedded-overview.mdx
  docs/vendor/embedded-using.mdx
  sidebars.js
  static/images/embedded-architecture-multi-node.png
  static/images/embedded-architecture-single-node.png
Labels: type::feature, type::docs

#2905 Clarify supported install types for using local image registries
  docs/enterprise/image-registry-kurl.md
  docs/enterprise/image-registry-settings.mdx
  docs/enterprise/installing-general-requirements.mdx
  docs/reference/custom-resource-helmchart-v2.mdx
  docs/vendor/helm-native-v2-using.md
  sidebars.js
Labels: type::feature, type::docs

#2994 Explain EC built-in extensions in contrast to kurl
  docs/partials/embedded-cluster/_kurl-comparison.mdx
  docs/vendor/embedded-overview.mdx
Labels: type::feature, type::docs

#3000 Add documentation for channel release demotion
  docs/vendor/releases-about.mdx
  docs/vendor/releases-creating-releases.mdx
  static/images/channels-release-history.png
Labels: type::feature, type::docs

#3003 fix typo in demotion docs
  docs/vendor/releases-about.mdx
  docs/vendor/releases-creating-releases.mdx
Labels: type::feature, type::docs

#3004 Update useHelmInstall: false migration limitation
  docs/release-notes/rn-app-manager.md
  docs/vendor/helm-native-v2-using.md
  docs/vendor/helm-v2-migrate.md
Labels: type::feature, type::docs

#3006 nvidia gpu operator extension: add caveat that any existing containerd svcs running on the host need to be removed
  docs/vendor/embedded-using.mdx
Labels: type::feature, type::docs

#2916 Updates to EC disaster recovery + related KOTS snapshots docs updates
  docs/enterprise/snapshots-config-workflow.md
  docs/enterprise/snapshots-configuring-hostpath.md
  docs/enterprise/snapshots-configuring-nfs.md
  docs/enterprise/snapshots-creating.md
  docs/enterprise/snapshots-restoring-full.mdx
  docs/enterprise/snapshots-storage-destinations.md
  docs/enterprise/snapshots-troubleshooting-backup-restore.md
  docs/enterprise/snapshots-velero-cli-installing.md
  docs/enterprise/snapshots-velero-installing-config.mdx
  docs/partials/snapshots/_limitation-cli-restores.mdx
  docs/reference/custom-resource-backup.md
  docs/vendor/embedded-disaster-recovery.mdx
  docs/vendor/packaging-installer-storage.mdx
  docs/vendor/packaging-rbac.md
  docs/vendor/replicated-onboarding.mdx
  docs/vendor/snapshots-configuring-backups.md
  docs/vendor/snapshots-hooks.md
  docs/vendor/snapshots-overview.md
  docs/vendor/snapshots-overview.mdx
  netlify.toml
  sidebars.js
Labels: type::feature, type::docs

#3002 Vendor Portal v2025.01.27-0 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#2986 EC v1.21.0 release notes
  docs/release-notes/rn-embedded-cluster.md
Labels: type::feature, type::docs

#3008 referencing public images with creds
  docs/vendor/packaging-public-images.mdx
Labels: type::feature, type::docs

#3010 Vendor Portal v2025.01.28-1 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#3013 update supported versions
  docs/vendor/testing-supported-clusters.md
Labels: type::feature, type::docs

#3014 Vendor Portal v2025.01.29-1 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#3016 Vendor Portal v2025.01.29-4 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#3012 Update policies-vulnerability-patch.md
  docs/vendor/policies-vulnerability-patch.md
Labels: type::chore, type::docs

#3011 Cross-ref relevant info about accessing monitoring dashboards in kurl/kots installs
  docs/enterprise/monitoring-access-dashboards.mdx
  docs/enterprise/monitoring-applications.mdx
  docs/enterprise/monitoring-external-prometheus.md
  docs/partials/monitoring/_overview-prom.mdx
  sidebars.js
Labels: type::feature, type::docs

#3018 remove eks 1.24
  docs/vendor/testing-supported-clusters.md
Labels: type::feature, type::docs

#3019 Vendor Portal v2025.01.30-0 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#2995 Add docs for updating tls certs in EC installs
  docs/enterprise/embedded-tls-certs.mdx
  sidebars.js
Labels: type::feature, type::docs

#3021 Vendor Portal v2025.01.31-1 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs
