Repository replicatedhq/replicated-docs, pull requests merged in 2025-03, with the labels that each got.

#3087 Update helm-native-v2-using.md
  docs/vendor/helm-native-v2-using.md
Labels: type::feature, type::docs

#3086 perms set for data dir
  docs/release-notes/rn-embedded-cluster.md
Labels: type::feature, type::docs

#3088 Update Replicated CMX supported versions docs
  docs/vendor/testing-supported-clusters.md
Labels: type::feature, type::docs

#3089 Add docs for podLabels and commonLabels for SDK
  docs/release-notes/rn-replicated-sdk.md
  docs/vendor/replicated-sdk-customizing.md
Labels: type::feature, type::docs

#3077 Update EC Architecture Diagram to include Operator
  docs/enterprise/embedded-manage-nodes.mdx
  docs/partials/embedded-cluster/_multi-node-ha-arch.mdx
  docs/vendor/embedded-overview.mdx
  static/images/embedded-architecture-multi-node-ha.png
  static/images/embedded-architecture-multi-node.png
  static/images/embedded-architecture-single-node.png
Labels: type::feature, type::docs

#3094 what's new did you know march 2025
  docs/intro.md
Labels: type::feature, type::docs

#3093 Vendor Portal v2025.03.06-1 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#3096 Update Replicated CMX supported versions docs
  docs/vendor/testing-supported-clusters.md
Labels: type::feature, type::docs

#3098 Vendor Portal v2025.03.08-0 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#3097 Add HelmChart examples to Config template func page
  docs/partials/template-functions/_config-context.mdx
  docs/partials/template-functions/_identity-context.mdx
  docs/partials/template-functions/_kurl-context.mdx
  docs/partials/template-functions/_license-context.mdx
  docs/partials/template-functions/_static-context.mdx
  docs/reference/template-functions-about.mdx
  docs/reference/template-functions-config-context.md
  docs/reference/template-functions-identity-context.md
  docs/reference/template-functions-kurl-context.md
  docs/reference/template-functions-license-context.md
  docs/reference/template-functions-static-context.md
Labels: type::feature, type::docs

#3081 Vendor Portal v2025.02.27-1 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#3103 Update info about EC directories
  docs/partials/embedded-cluster/_requirements.mdx
Labels: type::feature, type::docs

#3106 Fix release notes slack webhook
  .github/workflows/app-manager-release-notes.yml
  .github/workflows/kubernetes-installer-release-notes.yml
  .github/workflows/replicated-sdk-release-notes.yml
  .github/workflows/vendor-portal-release-notes.yml
Labels: type::chore

#3102 replicated-sdk-1.2.0 release note
  docs/partials/replicated-sdk/_dependency-yaml.mdx
  docs/release-notes/rn-replicated-sdk.md
  docs/vendor/replicated-sdk-installing.mdx
Labels: type::feature, type::docs

#3105 App Manager v1.124.5 release notes
  docs/release-notes/rn-app-manager.md
Labels: type::feature, type::docs

#3108 Update Replicated CMX supported versions docs
  docs/vendor/testing-supported-clusters.md
Labels: type::feature, type::docs

#3109 Update nvidia gpu operator note with link to known issue
  docs/vendor/embedded-using.mdx
Labels: type::feature, type::docs

#3112 Update Replicated CMX supported versions docs
  docs/vendor/testing-supported-clusters.md
Labels: type::feature, type::docs

#3111 App Manager v1.124.6 release notes
  docs/release-notes/rn-app-manager.md
Labels: type::feature, type::docs

#3115 change ha email message
  docs/enterprise/embedded-manage-nodes.mdx
Labels: type::feature, type::docs

#3117 App Manager v1.124.7 release notes
  docs/release-notes/rn-app-manager.md
Labels: type::feature, type::docs

#3119 Edit download portal docs to reflect Install types
  docs/partials/kots/_download-portal-about.mdx
  docs/vendor/customer-reporting.md
  docs/vendor/embedded-overview.mdx
  docs/vendor/releases-share-download-portal.md
  sidebars.js
  static/images/airgap-download-enabled.png
  static/images/download-portal-helm-ec.png
  static/images/download-portal-link.png
Labels: type::feature, type::docs

#3120 Kubernetes Installer v2025.03.19-0 release notes
  docs/release-notes/rn-kubernetes-installer.md
Labels: type::feature, type::docs

#3122 App Manager v1.124.8 release notes
  docs/release-notes/rn-app-manager.md
Labels: type::feature, type::docs

#3121 chore: Add EKS 1.29 to extended support
  docs/vendor/testing-supported-clusters.md
Labels: type::chore

#3124 Vendor Portal v2025.03.21-5 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#3127 Put back KOTS release notes placeholder
  docs/release-notes/rn-app-manager.md
Labels: type::feature, type::docs

#3128 App Manager v1.124.9 release notes
  docs/release-notes/rn-app-manager.md
Labels: type::feature, type::docs

#3129 Document ignore-host-preflights instead of skip
  docs/reference/embedded-cluster-install.mdx
  docs/vendor/embedded-using.mdx
Labels: type::feature, type::docs

#3126 add parallel join limitation
  docs/enterprise/embedded-manage-nodes.mdx
Labels: type::feature, type::docs

#3057 Adding EC troubleshooting page
  docs/partials/embedded-cluster/_shell-command.mdx
  docs/partials/support-bundles/_ec-support-bundle-intro.mdx
  docs/partials/support-bundles/_generate-bundle-ec.mdx
  docs/vendor/embedded-troubleshooting.mdx
  docs/vendor/embedded-using.mdx
  sidebars.js
Labels: type::feature, type::docs

#3132 fix(ec): 7443 only required on loopback interface
  docs/partials/embedded-cluster/_port-reqs.mdx
Labels: type::feature, type::chore, type::docs

#3116 HOLD FOR RELEASE Custom domains for EC
  docs/reference/embedded-config.mdx
  docs/vendor/custom-domains-using.md
  docs/vendor/custom-domains.md
  docs/vendor/embedded-overview.mdx
Labels: type::feature, type::docs

#3133 release notes for 2.2.0
  docs/release-notes/rn-embedded-cluster.md
Labels: type::feature, type::docs

#3134 add missing options
  docs/reference/embedded-cluster-install.mdx
Labels: type::feature, type::docs

#3135 Update Replicated CLI docs for v0.98.2
  docs/reference/replicated-cli-app-create.mdx
  docs/reference/replicated-cli-app-ls.mdx
  docs/reference/replicated-cli-app-rm.mdx
  docs/reference/replicated-cli-channel-create.mdx
  docs/reference/replicated-cli-channel-inspect.mdx
  docs/reference/replicated-cli-channel-ls.mdx
  docs/reference/replicated-cli-cluster-addon-create-object-store.mdx
  docs/reference/replicated-cli-cluster-addon-ls.mdx
  docs/reference/replicated-cli-cluster-create.mdx
  docs/reference/replicated-cli-cluster-ls.mdx
  docs/reference/replicated-cli-cluster-nodegroup-ls.mdx
  docs/reference/replicated-cli-cluster-port-expose.mdx
  docs/reference/replicated-cli-cluster-port-ls.mdx
  docs/reference/replicated-cli-cluster-port-rm.mdx
  docs/reference/replicated-cli-cluster-update-nodegroup.mdx
  docs/reference/replicated-cli-cluster-update-ttl.mdx
  docs/reference/replicated-cli-cluster-upgrade.mdx
  docs/reference/replicated-cli-cluster-versions.mdx
  docs/reference/replicated-cli-customer-create.mdx
  docs/reference/replicated-cli-customer-inspect.mdx
  docs/reference/replicated-cli-customer-ls.mdx
  docs/reference/replicated-cli-customer-update.mdx
  docs/reference/replicated-cli-default-set.mdx
  docs/reference/replicated-cli-default-show.mdx
  docs/reference/replicated-cli-installer-ls.mdx
  docs/reference/replicated-cli-instance-inspect.mdx
  docs/reference/replicated-cli-instance-ls.mdx
  docs/reference/replicated-cli-instance-tag.mdx
  docs/reference/replicated-cli-registry-add-dockerhub.mdx
  docs/reference/replicated-cli-registry-add-ecr.mdx
  docs/reference/replicated-cli-registry-add-gar.mdx
  docs/reference/replicated-cli-registry-add-gcr.mdx
  docs/reference/replicated-cli-registry-add-ghcr.mdx
  docs/reference/replicated-cli-registry-add-other.mdx
  docs/reference/replicated-cli-registry-add-quay.mdx
  docs/reference/replicated-cli-registry-ls.mdx
  docs/reference/replicated-cli-release-inspect.mdx
  docs/reference/replicated-cli-release-lint.mdx
  docs/reference/replicated-cli-release-ls.mdx
  docs/reference/replicated-cli-vm-create.mdx
  docs/reference/replicated-cli-vm-ls.mdx
  docs/reference/replicated-cli-vm-port-expose.mdx
  docs/reference/replicated-cli-vm-port-ls.mdx
  docs/reference/replicated-cli-vm-port-rm.mdx
  docs/reference/replicated-cli-vm-update-ttl.mdx
  docs/reference/replicated-cli-vm-versions.mdx
Labels: type::feature, type::docs

#3110 Vendor Portal v2025.03.13-5 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#3130 Vendor Portal v2025.03.25-0 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#3139 add missing `spec.`
  docs/release-notes/rn-embedded-cluster.md
Labels: type::feature, type::docs

#3138 change yourcompany to mycompany
  docs/partials/custom-resource-application/_proxyRegistryDomain.mdx
  docs/partials/custom-resource-application/_replicatedRegistryDomain.mdx
  docs/vendor/helm-native-v2-using.md
Labels: type::feature, type::docs

#3140 App Manager v1.124.10 release notes
  docs/release-notes/rn-app-manager.md
Labels: type::feature, type::docs

#3149 Update Replicated CMX supported versions docs
  docs/vendor/testing-supported-clusters.md
Labels: type::feature, type::docs
