Repository replicatedhq/replicated-docs, pull requests merged in 2025-04, with the labels that each got.

#3153 Update Replicated CMX supported versions docs
  docs/vendor/testing-supported-clusters.md
Labels: type::feature, type::docs

#3142 Replicated SDK 1.3.0 Release Notes
  docs/partials/replicated-sdk/_dependency-yaml.mdx
  docs/release-notes/rn-replicated-sdk.md
  docs/vendor/replicated-sdk-installing.mdx
Labels: type::feature, type::docs

#3154 Replicated SDK 1.4.0 Release Notes
  docs/partials/replicated-sdk/_dependency-yaml.mdx
  docs/release-notes/rn-replicated-sdk.md
  docs/vendor/replicated-sdk-installing.mdx
Labels: type::feature, type::docs

#3156 Update Replicated CMX supported versions docs
  docs/vendor/testing-supported-clusters.md
Labels: type::feature, type::docs

#3158 App Manager v1.124.12 release notes
  docs/release-notes/rn-app-manager.md
Labels: type::feature, type::docs

#3159 Kubernetes Installer v2025.04.03-0 release notes
  docs/release-notes/rn-kubernetes-installer.md
Labels: type::feature, type::docs

#3160 feat(ec): release 2.3.0
  docs/release-notes/rn-embedded-cluster.md
Labels: type::feature, type::docs

#3161 refine release notes
  docs/release-notes/rn-embedded-cluster.md
Labels: type::feature, type::docs

#3162 Document ability to configure workerProfiles
  docs/reference/embedded-config.mdx
Labels: type::feature, type::docs

#3168 Don't use default for name
  docs/reference/embedded-config.mdx
Labels: type::feature, type::docs

#3169 What's new did you know for April 2025
  docs/intro.md
Labels: type::feature, type::docs

#3163 Replicated SDK 1.5.0
  docs/partials/replicated-sdk/_dependency-yaml.mdx
  docs/release-notes/rn-replicated-sdk.md
  docs/vendor/replicated-sdk-installing.mdx
Labels: type::feature, type::docs

#3171 caution use of 2.3.0
  docs/release-notes/rn-embedded-cluster.md
Labels: type::feature, type::docs

#3173 Edits to worker profile description
  docs/reference/embedded-config.mdx
Labels: type::feature, type::docs

#3172 clarify 2.3.0 note
  docs/release-notes/rn-embedded-cluster.md
Labels: type::feature, type::docs

#3174 Use ubuntu-latest github runners
  .github/workflows/app-manager-release-notes.yml
  .github/workflows/kubernetes-installer-release-notes.yml
  .github/workflows/vendor-portal-release-notes.yml
Labels: type::feature, type::chore, type::docs

#3177 Embedded Cluster 2.3.1 release notes
  docs/release-notes/rn-embedded-cluster.md
Labels: type::feature, type::docs

#3178 Update policies-support-lifecycle.md
  docs/enterprise/installing-general-requirements.mdx
  docs/partials/install/_kubernetes-compatibility.mdx
  docs/vendor/policies-support-lifecycle.md
Labels: type::feature, type::docs

#3141 Update steps for using the proxy registry in Helm installs
  docs/partials/proxy-service/_step-creds.mdx
  docs/partials/proxy-service/_step-custom-domain.mdx
  docs/vendor/helm-image-registry.mdx
Labels: type::feature, type::docs

#3143 Vendor Portal v2025.03.27-1 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#3182 Update installing-embedded-automation.mdx
  docs/enterprise/installing-embedded-automation.mdx
  docs/reference/embedded-cluster-install.mdx
Labels: bug::normal, type::bug, type::feature, type::docs

#3185 add missing rn
  docs/release-notes/rn-embedded-cluster.md
Labels: type::feature, type::docs

#3187 fix bad link
  docs/release-notes/rn-embedded-cluster.md
Labels: type::feature, type::docs

#3186 Add note about low credit notification
  docs/vendor/testing-pricing.mdx
Labels: type::feature, type::docs

#3188 Fixing a dead link in the SDK values page
  docs/partials/replicated-sdk/_sdk-values.mdx
Labels: type::feature, type::docs

#3190 match styles to open in chatgpt dropdown
  src/theme/EditThisPage/index.js
  src/theme/EditThisPage/styles.module.css
Labels: type::feature, type::docs

#3194 add migration doc
  docs/vendor/embedded-overview.mdx
Labels: type::feature, type::docs

#3193 Update Replicated CMX supported versions docs
  docs/vendor/testing-supported-clusters.md
Labels: type::feature, type::docs

#3189 Manually bump sdk version to 1.5.1
  docs/partials/replicated-sdk/_dependency-yaml.mdx
  docs/release-notes/rn-replicated-sdk.md
  docs/vendor/replicated-sdk-installing.mdx
Labels: type::feature, type::docs

#3199 Update Replicated CLI docs for v0.101.1
  docs/reference/replicated-cli-app.mdx
  docs/reference/replicated-cli-customer-create.mdx
  docs/reference/replicated-cli-customer-update.mdx
  docs/reference/replicated-cli-vm-scp.mdx
  docs/reference/replicated-cli-vm-ssh-endpoint.mdx
  docs/reference/replicated-cli-vm-ssh.mdx
  docs/reference/replicated-cli-vm.mdx
  sidebars.js
Labels: type::feature, type::docs

#3192 Vendor Portal v2025.04.17-2 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: bug::regression, type::bug, type::docs

#3201 update gitignore
  .gitignore
Labels: type::feature, type::docs

#3204 Update Replicated CMX supported versions docs
  docs/vendor/testing-supported-clusters.md
Labels: type::feature, type::docs

#3206 Update Replicated CMX supported versions docs
  docs/vendor/testing-supported-clusters.md
Labels: type::feature, type::docs

#3207 chore: Remove need to have wget in install instructions
  docs/reference/replicated-cli-installing.mdx
Labels: type::feature, type::docs

#3136 HOLD FOR RELEASE: Updates for Embedded Cluster HA
  docs/enterprise/embedded-manage-nodes.mdx
  docs/reference/embedded-config.mdx
  static/images/embedded-cluster-ha-prompt.png
Labels: type::feature, type::docs

#3208 remove extensions limitation
  docs/reference/embedded-config.mdx
Labels: type::feature, type::docs

#3213 App Manager v1.124.16 release notes
  docs/release-notes/rn-app-manager.md
Labels: type::feature, type::docs

#3215 Vendor Portal v2025.04.28-4 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#3219 Update Replicated CLI docs for v0.102.0
  docs/reference/replicated-cli-cluster-create.mdx
  docs/reference/replicated-cli-cluster-port-expose.mdx
  docs/reference/replicated-cli-cluster-update-ttl.mdx
  docs/reference/replicated-cli-vm-create.mdx
  docs/reference/replicated-cli-vm-port-expose.mdx
  docs/reference/replicated-cli-vm-ssh-endpoint.mdx
  docs/reference/replicated-cli-vm-update-ttl.mdx
Labels: type::feature, type::docs
