Repository replicatedhq/replicated-docs, pull requests merged in 2025-07, with the labels that each got.

#3339 Clarify how you need to configure builder for Helm air gap installs
  docs/reference/custom-resource-helmchart-v2.mdx
  docs/vendor/helm-install-airgap.mdx
  docs/vendor/helm-install-troubleshooting.mdx
  static/images/enterprise-portal-installation-guide-helm-air-gap.png
Labels: type::feature, type::docs

#3352 Embedded Cluster 2.7.1+k8s-1.31 release notes
  docs/release-notes/rn-embedded-cluster.md
Labels: type::feature, type::docs

#3354 more 2.7.1 notes
  docs/release-notes/rn-embedded-cluster.md
Labels: type::feature, type::docs

#3353 add enterprise portal diagram
  docs/vendor/enterprise-portal-about.mdx
  static/images/enterprise-portal-overview.png
Labels: type::feature, type::docs

#3355 Kubernetes Installer v2025.07.03-0 release notes
  docs/release-notes/rn-kubernetes-installer.md
Labels: type::feature, type::docs

#3356 add what's new / did you know for july 2025
  docs/intro.md
Labels: type::feature, type::docs

#3361 Edit EP overview diagram
  static/images/enterprise-portal-overview.png
Labels: type::feature, type::docs

#3367 Update custom-resource-config.mdx
  docs/reference/custom-resource-config.mdx
Labels: type::feature, type::docs

#3363 Build data is not used when determining instance sequence
  docs/enterprise/updating-app-manager.mdx
  docs/vendor/releases-about.mdx
  docs/vendor/releases-creating-channels.md
  static/images/semver-graphic.png
Labels: type::feature, type::docs

#3369 Kubernetes Installer v2025.07.09-0 release notes
  docs/release-notes/rn-kubernetes-installer.md
Labels: type::docs

#3380 fixing broken links
  docs/enterprise/embedded-manage-nodes.mdx
  docs/partials/replicated-cli/_authorize-with-token-note.mdx
  docs/partials/replicated-cli/_install-docker.mdx
  docs/vendor/custom-domains-using.md
  docs/vendor/customer-reporting.md
  docs/vendor/embedded-overview.mdx
  docs/vendor/embedded-using.mdx
  docs/vendor/helm-install-airgap.mdx
  docs/vendor/helm-v2-migrate.md
  docs/vendor/instance-insights-details.md
  docs/vendor/licenses-about.mdx
  docs/vendor/releases-about.mdx
  docs/vendor/releases-creating-channels.md
  docs/vendor/releases-creating-releases.mdx
  docs/vendor/replicated-onboarding.mdx
Labels: type::feature, type::docs

#3379 Vendor Portal v2025.07.15-0 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#3382 Vendor Portal v2025.07.16-3 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#3383 Vendor Portal v2025.07.16-6 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#3388 Update Replicated CMX supported versions docs
  docs/vendor/testing-supported-clusters.md
Labels: type::feature, type::docs

#3390 feat(ec): release 2.7.3
  docs/release-notes/rn-embedded-cluster.md
Labels: type::feature, type::docs

#3392 chore(kots): update kubernetes supported versions
  .github/workflows/app-manager-release-notes.yml
Labels: type::feature, type::chore, type::docs

#3393 Update rn-app-manager.md
  docs/release-notes/rn-app-manager.md
Labels: type::feature, type::docs

#3394 Update policies-support-lifecycle.md
  docs/vendor/policies-support-lifecycle.md
Labels: type::feature, type::docs

#3395 Update _kubernetes-compatibility.mdx
  docs/partials/install/_kubernetes-compatibility.mdx
Labels: type::feature, type::docs

#3391 App Manager v1.125.0 release notes
  docs/release-notes/rn-app-manager.md
Labels: type::feature, type::docs

#3396 Kubernetes Installer v2025.07.23-0 release notes
  docs/release-notes/rn-kubernetes-installer.md
Labels: type::feature, type::docs

#3402 CMX - EKS 1.30 is now extended support
  docs/vendor/testing-supported-clusters.md
Labels: type::feature, type::docs

#3403 Updates Helm chart weight documentation
  docs/partials/helm/_helm-cr-weight.mdx
Labels: type::feature, type::docs

#3408 Document domain restrictions and deleting users from EP
  docs/vendor/enterprise-portal-invite.mdx
  static/images/enterprise-portal-delete-user.png
  static/images/enterprise-portal-domain-restrictions.png
Labels: type::feature, type::docs

#3409 reduce headless EC install docs confusion
  docs/enterprise/installing-embedded-automation.mdx
Labels: type::feature, type::docs
