Repository replicatedhq/replicated-docs, pull requests merged in 2025-02, with the labels that each got.

#3017 App Manager v1.124.1 release notes
  docs/release-notes/rn-app-manager.md
Labels: type::feature, type::docs

#3005 feat: embedded cluster 1.22.0 release
  docs/release-notes/rn-embedded-cluster.md
Labels: type::feature, type::docs

#3020 Add Helm troubleshooting info
  docs/vendor/helm-install-airgap.mdx
  docs/vendor/helm-install-release.md
  docs/vendor/helm-install-troubleshooting.mdx
  sidebars.js
Labels: type::feature, type::docs

#3022 Vendor Portal v2025.01.31-2 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#3026 Vendor Portal v2025.02.03-4 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#3028 App Manager v1.124.2 release notes
  docs/release-notes/rn-app-manager.md
Labels: type::feature, type::docs

#3029 Replicated SDK 1.1.0 release Notes
  docs/partials/replicated-sdk/_dependency-yaml.mdx
  docs/release-notes/rn-replicated-sdk.md
  docs/vendor/replicated-sdk-installing.mdx
Labels: type::feature, type::docs

#3030 Vendor Portal v2025.02.04-2 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#3031 Add limitation related to setting data dir when joining nodes
  docs/enterprise/embedded-manage-nodes.mdx
  docs/partials/embedded-cluster/_requirements.mdx
  docs/reference/embedded-cluster-install.mdx
Labels: type::feature, type::docs

#3032 whats new did you know feb 2025
  docs/intro.md
Labels: type::feature, type::docs

#3033 Remove missed BETA label on SDK
  docs/vendor/licenses-verify-fields-sdk-api.md
Labels: type::feature, type::docs

#3034 add ec al2 limitation
  docs/vendor/embedded-overview.mdx
Labels: type::feature, type::docs

#3035 App Manager v1.124.3 release notes
  docs/release-notes/rn-app-manager.md
Labels: type::feature, type::docs

#3036 clarify that you can template files other than EC Config
  docs/vendor/embedded-overview.mdx
Labels: type::feature, type::docs

#3041 feat(ec): release 2.0.0
  docs/release-notes/rn-embedded-cluster.md
Labels: type::feature, type::docs

#3038 Vendor Portal v2025.02.06-2 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#3040 Vendor Portal v2025.02.07-1 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#3045 move out of beta
  docs/vendor/licenses-install-types.mdx
Labels: type::feature, type::docs

#3048 Kubernetes Installer v2025.02.12-0 release notes
  docs/release-notes/rn-kubernetes-installer.md
Labels: type::feature, type::docs

#3047 Remove Alpha and Beta label references on Helm Air Gap
  docs/vendor/helm-install-airgap.mdx
  docs/vendor/kots-faq.mdx
  docs/vendor/using-third-party-registry-proxy.mdx
Labels: type::feature, type::docs

#3009 feat(sdk): add Replicated Helm Install values schema
  docs/partials/helm/_helm-diagram-overview.mdx
  docs/partials/replicated-sdk/_sdk-values.mdx
  docs/vendor/helm-image-registry.mdx
  docs/vendor/helm-install-overview.mdx
  docs/vendor/helm-install-values-schema.mdx
  docs/vendor/licenses-using-builtin-fields.mdx
  docs/vendor/replicated-sdk-overview.mdx
  docs/vendor/replicated-sdk-slsa-validating.md
  sidebars.js
Labels: type::feature, type::docs

#3050 Kubernetes Installer v2025.02.14-0 release notes
  docs/release-notes/rn-kubernetes-installer.md
Labels: type::feature, type::docs

#3049 App Manager v1.124.4 release notes
  docs/release-notes/rn-app-manager.md
Labels: type::feature, type::docs

#3054 Release notes for EC 2.1.0
  docs/release-notes/rn-embedded-cluster.md
Labels: type::feature, type::docs

#3061 al2 works now
  docs/vendor/embedded-overview.mdx
Labels: bug::normal, type::bug, type::docs

#3058 feat(ec): release 2.1.1
  docs/release-notes/rn-embedded-cluster.md
Labels: type::feature, type::docs

#3063 Release notes for Replicated SDK 1.1.1
  docs/partials/replicated-sdk/_dependency-yaml.mdx
  docs/release-notes/rn-replicated-sdk.md
  docs/vendor/replicated-sdk-installing.mdx
Labels: type::feature, type::docs

#3062 remove yarn and only use npm to fix dependencies
  README.md
  package-lock.json
  package.json
  yarn.lock
Labels: type::security

#3064 feat(ec): document firewalld configuration
  docs/enterprise/installing-embedded-requirements.mdx
  docs/partials/embedded-cluster/_port-reqs.mdx
Labels: type::feature, type::docs

#3065 feat(ec): release 2.1.2
  docs/release-notes/rn-embedded-cluster.md
Labels: type::feature, type::docs

#3067 Markers for CMX cluster versions
  docs/vendor/testing-supported-clusters.md
Labels: type::feature, type::docs

#3060 Update info for CAAs in Configure a Custom Domain section
  docs/vendor/custom-domains-using.md
Labels: type::feature, type::docs

#3071 minor updates to dependabot config
  .github/dependabot.yml
Labels: type::chore

#3073 Update LAM port requirements to remove air gap only
  docs/partials/embedded-cluster/_port-reqs.mdx
Labels: type::feature, type::docs

#3076 edit ec command line install topic title
  docs/enterprise/installing-embedded-automation.mdx
  docs/reference/embedded-cluster-install.mdx
Labels: type::feature, type::docs

#3079 Update Replicated CMX supported versions docs
  docs/vendor/testing-supported-clusters.md
Labels: type::feature, type::docs

#3082 explain midnight is at the beginning of the day
  docs/vendor/licenses-about.mdx
  docs/vendor/licenses-using-builtin-fields.mdx
Labels: type::feature, type::docs

#3080 EC 2.1.3 release notes
  docs/partials/embedded-cluster/_ec-config.mdx
  docs/partials/getting-started/_gitea-ec-config.mdx
  docs/reference/embedded-config.mdx
  docs/release-notes/rn-embedded-cluster.md
Labels: type::feature, type::docs

#3083 clarify how to use custom domain when rewriting images
  docs/vendor/helm-native-v2-using.md
Labels: type::feature, type::docs
