Repository replicatedhq/replicated-docs, pull requests merged in 2025-06, with the labels that each got.

#3285 document what k8s version we use to render helm charts
  docs/vendor/helm-packaging-airgap-bundles.mdx
Labels: type::feature, type::docs

#3284 Adding limitation about storage locations for EC Disaster Recovery
  docs/vendor/embedded-disaster-recovery.mdx
Labels: type::feature, type::docs

#3286 enterprise portal beta release
  docs/vendor/customer-reporting.md
  docs/vendor/enterprise-portal-about.mdx
  docs/vendor/enterprise-portal-configure.mdx
  docs/vendor/enterprise-portal-invite.mdx
  docs/vendor/enterprise-portal-use.mdx
Labels: type::feature, type::docs

#3288 Revert "ETCD port 2379 must be open between nodes"
  docs/partials/embedded-cluster/_port-reqs.mdx
  static/vendor/embedded-overview.md
Labels: type::feature, type::chore, type::docs

#3277 Vendor Portal v2025.05.28-4 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#3291 Fixing minor layout glitch
  docs/release-notes/rn-embedded-cluster.md
Labels: type::bug, type::docs

#3293 whats new did you know june 2025
  docs/intro.md
Labels: type::feature, type::docs

#3276 Update CMX history info to discuss Queued Timeout status
  docs/vendor/compatibility-matrix-usage.md
Labels: type::feature, type::docs

#3289 Update testing-supported-clusters.md
  docs/vendor/testing-supported-clusters.md
Labels: type::chore, type::docs

#3301 fix 2.6.0 RNs
  docs/release-notes/rn-embedded-cluster.md
Labels: type::feature, type::docs

#3302 1.6.0 release notes with 'tlsCertSecretName' link
  docs/release-notes/rn-replicated-sdk.md
Labels: type::feature, type::docs

#3305 App Manager v1.124.18 release notes
  docs/release-notes/rn-app-manager.md
Labels: type::feature, type::docs

#3312 release notes instead of github releases
  docs/partials/embedded-cluster/_ec-config.mdx
  docs/partials/getting-started/_gitea-ec-config.mdx
  docs/reference/embedded-config.mdx
  docs/vendor/embedded-using.mdx
Labels: type::feature, type::docs

#3311 Vendor Portal v2025.06.13-4 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#3294 chore(cmx): update support for rke2
  docs/vendor/testing-supported-clusters.md
Labels: type::chore, type::docs

#3321 Replicated Registry: Clarify who gets access and what we recommend
  docs/vendor/packaging-private-registry-security.md
  docs/vendor/private-images-replicated.mdx
Labels: type::feature, type::docs

#3324 Vendor Portal v2025.06.18-2 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#3322 Add RBAC role entries for new Vendor API enterprise portal routes
  docs/vendor/team-management-rbac-resource-names.md
Labels: type::feature, type::docs

#3323 Document the actual RBAC permissions required and the minimalRBAC helm chart value
  docs/vendor/replicated-sdk-customizing.md
Labels: type::feature, type::docs

#3326 remove 1.7.0 beta release notes, add 1.7.0 release notes
  docs/release-notes/rn-replicated-sdk.md
Labels: type::feature, type::docs

#3320 Vendor Portal v2025.06.17-5 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#3331 Add installer type limitaiton
  docs/vendor/enterprise-portal-about.mdx
Labels: type::feature, type::docs

#3332 Improve helm air gap instructions
  docs/partials/helm/_helm-install-prereqs.mdx
  docs/vendor/helm-install-airgap.mdx
Labels: type::feature, type::docs

#3329 Vendor Portal v2025.06.23-0 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#3336 Vendor Portal v2025.06.25-1 release notes
  docs/release-notes/rn-vendor-platform.md
Labels: type::feature, type::docs

#3337 Kubernetes Installer v2025.06.25-0 release notes
  docs/release-notes/rn-kubernetes-installer.md
Labels: type::feature, type::docs

#3338 edit enable ssl for sdk steps
  docs/vendor/replicated-sdk-customizing.md
Labels: type::feature, type::docs

#3342 Remove 1.25 and 1.26 from extended support
  docs/vendor/testing-supported-clusters.md
Labels: type::feature, type::docs

#3346 Update Replicated CMX supported versions docs
  docs/vendor/testing-supported-clusters.md
Labels: type::feature, type::docs

#3349 K8s 1.30 out of support now
  docs/partials/install/_kubernetes-compatibility.mdx
  docs/vendor/policies-support-lifecycle.md
Labels: type::feature, type::docs
